<!DOCTYPE html>
<html>
<head>

<script type="text/javascript">
var jmstoken= store.get('JMS-TOKEN');
$(document).ready(function() {
   var table=$('#tableDo').DataTable( {
        "processing": true,
        "serverSide": true,
	   "stateSave": true,
	   "stateDuration": -1,
        "ajax": {
			"type": 'POST',
            "url": $clientURL+"s/smtfMaterialList",
            "dataType": "json",
			"headers":{'JMS-TOKEN':jmstoken},
			"data": {'typeId':5}
        },
        "columnDefs": [ {
            "targets": -1,
            "data": null,
            "defaultContent": '<button class=button-bin>Detail</button><button class=button-edit>Print</button>'
        } ],
       "language": {
                        "url": "js/datatable/chinese.json"
                   },
      
        dom: "tip",
				"iDisplayLength":"50"
    } );
    $('#tableDo tbody').on( 'click', 'button', function () {
     	 var rowData = table.row( $(this).parents('tr') ).data();
		var clickOption={
			groupId:'doList',
			doListId:rowData[9]
		};
     	var clazz =$(this).attr('class');
     	if(clazz=='button-bin'){
			clickOption.action='detail';
			clickOption.viewId='doList-create-body';
     			$.get("views/doList-create-body.html",function(data){
						RouterManager.setUrl(clickOption);
	                   $("#body").html(data);
	            });

     	}
     	else{
     		$.get("views/print-do.html",function(data){
				clickOption.action='print';
				clickOption.viewId='print-do';
				RouterManager.setUrl(clickOption);
	        	$("#body").html(data);
	      });
     	}
    });
	var historyOptions={
		groupId:'doList'
	};
	//出货管理
	$("#do").click(function(){
		$.get("views/doList.html",function(data){
			RouterManager.setUrl(historyOptions);
			$("#body").html(data);
		});
	});
	//新建出货单
		$("#createDo").click(function(){
	 		$.get("views/doList-create-body.html",function(data){
				historyOptions.viewId='doList-create-body';
				RouterManager.setUrl(historyOptions);
	             $("#body").html(data);
	     	});
	 	});
		//销售退货
	 	$("#rma").click(function(){
	 		$.get("views/rmaList.html",function(data){
				historyOptions.viewId='rmaList';
				RouterManager.setUrl(historyOptions);
	             $("#body").html(data);
	     	});
	 	});
		//新建销售退货
	 	$("#createRma").click(function(){
	 		$.get("views/rma-body.html",function(data){
				historyOptions.viewId='rma-body';
				RouterManager.setUrl(historyOptions);
	             $("#body").html(data);
	     	});
	 	});

} );
</script>

</head>
<body>
<div class="body-head-title">
	 <span class="h-title-selected"><b>Shipping Management</b></span>
     <span class="h-title" id="createDo">Create delivery orders</span>
     <span class="h-title" id="rma">Sales return list</span>
     <span class="h-title" id="createRma">Create sales return</span>
</div>
<div class="cont">
	<!--<div class="r-header-body">-->
		<!--<div class="btn-group btn-group-left">-->
    	<!--<label>客户：</label>-->
    	<!--<div class="sousuo">-->
    		<!--<div class="ss-input">    		-->
    			<!--<input type="text" name="" id="" value="" class="border-none" placeholder="输入要查询的内容"/>-->
    		<!--</div>-->
    		<!--<a href=""><span class="icon-ss-bg"></span>搜索</a>-->
    	<!--</div>-->
  	<!--</div>-->

    <!--<div class="right-list">-->
    	<!--<div class="sousuo">-->
    		<!--<div class="ss-input">    		-->
    			<!--<input type="text" name="" id="codeCo.id" value="" class="border-none" placeholder="输入要查询的内容"/>-->
    		<!--</div>-->
    		<!--<a href=""><span class="icon-ss-bg"></span>搜索</a>-->
    	<!--</div>-->
    <!--</div>-->
	<!--</div>-->
 <table id="tableDo" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
              <th>Job NO.</th>
              <th>Sale No.</th>
              <th>Client</th>
              <th>Due date</th>
              <th>Shipping date</th>
              <th>Pno</th>
              <th>Rev</th>
              <th>Des</th>
              <th>Shipping quantity</th>
              <th style="min-width:105px;">Operation</th>
        </thead>
</table>
</div>
</body>
</html>

