    <div class="container">

        <div class="row">
            <!-- form: -->

            <section>



<br>
                <div class="col-lg-8 col-lg-offset-2">
                    <form id="linkmanForm" method="post" action="index.html" class="form-horizontal">
                        
                            <input type="hidden" id="idLinkman" />  <!-- 联系人编号-->
							<fieldset>
							<legend>联系人</legend>
							<div class="form-group">
                                <label class="col-lg-3 control-label">姓名</label>
                                <div class="col-lg-5">
                                    <input type="text" class="form-control" name="linkmanName" id="linkmanName"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">性别</label>
                                <div class="col-lg-5">
                                	<select class="form-control" name="gender[idDic]:number" id="gender.idDic">
                                	</select>
                                </div>
                            </div> 
                            <div class="form-group">
                                <label class="col-lg-3 control-label">职务</label>
                                <div class="col-lg-5">
                                    <input type="text" class="form-control" name="position" id="position"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">电话</label>
                                <div class="col-lg-5">
                                    <input type="text" class="form-control" name="Tel" id="Tel"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">邮箱</label>
                                <div class="col-lg-5">
                                    <input type="text" class="form-control" name="email" id="email"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">QQ</label>
                                <div class="col-lg-5">
                                    <input type="text" class="form-control" name="QQ" id="QQ"/>
                                </div>
                            </div>			
                            <div class="form-group">
                                <label class="col-lg-3 control-label">微信</label>
                                <div class="col-lg-5">
                                    <input type="text" class="form-control" name="we-chat" id="we-chat"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">旺旺</label>
                                <div class="col-lg-5">
                                    <input type="text" class="form-control" name="wangwang" id="wangwang"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">状态</label>
                                <div class="col-lg-5">
                                    <select class="form-control" name="status[idDic]:number" id="status.idDic">
                                    </select>
                                </div>
                            </div>	
                            <div class="form-group">
                                <label class="col-lg-3 control-label">备注</label>
                                <div class="col-lg-5">
                                    <textarea name="remark" class="autosizejs"></textarea>
                                </div>
                            </div>  
                            <div class="form-group">
                                <div class="col-lg-9 col-lg-offset-3">
                                    <button type="submit" class="btn btn-primary">保存</button>
                                    <button type="button" class="btn btn-primary" id="cancel">取消</button>
                                </div>
                            </div>
                    </form>
                </div>
            </section>
            <!-- :form -->
        </div>
    </div>

<script type="text/javascript">
$(document).ready(function() { 
    $('#gender\\.idDic').selectautofill('dic/gender');
    $('#status\\.idDic').selectautofill('dic/status');
	
	var idLinkman = $('#_key6').val();
	$.linkmanInfo({"id":idLinkman},token,function(data){
		$('#linkmanForm').populate(data,true);
	});
	
    $('#linkmanForm').bootstrapValidator({
        message: 'This value is not valid',
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            
            'linkmanName': {
                validators: {
                    notEmpty: {
                        message: '姓名不能为空'
                    }
                }
            },
            'position': {
                validators: {
                    notEmpty: {
                        message: '职务不能为空'
                    }
                }
            },
            'Tel': {
                validators: {
                    //notEmpty: {},
                    digits: {},
                    phone: {
			//message: '电话号码不合法'
                        country: 'CN'
                    },
                    remote: {
                        type: 'GET',
                         url: $clientURL+'check/tel',
                        name:'linkman',
                        message: '该手机号码已存在，请核对是否正确',
                        delay: 1000
                    }  
                }
            },
            'email': {
                validators: {
                    /*notEmpty: {
                        message: 'The email address is required and can\'t be empty'
                    },*/
                    emailAddress: {
                        message: '邮箱格式不合法。'
                    },
                    remote: {
                        type: 'GET',
                         url: $clientURL+'check/username',
                        name:'login',
                        message: '该邮箱已存在，请核对是否正确',
                        delay: 1000
                    }   
                }
            },
            'QQ': {
                validators: {
                    /*notEmpty: {
                        message: 'The email address is required and can\'t be empty'
                    },*/
                    remote: {
                        type: 'GET',
                         url: $clientURL+'check/username',
                        name:'login',
                        message: '该qq已存在，请核对是否正确',
                        delay: 1000
                    }   
                }
            },
            'wangwang': {
                validators: {
                    /*notEmpty: {
                        message: 'The email address is required and can\'t be empty'
                    },*/
                    remote: {
                        type: 'GET',
                         url: $clientURL+'check/username',
                        name:'login',
                        message: '该旺旺已存在，请核对是否正确',
                        delay: 1000
                    }   
                }
            },
            'weChat': {
                validators: {
                    /*notEmpty: {
                        message: 'The email address is required and can\'t be empty'
                    },*/
                    remote: {
                        type: 'GET',
                         url: $clientURL+'check/username',
                        name:'login',
                        message: '该微信已存在，请核对是否正确',
                        delay: 1000
                    }   
                }
            },
        }
    }).on('success.form.bv', function(e) {
            e.preventDefault();
            var $form     = $(e.target),
            validator = $form.data('bootstrapValidator');
       		var linkman =JSON.stringify($('#linkmanForm').serializeJSON());
		 	var jmstoken= store.get('JMS-TOKEN');
		 	$.createLinkman(linkman,jmstoken,function(data){
			      	$.get("views/linkman-body.html",function(data){
	                    $("#body").html(data);
	             	});
			});
 	   });
	    $('cancel').click(function(){
	 		$.get("views/linkman-body.html",function(data){
	             $("#body").html(data);
	     	});
	 	});
});
</script>

