<script type="text/html" id="mrbBody">
    <div class="container-fluid">
        <div class="row">
            <!-- form: -->
            <section>
                <form id="mrbForm" method="post" action="index.html" class="form-inline returnPCM_Form">
                    <!--<div class="alert alert-success" style="display: none;"></div>-->
                    <div class="body-head-title">
                        <span class="h-title" id="po01">Incoming list</span>
                        <span class="h-title" id="po02">Create incoming</span>
                        <span class="h-title" id="po04">Inspection incoming</span>
                        <span class="h-title" id="po03">Purchase return</span>
                        <span class="h-title-selected"><b id="sub-current-title">Create purchase return</b></span>
                    </div>
                    <div class="col-xs-12 mar-top-20px">
                        <div class="form-group">
                            <label for="" class="input-w-160">Return order No.</label>
                            <input type="text" class="form-control input-w-3" name="mtNo" id="mtNo" readonly  unselectable="on"/>
                        </div>
                        <div class="form-group detail" style="display: none;">
                            <label for="" class="input-w-160">Order time</label>
                            <input type="text" class="form-control input-w-3" name="creationTime" id="creationTime">
                        </div>
                        <div class="form-group detail" style="display: none;">
                            <label for="" class="input-w-160">Order clerk</label>
                            <input type="text" class="form-control input-w-3" name="empMtUser" id="empMtUser">
                        </div>
                    </div>
                    <div class="col-xs-12 mar-top-20px">
                        <div class="form-group">
                            <label for="" class="input-w-160">Supplier</label>
                            <select class="input-w-3 select-cs1 form-control" name="sCompanyCoId:number" id="sCompanyCoId">
                                <option value="">Supplier</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="" class="input-w-160">PO No.</label>
                            <select class="input-w-3 select-cs1 form-control" name="codePo:number" id="codePo">
                                <option value="">PO No.</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="" class="input-w-160">From stock</label>
                            <select class="input-w-3 select-cs1 form-control toStkSelect" name="fromStkId:number" id="fromStkId">
                                <option value="">From stock</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group" style="display:none">
                        <label for="" class="input-w-160">To stock</label>
                        <input type="text" class="form-control input-w-3" name="toStkId:number" id="toStkId">
                    </div>
                    <!--<div class="col-md-10 col-md-offset-1 mar-top-20px">-->
                        <!--<div class="form-group">-->
                            <!--<ul class="new-income-list-nav" id="matlist-ul">-->
                                <!--<li style="width:170px">物料</li>-->
                                <!--<li>单位</li>-->
                                <!--<li style="width:90px">交货日期</li>-->
                                <!--<li>数量</li>-->
                                <!--<li style="margin-left:-19px;width:85px;">批号</li>-->
                                <!--<li style="width:88px">从货架</li>-->
                                <!--<li style="width:88px">备注</li>-->
                                <!--<li style="width:80px">退货数量</li>-->
                                <!--&lt;!&ndash;<li style="min-width:30px;" id="hide01">操作</li>&ndash;&gt;-->
                            <!--</ul>-->
                        <!--</div>-->
                        <!--<div class="form-group" id="matlist" >-->
                        <!--</div>-->
                    <!--</div>-->
                    <!-- +\- over -->
                    <div class="col-xs-12 mar-top-20px changerep_cont">
                        <table id="" cellpadding="0" cellspacing="0" width="872px">
                            <tr>
                                <th width="169px"> Material </th>
                                <th width="71px"> Unit</th>
                                <th width="92px"> Delivery date</th>
                                <th width="69px"> Received qty</th>
                                <th width="87px"> Lot No. </th>
                                <th width="88px"> From bin</th>
                                <th width="88px"> Remark</th>
                                <th width="80px"> Inventory</th>
                                <th width="81px"> Returning qty</th>
                                <th width="47px" id="operation"> Operation</th>
                            </tr>
                        </table>

                        <div class="form-group" id="matlist">
                        </div>   <!-- +\- over -->
                    </div>
                    <!--<div class="col-md-12"> -->
                    <!--<label for="" id="" class="input-w-160">备注</label>-->
                    <!--<textarea class="form-control input-w-300" rows="3" name="remark1" id="remark1"></textarea>-->
                    <!--</div>-->
                    <div class="clearfix"></div>
                    <div class="foot-btn-box">
                        <div class="form-group">
                            <button class="btn btn-primary" id="save">Save</button>
                            <button class="btn btn-info" type="button" id="return01">Return</button>
                        </div>
                    </div>
                    <input type="hidden" id="idMt" name="idMt:number" />
                    <input type="hidden" id="typeId" name="typeId:number" value="2"/>
                </form>
            </section>
            <!-- :form -->
        </div>
    </div>
    <div class="tcbox container-fluid" id="nullAlert">
        <div class="tcbox_cont row">
            <div class="body-head-title">
            </div>
            <input type="button" class="tc_close" onClick="javascript:hideObj('#nullAlert');">
            <div class="col-xs-12 mar-top-20px">
                <div class="form-group">
                    <label id="info"></label>
                </div>
            </div>
        </div>
    </div>
</script>
<script type="text/html" id="mrbItem">

<dl class="matlist" id="item<%= item %>">
    <!--<dd class="income-create-list" style="width: 100%;padding-left: 58px;">-->
    <dd class="income-create-list">
            <input style="width:168px" readonly type="text" class="a" name="smtfItems[item<%= item %>][material]" id="smtfItems.item<%= item %>.material" placeholder="Material" value="<%= data.materialPno %>-<%= data.materialDes %>-<%= data.materialRev %>"/>
            <input style="width:68px" readonly type="text" class="i" name="smtfItems[item<%= item %>][unitPur]:number" id="smtfItems.item<%= item %>.unitPur" placeholder="Unit" value="<%= data.marterialUnit %>"/>
            <input style="width:86px" readonly type="text" class="b" name="smtfItems[item<%= item %>][deliveryDate]:number" id="smtfItems.item<%= item %>.deliveryDate" placeholder="Delivery date" value="<%= data.deliveryDate %>"/>
            <input style="width:67px" type="text" readonly class="o" name="smtfItems[item<%= item %>][qtyReceived]" id="smtfItems.item<%= item %>.qtyReceived" value="<%= data.qtyReceived %>"/>
            <!--<input style="width:67px" readonly type="text" class="c" name="smtfItems[item<%= item %>][qtyPo]:number" id="smtfItems.item<%= item %>.qtyPo" placeholder="数量" value="<%= data.qtyPo %>"/>-->
            <input style="width:82px" readonly type="text" class="d" name="smtfItems[item<%= item %>][lotNo]" id="smtfItems.item<%= item %>.lotNo" placeholder="Lot No." value="<%= data.lotNo %>"/>
            <input style="width:85px" readonly type="text" class="e" name="smtfItems[item<%= item %>][fromBin]" id="smtfItems.item<%= item %>.fromBin" placeholder="From bin" value="<%= data.fromBin %>"/>
            <input type="hidden" readonly class="k" name="smtfItems[item<%= item %>][fromBinId]" id="smtfItems.item<%= item %>.fromBinId" placeholder="From bin" value="<%= data.fromBinId %>"/>
            <input type="hidden" readonly class="g" name="smtfItems[item<%= item %>][toBinId]" id="smtfItems.item<%= item %>.toBinId" placeholder="To bin" value="<%= data.toBinId %>"/>
            <input style="width:85px" readonly type="text" class="f" name="smtfItems[item<%= item %>][remark]" id="smtfItems.item<%= item %>.remark" placeholder="Remark" value="<%= data.remark %>"/>
            <input style="width:77px" readonly type="text" class="n" name="smtfItems[item<%= item %>][inventoryQty]:number" id="smtfItems.item<%= item %>.inventoryQty" placeholder="Inventory" value="<%= data.inventoryQty %>"/>
            <input style="width:77px" type="text" class="h" name="smtfItems[item<%= item %>][qty]:number" id="smtfItems.item<%= item %>.qty" placeholder="Returning qty" value="<%= data.qty %>"/>
            <input type="hidden" readonly class="j" name="smtfItems[item<%= item %>][materialId]:number" id="smtfItems.item<%= item %>.materialId" value="<%= data.materialId %>"/>
            <input type="hidden" readonly class="l" name="smtfItems[item<%= item %>][poMaterialId]:number" id="smtfItems.item<%= item %>.poMaterialId" value="<%= data.poMaterialId %>"/>
            <input type="hidden" readonly class="m" name="smtfItems[item<%= item %>][typeId]:number" id="smtfItems.item<%= item %>.typeId"  value="2"/>
            <% if(action != 'detail') { %>
            <span style="width:12%" class="action">
                <!--<a class="button-sytle1 new-income-add">+</a>-->
                <a class="button-sytle1 new-income-delete" style="margin: 0;">-</a>
            </span>
            <% } %>
    </dd>
</dl>
</script>
<!--新建采购退货-->
<script type="text/javascript">
var jmstoken= store.get('JMS-TOKEN');
//弹窗
function showObj(objid){
    $(objid).show();

}
function hideObj(objid){
    $(objid).hide();
}
var newIncomeListEntry = {
    init: function () {
        this.mrbItem = _.template($('#mrbItem').html());

        var params = this.params = RouterManager.getParams();
        var groupId=params['groupId'];

        $('#body').html($('#mrbBody').html());
        
        this.$matList = $('#matlist');
        this.initData();
        //绑定事件

        this.bindEvents(groupId);
        this.form();
    },
    initData: function() {
        var self = this;
        var params=RouterManager.getParams();
        var action=params['action'];
        var idMt = params['mrbId'];
        
        if(idMt) {
            this.loadDetail(idMt, function() {
                self.dealAction(action);
            });
        } else {
            this.initNew();
//            this.$matList.append(this.createRow());
        }
    },
    loadDetail: function(idMt, callback) {
        var self = this;
        $.mtfInfo(idMt,jmstoken, function(data) {
            $(".detail").show();
            $('#mrbForm').populate(data, true);
            $('#creationTime').val($.dateFormat.date(new Date(data.creationTime), 'yyyy-MM-dd'));

            var smtfItems = '';
            _(data.smtfItems).each(function(item) {
                smtfItems += self.createRow(item);
            });
            self.$matList.append(smtfItems);
            
            self.fillSCompanyCo(function() {
                $('#sCompanyCoId').val(data.coCompanyId);
                self.fillCodePo(function() {
                    $('#codePo').val(data.poId)
                });
            });


            $('#fromStkId').html('<option value="' + data.fromStkId + '">' + data.fromStk + '</option>');
//            self.fillFromStk(function() {
//                $('#fromStkId').val(data.fromStkId);
//            });
            
            callback && callback();
        });
    },
    initNew: function() {
        var self = this;
        //如果是编辑页面，去除收货数量显示
//        $('[id*="inspection"]').remove();
        self.fillSCompanyCo();
        
        self.fillFromStk();
        $.mtfStkInfo('PO',jmstoken,function(data) {
            $('#toStkId').val(data.idStk);
        });
    },
    dealAction: function(action) {
        if(action=='detail') {
            $('#hide01').hide();
            $('#sub-current-title').html('Return order detail');
            //如果是详情页面的话
            $('input,select,textarea',$('#mrbForm')).prop('disabled',true);
            $('#_key31').val("");
            $('#save').hide();
            $('#operation').hide();
            $('table','#mrbForm').attr('width','825px');
        }
    },
    defaultData: {},
    createRow: function(data) {
        var self = this;
        var row = parseInt(self.$matList.data('row'));
        
        if(!row) {
            row = 1;
        }
        
        if(!data) {
            data = self.defaultData;
        }
        
        var param = {
            data: data,
            item: row,
            action: self.params.action
        }
        
        var html = self.mrbItem(param);
        self.$matList.data('row', row + 1);

        return html;
    },
    addRow: function(e) {
        e.stopPropagation();
        
        var $t = $(e.target);
        var html = this.createRow();

        $t.closest('dl').after(html);
    },
    delRow: function(e) {
        var $t = $(e.target);
        if(this.$matList.find('.matlist').length == 1) {
            return;
        }
        $t.closest('dl').remove();
    },
    loadToBin: function($el, callback) {
        if(!$el) {
            $el = $('.g');
        } else {
            $el = $el.find('.g');
        }
        $.mtfBinInfo(8,'PO',jmstoken,function(data){
            $el.val(data.idBin);
        });
    },
    fillSCompanyCo: function(callback) {
        $('#sCompanyCoId').selectautofill('s/getCompanyCoList',{headers:{'JMS-TOKEN':store.get('JMS-TOKEN')},data:{'coCompanyType':1}}, callback);
    },
    fillCodePo: function(callback) {
        var codePoDom = $('#codePo');
        var codeCo = $('#sCompanyCoId').val();

        codePoDom.empty();

        codePoDom.append("<option>PO No.</option>");
        codePoDom.selectautofill('s/spoList', {headers: {'JMS-TOKEN': store.get('JMS-TOKEN')},data: {'codeCo': codeCo}}, callback);
    },
    fillFromStk: function(callback) {
        $('#fromStkId').selectautofill('s/getStksByTypes?statusId=27&types=4&types=1&types=5',{headers:{'JMS-TOKEN':store.get('JMS-TOKEN')}});
//        $('#fromStkId').selectautofill('s/getStks',{headers:{'JMS-TOKEN':store.get('JMS-TOKEN')},data:{'statusId':27}}, callback);
    },
    bindEvents: function (groupId) {
        var jmstoken= store.get('JMS-TOKEN');
        var historyParams={
            groupId:'incomeList'
        };
        $('#return01').click(function () {
            if(groupId == 'mtfList'){
                var typeId = $('#typeId').val();
                $.get("views/mtfList.html", function (data) {
                    $("#body").html(data);
                    RouterManager.setUrl({
                        groupId:'mtfList',
                        typeId:typeId
                    });
                });
            }
            else{
                $.get("views/mrbList.html", function (data) {
                    $("#body").html(data);
                    RouterManager.setUrl({
                        groupId:'incomeList',
                        viewId:'mrbList'
                    });
                });
            }
        });
        //来料入库
        $("#po01").click(function () {
            $.get("views/incomeList.html", function (data) {
//                delete historyParams.type;
                RouterManager.setUrl(historyParams);
                $("#body").html(data);
            });
        });
        //新建入检
        $("#po02").click(function () {
            $.get("views/incomeList-create-body.html", function (data) {
                historyParams.viewId='incomeList-create-body';
                RouterManager.setUrl(historyParams);
                $("#body").html(data);
            });
        });
        //新建入库
        $("#po04").click(function () {
            $.get("views/incomeList-checked-body.html", function (data) {
                historyParams.viewId='incomeList-checked-body';
                RouterManager.setUrl(historyParams);
                $("#body").html(data);
            });
        });
        //采购退货
        $("#po03").click(function () {
            $.get("views/mrbList.html", function (data) {
                historyParams.viewId='mrbList';
                RouterManager.setUrl(historyParams);
                $("#body").html(data);
            });
        });

        var pushData = [];

        var lotNoList = [];
        var self = this;
        var $mrbForm = $('#mrbForm');
        //增加行
        $mrbForm.on('click.nrpAdd', '.new-income-add', self.addRow.bind(self));
        //删除行
        $mrbForm.on('click.nrpDel', '.new-income-delete', self.delRow.bind(self));
        $mrbForm.on('focus', 'input, select', function(e) {
            $(this).removeClass('error');
        });
        //到仓库change事件,修改供应商列表
        $mrbForm.on("change.nrpJMS", "#fromStkId", function () {//修改成这样的写法
            $('.e').empty();
            var idStk = $(this).val();
            $(".e").selectautofill('s/getBins', {
                headers: {'JMS-TOKEN': store.get('JMS-TOKEN')},
                data: {'idStk': idStk}
            });
            self.findWSSMtfMaterialBySpoIdAndStkId();
        });
        //采购单编码的change事件,修改物料编号列表
        $mrbForm.on("change.changeOrderID", "#codePo", self.findWSSMtfMaterialBySpoIdAndStkId.bind(self));

        //供应商change事件,修改采购单编码
        $mrbForm.on("change.changeSupplier", "#sCompanyCoId", function () {
            self.fillCodePo();
        });
    },
    form: function() {
        var self = this;
        $('#mrbForm').bootstrapValidator({
            message: 'This value is not valid',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
//                'mtNo': {
//                    validators: {
//                        notEmpty: {
//                            message: '请填写退货单编码'
//                        }
//                    }
//                },
                'sCompanyCoId:number': {
                    validators: {
                        notEmpty: {
                            message: 'Please select a supplier'
                        }
                    }
                },
                'codePo:number': {
                    validators: {
                        notEmpty: {
                            message: 'Please select a PO No.'
                        }
                    }
                },
                'fromStkId:number': {
                    validators: {
                        notEmpty: {
                            message: 'Please select a from stock.'
                        }
                    }
                }
            }
        }).on('success.form.bv', function(e) {
            e.preventDefault();
            if(!self.validateMatlist()) {
                var top = $('#body').scrollTop();
                $('#nullAlert').css({
                    top: $(window).height() * 0.2 + top
                }).show();
                $('#info').empty();
                $('#info').append('Validation is not passed');
//                alert('验证不通过');
                return;
            }
            var $form = $(e.target),
            validator = $form.data('bootstrapValidator');
            var mrb =JSON.stringify($('#mrbForm').serializeJSON());
            var jmstoken= store.get('JMS-TOKEN');
            debugger;
            $.saveMtf(mrb,jmstoken,function(data){
                debugger;
                $.get("views/mrbList.html",function(data){
                    $("#body").html(data);
                    RouterManager.setUrl({
                        groupId:'incomeList',
                        viewId:'mrbList'
                    });
                });
//                history.go(-1);
            });
        });
    },
    validateMatlist: function() {
        var $list = $('#matlist');
        var $items = $list.find('.matlist');
        var flag = true;

        if(!$items.length) {
            flag = false;
        }

        $items.each(function(i) {
            var $t = $(this);
            var inventory = $t.find('.n').val();
            var $qty = $t.find('.h');
            if(!$qty.val()|| !parseInt($qty.val())||parseInt($qty.val())>parseInt(inventory)) {
                debugger;
                $t.find('.h').addClass('error');
                flag = false;
            }

        });

        return flag;
    },
    findWSSMtfMaterialBySpoIdAndStkId: function() {
        var self = this;
        var spoId = parseInt($.trim($('#codePo').val()));
        var stkId = parseInt($.trim($('#fromStkId').val()));
        var jmstoken= store.get('JMS-TOKEN');
        
        if(!stkId) {
            return;
        }
        
        if(stkId && !spoId) {
            return alert('请选择采购单编码');
        }

        $.poIncomeMatInfo(spoId,stkId,jmstoken,function(data){
            var smtfItems = '';
            _(data).each(function(item) {
                debugger;
                if(item.qty>item.qtyStored){
                    item.qty=item.qtyStored;
                }
                item.inventoryQty = item.qtyStored;
//                item.fromBin = item.currentBin;
//                item.fromBinId = item.currentBinId;
                smtfItems += self.createRow(item);
            });
            self.$matList.empty().append(smtfItems);
            var $list = $('#matlist');
            var $items = $list.find('.matlist');
            $items.each(function(i) {
                var $dl = $(this);
                self.loadToBin($dl);
            });
        });
    }
};
newIncomeListEntry.init();


</script>