    <div class="container">

        <div class="row">
            <!-- form: -->

            <section>



<br>
                <div class="col-lg-8 col-lg-offset-2">
                    <form id="finalAuditForm" method="post" action="index.html" class="form-horizontal">
                        
							<fieldset>
							<div class="form-group">
                                <label class="col-lg-3 control-label">工单号</label>
                                <div class="col-lg-5">
                                	<label class="col-lg-3 control-label" name="woNo" id="woNo"></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">零件名称</label>
                                <div class="col-lg-5">
                                	<label class="col-lg-3 control-label" name="matDes" id="matDes"></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">图纸号</label>
                                <div class="col-lg-5">
                                	<label class="col-lg-3 control-label" name="drawNo" id="drawNo"></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">项目名称</label>
                                <div class="col-lg-5">
                                    <label class="col-lg-3 control-label" name="projectName" id="projectName"></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">工序</label>
                                <div class="col-lg-5">
                                	<label class="col-lg-3 control-label" name="routeDes" id="routeDes"></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">生产批次</label>
                                <div class="col-lg-5">
                                	<label class="col-lg-3 control-label" name="lotNo" id="lotNo"></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <table id="table1" class="display" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th>编号</th>
                                            <th>检查项目</th>
                                            <th>检验方法</th>
                                            <th>规格</th>
                                            <th>检验频次</th>
                                            <th>1</th>
                                            <th>2</th>
                                            <th>3</th>
                                            <th>4</th>
                                            <th>5</th>
                                            <th>6</th>
                                            <th>+</th>
                                            <th>-</th>
                                        </tr>
                                    </thead> 
                                </table>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">检验结果</label>
                                <div class="col-lg-5">
                                    <label class="col-lg-3 control-label" name="result" id="result"></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">检验员</label>
                                <div class="col-lg-5">
                                	<label class="col-lg-3 control-label" name="inspector" id="inspector"></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">日期</label>
                                <div class="col-lg-5">
                                	<label class="col-lg-3 control-label" name="date" id="date"></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-9 col-lg-offset-3">
                                    <button type="button" class="btn btn-primary" id="return">返回</button>
                                </div>
                            </div>
                    </form>
                </div>
            </section>
            <!-- :form -->  
        </div>
    </div>
<script type="text/javascript">

$(document).ready(function() {
	
	var idFinalAudit = $('#_key25').val();
	$.finalAuditInfo({"id":idFinalAudit},token,function(data){
		$('#woNo').html(data.woNo);
		$('#matDes').html(data.matDes);
		$('#drawNo').html(data.drawNo);
		$('#projectName').html(data.projectName);
		$('#routeDes').html(data.routeDes);
		$('#lotNo').html(data.lotNo);		
		$('#result').html(data.result);
		$('#inspector').html(data.inspector);
		$('#date).html(data.date);
	});
    
    $('#table1').DataTable( {
        deferRender:  true,
        "processing": true,
        "serverSide": true,
        scrollY:"350px",
        scrollCollapse: true,
        "ajax": {
            "url": "http://115.28.24.76:8080/jms-integration-1.0/dic/test",
            "dataType": "json"
        },
       "language": {
                        "url": "js/datatable/chinese.json"
                   },
      
        dom: "rtiS",
        scroller: {
           loadingIndicator: true
        }
    } );
    
 	   
 	   $('#return').click(function(){
	 		$.get("views/q-finalAuditList.html",function(data){
	             $("#body").html(data);
	     	});
	 	});
 	   
} );
</script>
    



