<!DOCTYPE html>
<html>
<head>

<script type="text/javascript">
    var jmstoken = store.get('JMS-TOKEN');

    function openwin()
    { window.open ("views/q-noProcessing-create.html", "newwindow", "height=auto, width=auto, top=0,left=0,toolbar=no, menubar=no, scrollbars=no, resizable=no, location=no, status=no")
    }
    var noProcessing  = {
        init:function(){
//            location.reload();
            this.bindEvents();
            this.loadTable();
        },
        loadTable:function(){
            var self = this;
//            var data = {};
//            if ($('#status').html() == '部门'){
//                data.idStatus = null;
//            }
//            else{
//                var idStatus = $('#status-select').val();
//                data.idStatus = idStatus;
//            }
            this.table = $('#noProcessingList').DataTable( {
//      deferRender:  true,
                "processing": true,
                "serverSide": true,
                "stateSave": true,
                "stateDuration": -1,
//      scrollY:"350px",
//      scrollCollapse: true,
                "ajax": {
                    "type": 'POST',
                    "url": $clientURL + "q/getQNoProcessList",
                    "dataType": "json",
//                    "data":data,
                    "headers":{'JMS-TOKEN':jmstoken}
                },
                "columnDefs": [ {
                    "targets": -1,
                    "data": null,
                    "defaultContent": '<button class=button-edit>Edit</button><button class=button-bin>Detail</button><button class=button-delete>Delete</button>'
                } ],
                "language": {
                    "url": "js/datatable/chinese.json"
                },
                dom: "tip",
                pageLength:"50"
            } );
            $('#noProcessingList tbody').on( 'click', 'button', function () {
                var data = self.table.row( $(this).parents('tr') ).data();
                var clazz =$(this).attr('class');
                var orderId = parseInt(data[4]);
                if(clazz=='button-edit'){
                    $.get("views/q-noProcessing-create.html",function(data){
                        RouterManager.setUrl({
                            groupId :'q-noProcessingSheetList',
                            viewId:'q-noProcessing-create',
                            action:'edit',
                            idNoProcess:orderId
                        });
                        $("#body").html(data);
                    });
                }
                else if(clazz=='button-bin'){
                    $.get("views/q-noProcessing-create.html",function(data){
                        RouterManager.setUrl({
                            groupId :'q-noProcessingSheetList',
                            viewId:'q-noProcessing-create',
                            action:'detail',
                            idNoProcess:orderId
                        });
                        $("#body").html(data);
                    });
                }
                else{
                    $.deleteNoProcessing(orderId,jmstoken,function(data){
                        $.get("views/q-noProcessingSheetList.html",function(data){
                            $("#body").html(data);
                        });
                    });
                }
            });
        },
        bindEvents:function(){
            var self = this;
            //选择状态
            $('#status-select').selectautofill('m/getMachinesObjs', {headers: {'JMS-TOKEN': jmstoken}}, function (data) {
                var _html = '';
                _(data).each(function (d, i) {
                    _html += '<li><a href="javascript:;" data-id="' + d.id + '">' + d.name + '</a></li>';
                });
                $('#status-group').find('.dropdown-menu').append(_html);
            });
//            $('.status').on('click',function(e){
//                $('#status').html('状态');
//            });
//            $('#status-group').on('click', 'li a', function (e) {
//                var $t = $(this);
//                var id = $t.data('id');
//                $('#status-select').val(parseInt(id));
//                $('#status').html($t.text());
//            });
            //	点击新建
            $('#create').click(function(){
                $.get("views/q-noProcessing-create.html",function(data){
                    RouterManager.setUrl({
                        groupId :'q-noProcessingSheetList',
                        viewId:'q-noProcessing-create'
                    });
                    $("#body").html(data);
                });

//					openwin();
            });
            var historyOptions={
                groupId :'q-noProcessingSheetList'
            };
            $('#deviation01').click(function(){
                historyOptions.viewId='q-deviationList';
                $.get("views/q-deviationList.html",function(data){
                    RouterManager.setUrl(historyOptions);
                    $("#body").html(data);
                });
            });
            $('#ncr').click(function(){
                historyOptions.viewId='q-ncrList';
                $.get("views/q-ncrList.html",function(data){
                    RouterManager.setUrl(historyOptions);
                    $("#body").html(data);
                });
            });
            $('#8D').click(function(){
                historyOptions.viewId='q-eightDList';
                $.get("views/q-eightDList.html",function(data){
                    RouterManager.setUrl(historyOptions);
                    $("#body").html(data);
                });
            });
            $('#car').click(function(){
                historyOptions.viewId='q-carList';
                $.get("views/q-carList.html",function(data){
                    RouterManager.setUrl(historyOptions);
                    $("#body").html(data);
                });
            });
        }
    };
    noProcessing.init();
</script>

</head>
<body>
            <div class="body-head-title">
                <span class="h-title-selected"><b>QRB</b></span>
                <span class="h-title" id="deviation01">Deviation Request Form</span>
                <span class="h-title" id="ncr">Concern Form</span>
                <span class="h-title" id="8D">8D</span>
                <span class="h-title" id="car">CAR</span>
            </div>
            <div class="cont">
                <div class="r-header-body">
                    <!--<div class="btn-group btn-group-left" id="status-group">-->
                        <!--<select name="none" id="status-select" style="display: none;"></select>-->
                        <!--<button class="btn btn-default" type="button" name="result:number" id="status">状态</button>-->
                        <!--<button aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" class="btn btn-default dropdown-toggle status" type="button">-->
                            <!--<span class="caret"></span>-->
                            <!--<span class="sr-only">状态</span>-->
                        <!--</button>-->
                        <!--<ul class="dropdown-menu"></ul>-->
                    <!--</div>-->
                    <div class="right-list">
                        <!--<div class="sousuo">-->
                            <!--<div class="ss-input">-->
                                <!--<input type="text" name="" id="" value="" class="border-none" placeholder="输入要查询的内容"/>-->
                            <!--</div>-->
                            <!--<a href=""><span class="icon-ss-bg"></span>搜索</a>-->
                        <!--</div>-->
                        <input type="button" class="button-sytle1" id="create" value="Create">
                    </div>
                </div>
    <table id="noProcessingList" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
            	<th>NO.</th>
                <th>Parts</th>
                <!--<th>零件名称</th>-->
                <th>Lot</th>
            	<th>Quantity</th>
                <!--<th>状态</th>-->
                <th>Operation</th><!--编辑、详情-->
            </tr>
        </thead>
    </table>
</div>
</body>
</html>