    <div class="container">

        <div class="row">
            <!-- form: -->

            <section>



<br>
                <div class="col-lg-8 col-lg-offset-2">
                    <form id="noProcessingForm" method="post" action="index.html" class="form-horizontal">
                        
                            <input type="hidden" id="idNoProcessing" />
							<fieldset>
							<div class="form-group">
                                <label class="col-lg-3 control-label">批次号</label>
                                <div class="col-lg-5">
                                	<label class="col-lg-3 control-label" name="lotNo" id="lotNo"></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">零件号</label>
                                <div class="col-lg-5">
                                	<label class="col-lg-3 control-label" name="pno" id="pno"></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">零件名称</label>
                                <div class="col-lg-5">
                                	<label class="col-lg-3 control-label" name="matDes" id="matDes"></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">数量</label>
                                <div class="col-lg-5">
                                	<label class="col-lg-3 control-label" name="qty" id="qty"></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">库位</label>
                                <div class="col-lg-5">
                                	<label class="col-lg-3 control-label" name="location" id="location"></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">问题描述</label>
                                <div class="col-lg-5">
                                	<label class="col-lg-3 control-label" name="des" id="des"></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">发布</label>
                                <div class="col-lg-5">
                                	<label class="col-lg-3 control-label" name="release" id="release"></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">审核</label>
                                <div class="col-lg-5">
                                	<label class="col-lg-3 control-label" name="audit1" id="audit1"></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">评审意见</label>
                                <div class="col-lg-5">
                                	<label class="col-lg-3 control-label" name="comment" id="comment"></label>
                                </div>
                            </div>
                            <form action="" method="get"> 
                                <label class="col-lg-3 control-label">处理方式</label>
                                <div class="col-lg-5">
                                	<label class="col-lg-3 control-label" name="disposalType" id="disposalType"></label>
                                </div>
                            </form> 
                            <form action="" method="get"> 
                                <label class="col-lg-3 control-label">处理详情</label>
                                <div class="col-lg-5">
                                	<label class="col-lg-3 control-label" name="disposalWay" id="disposalWay"></label>
                                </div>
                            </form> 
                            <div class="form-group">
                                <label class="col-lg-3 control-label">责任人</label>
                                <div class="col-lg-5">
                                	<label class="col-lg-3 control-label" name="owner" id="owner"></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">审核</label>
                                <div class="col-lg-5">
                                	<label class="col-lg-3 control-label" name="audit2" id="audit2"></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">会签</label>
                                <div class="col-lg-5">
                                	<label class="col-lg-3 control-label" name="countersign" id="countersign"></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">批准</label>
                                <div class="col-lg-5">
                                	<label class="col-lg-3 control-label" name="approval1" id="approval1"></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">整改措施</label>
                                <div class="col-lg-5">
                                	<label class="col-lg-3 control-label" name="improvementAction" id="improvementAction"></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">是否生成正式抱怨</label>
                                <div class="col-lg-5">
                                	<label class="col-lg-3 control-label" name="concernOrNot" id="concernOrNot"></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">抱怨号</label>
                                <div class="col-lg-5">
                                	<label class="col-lg-3 control-label" name="concernNo" id="concernNo"></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">责任人</label>
                                <div class="col-lg-5">
                                	<label class="col-lg-3 control-label" name="response" id="response"></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">审核</label>
                                <div class="col-lg-5">
                                	<label class="col-lg-3 control-label" name="audit3" id="audit3"></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">批准</label>
                                <div class="col-lg-5">
                                	<label class="col-lg-3 control-label" name="approval2" id="approval2"></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-9 col-lg-offset-3">
                                    <button type="button" class="btn btn-primary" id="return">返回</button>
                                </div>
                            </div>
                    </form>
                </div>
            </section>
            <!-- :form -->  
        </div>
    </div>
<script type="text/javascript">

$(document).ready(function() {
    
    
    var idNoProcessing = $('#_key26').val();
	$.noProcessingInfo({"id":idNoProcessing},token,function(data){
		$('#lotNo').html(data.lotNo);
		$('#pno').html(data.pno);
		$('#matDes').html(data.matDes);
		$('#qty').html(data.qty);
		$('#location').html(data.location);
		$('#des').html(data.des);
		$('#release').html(data.release);		
		$('#audit1').html(data.audit1);
		$('#comment').html(data.comment);
		$('#disposalType').html(data.disposalType);
		$('#disposalWay').html(data.disposalWay);		
		$('#owner').html(data.owner);
		$('#audit2').html(data.audit2);
		$('#countersign').html(data.countersign);
		$('#approval1').html(data.approval1);
		$('#improvemetAction').html(data.improvemetAction);
		$('#concernOrNot').html(data.concernOrNot);
		$('#concernNo').html(data.concernNo);		
		$('#response').html(data.response);
		$('#audit3').html(data.audit3);
		$('#approval2').html(data.approval2);
	});
 	   
 	   $('#return').click(function(){
	 		$.get("views/q-noProcessingList.html",function(data){
	             $("#body").html(data);
	     	});
	 	});
} );
</script>
    



