<script type="text/html" id="pRoutineCreate">
    <div class="container-fluid" id="container-routine">
        <div id="dropzone-template-container" style="display: none;">
            <div class="dz-preview dz-file-preview">
                <div class="dz-details">
                    <div class="dz-filename"><span data-dz-name></span><span data-dz-remove title="Delete">✘</span><span data-dz-size></span></div>
                </div>
                <div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span></div>
                <div class="dz-success-mark"><span>✔</span></div>
                <div class="dz-error-mark"><span>✘</span></div>
                <div class="dz-error-message"><span data-dz-errormessage></span></div>
            </div>
        </div>
        <div class="row">
            <!-- form: -->
            <section>
                <div class="body-head-title">
                    <span class="h-title" id="list01">QEHS</span>
                    <span class="h-title-selected" id="title01"><b>Create File</b></span>
                    <span class="h-title" id="templet">File Template</span>
                </div>

                <form id="qmForm" method="post" action="index.html" class="form-inline">
                    <div class="col-xs-7 mar-top-20px">
                        <div class="form-group mar-top-20px">
                            <label class="input-w-160">File/NO.</label>
                            <input type="text" class="form-control input-w-3" name="fileNo" id="fileNo" />
                        </div>
                        <div class="form-group mar-top-20px">
                            <label class="input-w-160">File Type</label>
                            <select class="input-w-3 select-cs1 form-control" name="idFileType:number" id="idFileType">
                                <option value="">File Type</option>
                            </select>
                        </div>
                        <div class="form-group mar-top-20px">
                            <label class="input-w-160">WO/NO.</label>
                            <select class="input-w-3 select-cs1 form-control" data-id="" name="idWo:number" id="idWo">
                                <option value="">WO/NO.</option>
                            </select>
                        </div>
                        <div class="form-group mar-top-20px">
                            <label class="input-w-160">Goods/NO.</label>
                            <!--<input type="text" class="form-control input-w-3" name="materialId" id="materialId" />-->
                            <select class="input-w-3 select-cs1 form-control" data-id="" name="idMaterial:number" id="idMaterial">
                                <option value="">Goods/NO.</option>
                            </select>
                        </div>
                        <div class="form-group mar-top-20px status">
                            <label class="input-w-160">Routine</label>
                            <select class="input-w-3 select-cs1 form-control" name="idRoutineD:number" id="idRoutineD">
                                <option value="">Others</option>
                            </select>
                        </div>
                        <div class="form-group mar-top-20px detail" style="display:none;">
                            <label class="input-w-160">Creator</label>
                            <input type="text" class="form-control input-w-3" name="creator" id="creator" />
                        </div>
                        <div class="form-group mar-top-20px detail" style="display:none;">
                            <label class="input-w-160">DAte</label>
                            <input type="text" class="form-control input-w-3" name="creationTime" id="creationTime" />
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="a-upload bg-img dropzone" id="drawId">Upload Attachment</div>
                    </div>

                    <input type="hidden" id="idFile" name="idFile" />
                    <input type="hidden" name="fileName" id="fileName" />

                    <div class="clearfix"></div>
                    <div class="foot-btn-box">
                        <div class="form-group">
                            <button class="btn btn-primary" id="save">Save</button>
                            <button class="btn  btn-info" type="button" id="return01">Return</button>
                        </div>
                    </div>
                </form>
            </section>
            <!-- :form -->
        </div>
    </div>
</script>


<script type="text/javascript">
    var jmstoken= store.get('JMS-TOKEN');
    function formatRepo (repo) {
        if (repo.loading) return repo.text;

        var markup = '<div data-id="' + repo.id + '">' + repo.name + '</div>';

        return markup;
    }

    function formatRepoSelection (repo) {
        return repo.name || repo.text;
    }
    var app={
        init:function(){
            var self = this;

            $('#body').html($('#pRoutineCreate').html());

            var params = this.params = RouterManager.getParams();
            var action = params['action'];
            var qmId = params['qmId'];

            if(qmId) {
                this.loadDetail(qmId,action);
            } else {
                this.autoFill();
            }

            this.bindEvents();
//            this.autoFill();
            this.form();
            setTimeout(function(){
                // 多选
                $('body .multipleSelect').multiselect({
                    buttonWidth: '65px'
                });
            },200);
        },
        autoFill:function(){
            var self = this;
            var dataPickerOpt = {
                format: "YYYY-MM-DDTHH:mm:ss.SSSZ"
            };
            $('#creationTime').datetimepicker(dataPickerOpt);
            $('#idFileType').selectautofill('q/getQFileTypes',{headers:{'JMS-TOKEN':store.get('JMS-TOKEN')}});
            $('#idWo').selectautofill('p/getWoObjsList',{headers:{'JMS-TOKEN':store.get('JMS-TOKEN')}});
//            self.fillMaterialId();
        },
        fillMaterialId: function(callback) {
            $('#idMaterial').select2({
                ajax: {
                    url: $clientURL + 's/getMaterialListObjs',
                    dataType: 'json',
                    headers: {'JMS-TOKEN': jmstoken},
                    delay: 200,
                    data: function (params) {
                        var paramsObj ={
                            q: params.term,
                            types:[2,3]
                        };
                        var params = $.param(paramsObj,true);
                        return params;
//                        return {
//                            q: params.term,
//                            types: [2, 3]
//                        }
                    },
                    processResults: function (data, params) {
                        return {
                            results: data,
                            pagination: null
                        }
                    },
                    cache: true
                },
                escapeMarkup: function (markup) {
                    return markup;
                },
                minimumInputLength: 1,
                width: 200,
                templateResult: formatRepo,
                templateSelection: formatRepoSelection
            }).on('select2:open',function(evt){
                $('#select2-js-data-example-ajax-container').html('');
                $('#js-data-example-ajax').empty();
            });
            callback && callback();
        },
        loadDetail: function(qmId,action, callback) {
            var self = this;
            $.qmInfo(qmId, jmstoken, function(data){
                var wsRoutineDs = '';
                $('#qmForm').populate(data,true);
                $('#idFileType').selectautofill('q/getQFileTypes',{headers:{'JMS-TOKEN':store.get('JMS-TOKEN')}},function(){
                    $('#idFileType').val(data.idFileType);
                });
                $('#idWo').selectautofill('p/getWoObjsList',{headers:{'JMS-TOKEN':store.get('JMS-TOKEN')}},function(){
                    $('#idWo').val(data.idWo);
                });

                $('#idMaterial').selectautofill('p/getMaterialByWoId',{headers:{'JMS-TOKEN':store.get('JMS-TOKEN')},data:{'woId':data.idWo}},function(){
                    $('#idMaterial').val(data.idMaterial);
                });


                $("#idRoutineD").selectautofill('p/findRoutineDObjsByWoId',{headers:{'JMS-TOKEN':store.get('JMS-TOKEN')},data:{'woId':data.idWo}},function(){
                    $('#idRoutineD').append('<option value="">Other</option>');
                    if(!data.idRoutineD){
                        $('#idRoutineD').append('<option value="" selected="selected">Other</option>');
                    }
                    else{
                        $('#idRoutineD').append('<option value="">Other</option>');
                        $("#idRoutineD").val(data.idRoutineD);
                    }
                });

                if (data.fileName){
                    var uri = $clientURL+'getFile/'+data['fileName']+'/'+data['fileName']+'/';
                    $('#drawId').append('<div class="dz-preview dz-file-preview dz-processing dz-success dz-complete"><div class="dz-details"><div class="dz-filename"><span data-dz-name=""><a href="' + uri + '">' + data['fileName'] + '</a></span><span data-dz-size=""><strong>59</strong> b</span></div></div></div>');
                    setTimeout(function(){
                        $('.preview-node').click(function(){
                            $('#material-list-uploader').click();
                        });
                    },0)
                }


                self.dealAction(action);
                callback && callback();
            });
        },
        /*
        fillMaterialId: function(callback) {
            $('#materialId').select2({
                ajax: {
                    url: $clientURL + 's/getMaterialListObjs',
                    dataType: 'json',
                    headers: {'JMS-TOKEN': jmstoken},
                    delay: 200,
                    data: function (params) {
                        var paramsObj ={
                            q: params.term,
                            types:[2,3]
                        };
                        var params = $.param(paramsObj,true);
                        return params;
//                        return {
//                            q: params.term
//                        }
                    },
                    processResults: function (data, params) {
                        return {
                            results: data,
                            pagination: null
                        }
                    },
                    cache: true
                },
                escapeMarkup: function (markup) {
                    return markup;
                },
                minimumInputLength: 1,
                width: 200,
                templateResult: formatRepo,
                templateSelection: formatRepoSelection
            }).on('select2:open',function(evt){
                $('#select2-js-data-example-ajax-container').html('');
                $('#js-data-example-ajax').empty();
            });
            callback && callback();
        },*/
        dealAction: function(action) {
            var self = this;
            if(action == 'detail') {
                $("input:not(:button, :hidden)").prop("disabled", true);
                $("select").prop("disabled", true);
                $('#save').hide();
            }
        },
        bindEvents:function(){
            var self = this;
            var frameContainer = $('#container-routine');
            frameContainer.on('focus', 'input, select, textarea', function(e) {
                $(this).removeClass('error');
                $('#save').removeAttr('disabled');
            });

            frameContainer.on('change','#idWo',function(){
                var idWo = $('#idWo').val();
                $('#idMaterial').empty();
                $('#idRoutineD').empty();
                if(idWo){
                    $('#idMaterial').selectautofill('p/getMaterialByWoId',{headers:{'JMS-TOKEN':store.get('JMS-TOKEN')},data:{'woId':idWo}});
                    $("#idRoutineD").selectautofill('p/findRoutineDObjsByWoId',{headers:{'JMS-TOKEN':store.get('JMS-TOKEN')},data:{'woId':idWo}},function(){
                        $('#idRoutineD').append('<option value="">Other</option>');
                    });
                }
                else{
                    $('#idMaterial').append('<option value="">Goods/NO.</option>');
                }
            });

            var historyParams={
                groupId:'q-inProcessingList'
            };

            //出货管理
            $("#list01").click(function(){
                $.get("views/q-inProcessingList.html",function(data){
                    RouterManager.setUrl(historyParams);
                    $("#body").html(data);
                });
            });

            $("#return01").click(function(){
                history.go(-1);
            });


            $("#templet").click(function(){
                $.get("views/q-templet.html",function(data){
                    RouterManager.setUrl({
                        groupId:'q-inProcessingList',
                        viewId:'q-templet'
                    });
                    $("#body").html(data);
                });
            });
            var uploadImageUrl = 'q/uploadQFile';
            jmstoken = store.get('JMS-TOKEN');

            //上传图片
            if(self.params.action != 'detail') {
                $('.dropzone').dropzone({
                    previewTemplate: document.querySelector('#dropzone-template-container').innerHTML,
                    url: $clientURL+uploadImageUrl,
                    headers: {'JMS-TOKEN':jmstoken},
                    maxFiles: 1,
                    maxFilesize: 10,
                    dictDefaultMessage:"",
                    init:function(){
                        var that = this;
                        this.on('success',function(file,res){
                            console.log('Upload picture success');
                            $('#fileName').val(res.fileName);
                        });
                        this.on('removedfile',function(){
                            console.log('Upload picture failed');
                        });
                    }
                });
            }

        },
        form:function(){
            var self = this;
            $('#qmForm').bootstrapValidator({
                message: 'This value is not valid',
                feedbackIcons: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                fields: {
//                    'materialId:number': {
//                        validators: {
//                            notEmpty: {
//                                message: '物料不能为空'
//                            }
//                        }
//                    }
                }
            }).on('success.form.bv', function(e) {
                e.preventDefault();
                var $form     = $(e.target),
                validator = $form.data('bootstrapValidator');
                var qm =JSON.stringify($('#qmForm').serializeJSON());
                debugger;
//                var jmstoken= store.get('JMS-TOKEN');
                qm.creationTime = new Date(qm.creationTime).getTime();
                $.saveQm(qm,jmstoken,function(data){
                    debugger;
                    history.go(-1);
//                    $.get("views/p-routineList.html",function(data){
//                        $("#body").html(data);
//                    });
                });
            });
        }
    };
    app.init();

</script>