    <div class="container">

        <div class="row">
            <!-- form: -->

            <section>



<br>
                <div class="col-lg-8 col-lg-offset-2">
                    <form id="defaultForm" method="post" action="index.html" class="form-horizontal">
                        
                           
							<fieldset>
							<legend>基本信息</legend>
							<div class="form-group">
                                <label class="col-lg-3 control-label">公司编码</label>
                                <div class="col-lg-5">
                                    <label class="col-lg-3 control-label" name="code" id="code"/></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">公司简称</label>
                                <div class="col-lg-5">
                                    <label class="col-lg-3 control-label" name="shortName" id="shortName"/></label>
                                </div>
                            </div> 
                            <div class="form-group">
                                <label class="col-lg-3 control-label">公司名称</label>
                                <div class="col-lg-5">
                                    <label class="col-lg-3 control-label" name="name" id="name"/></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">公司类别</label>
                                <div class="col-lg-5">
                                    <label class="col-lg-3 control-label" name="companyType" id="companyType"/></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">重要等级</label>
                                <div class="col-lg-5">
                                    <label class="col-lg-3 control-label" name="level" id="level"/></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">公司电话</label>
                                <div class="col-lg-5">
                                    <label class="col-lg-3 control-label" name="tel" id="tel"/></label>
                                </div>
                            </div>			
                            <div class="form-group">
                                <label class="col-lg-3 control-label">公司传真</label>
                                <div class="col-lg-5">
                                    <label class="col-lg-3 control-label" name="fax" id="fax"/></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">实际地址</label>
                                <div class="col-lg-5">
                                    <label class="col-lg-3 control-label" name="addressAct" id="addressAct"/></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">注册地址</label>
                                <div class="col-lg-5">
                                	<label class="col-lg-3 control-label" name="addressReg" id="AddressReg"/></label>
                                </div>
                            </div>	
                            <div class="form-group">
                                <label class="col-lg-3 control-label">国别地区</label>
                                <div class="col-lg-5">
                                    <label class="col-lg-3 control-label" name="country" id="country"/></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">法人代表</label>
                                <div class="col-lg-5">
                                    <label class="col-lg-3 control-label" name="aritificialPerson" id="aritificialPerson"/></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">公司网址</label>
                                <div class="col-lg-5">
                                    <label class="col-lg-3 control-label" name="url" id="url"/></label>
                                </div>
                            </div>
							
                           
							<legend>交易信息</legend>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">公司税号</label>
                                <div class="col-lg-5">
                                    <label class="col-lg-3 control-label" name="taxNo" id="taxNo"/></label>
                                </div>
                            </div>
							<div class="form-group">
                                <label class="col-lg-3 control-label">开户银行</label>
                                <div class="col-lg-5">
									<label class="col-lg-3 control-label" name="bank" id="bank"/></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">银行帐号</label>
                                <div class="col-lg-5">
                                    <label class="col-lg-3 control-label" name="bankAccNo" id="bankAccNo"/></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">货运条款</label>
                                <div class="col-lg-5">
                                    <label class="col-lg-3 control-label" name="term1" id="term1"/></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">付款条件</label>
                                <div class="col-lg-5">
                                    <label class="col-lg-3 control-label" name="term2" id="term2"/></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">检核人</label>
                                <div class="col-lg-5">
                                    <label class="col-lg-3 control-label" name="auditBy" id="auditBy"/></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">状态</label>
                                <div class="col-lg-5">
                                    <label class="col-lg-3 control-label" name="status" id="status"/></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">备注</label>
                                <div class="col-lg-5">
                                    <label class="col-lg-3 control-label" name="remark" id="remark"></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">备注</label>
                                <div class="col-lg-5">
                                    <label class="col-lg-3 control-label" name="autoRemark" id="autoRemark"></label>
                                </div>
                            </div>
                            
                            <legend>合作公司认证</legend>
                            <div class="form-group">建议上传营业执照、税务等级书、一般纳税人认定书
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">图片</label>
                                <img src="" width="105" height="30" id="idPic"/></img>
                            </div> 
                            <div class="form-group">
                            	<label class="col-lg-3 control-label">附件</label>
                            </div>
<br>    
<br> 
<br> 
                        <div class="form-group">
                            <div class="col-lg-9 col-lg-offset-3">
                                <button type="button" class="btn btn-primary" id="return">返回</button>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
            <!-- :form -->
        </div>
    </div>

<script type="text/javascript">
$(document).ready(function() {
    $('#companyType\\.idDic').selectautofill('dic/companyType');
    $('#level\\.idDic').selectautofill('dic/level');
    $('#term\\.idDic').selectautofill('dic/term');
    $('#country\\.idDic').selectautofill('dic/country');
	
	var idCocompany = $('#_key2').val();
	$.cocompanyInfo({"id":idCocompany},token,function(data){
		$('#code').html(data.code);
		$('#shortName').html(data.shortName);
		$('#name').html(data.name);
		$('#companyType').html(data.companyType);
		$('#level').html(data.level);
		$('#tel').html(data.tel);
		$('#fax').html(data.fax);
		$('#addressAct').html(data.addressAct);
		$('#addressReg').html(data.addressReg);
		$('#aritificialPerson').html(data.aritificialPerson);
		$('#url').html(data.url);
		$('#taxNo').html(data.taxNo);
		$('#bank').html(data.bank);
		$('#bankAccNo').html(data.bankAccNo);
		$('#term1').html(data.term1);
		$('#term2').html(data.term2);
		$('#auditBy').html(data.auditBy);
		$('#status').html(data.status);
		$('#remark').html(data.remark);
		$('#autoRemark').html(data.autoRemark);
		$('#idPic').html(data.idPic);
	});
	$('return').click(function(){
	 		$.get("views/cocompany.html",function(data){
	             $("#body").html(data);
	     	});
	 	});
});
</script>
