<script type="text/html" id="incomeListEntryTmpl">
    <div class="container-fluid" id="incomeListEntryCnt">
        <div class="row">
            <!-- form: -->
            <section>
                <div class="body-head-title">
                    <span class="h-title" id="do">出货管理</span>
                    <span class="h-title"><b id="currentEntryTitle">新建出货单</b></span>
                    <span class="h-title" id="rma">销售退货</span>
                    <span class="h-title" id="createRma">新建销售退货</span>
                </div>

                <form id="doForm" method="post" action="index.html" class="form-inline">
                    <div class="col-xs-12 mar-top-20px">
                        <div class="form-group">
                            <label for="" class="input-w-160">出货单号</label>
                            <input type="text" class="form-control input-w-3" name="mtNo" id="mtNo" readonly  unselectable="on"/>
                        </div>
                        <div class="form-group">
                            <label for="" class="input-w-160">客户</label>
                            <select class="input-w-3 select-cs1 form-control" name="sCompanyCoId:number" id="sCompanyCoId">
                                <option value="">客户</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-12 mar-top-20px"  id="order" style="display: none;">
                        <div class="form-group">
                            <label for="" class="input-w-160">出货日期</label>
                            <input type="date" class="form-control input-w-3" name="creationTime" id="creationTime">
                        </div>
                        <div class="form-group">
                            <label for="" class="input-w-160">出货员</label>
                            <input type="text" class="form-control input-w-3" name="recMtUser" id="recMtUser">
                        </div>
                    </div>
                    <div class="col-xs-12 mar-top-20px">
                        <div class="form-group">
                            <label for="" class="input-w-160">从仓库</label>
                            <select class="input-w-3 select-cs1 form-control" name="fromStkId:number" id="fromStkId">
                                <!--<option value="">从仓库</option>-->
                            </select>
                        </div>
                        <div class="form-group" style="display:none">
                        <!--<div class="form-group">-->
                            <label for="" class="input-w-160">到仓库</label>
                            <input type="text" class="form-control input-w-3" name="toStkId:number" id="toStkId">
                            <!--<select class="input-w-3 select-cs1 form-control" name="toStkId:number" id="toStkId">-->
                                <!--<option value="">到仓库</option>-->
                            <!--</select>-->
                        </div>
                    </div>
                    <!--<div class="col-xs-12 mar-top-20px">-->
                    <!--<div class="form-group">-->
                    <!--<label for="" class="input-w-160">物流公司</label>-->
                    <!--<select class="input-w-2 select-cs1 form-control" name="codeCo" id="codeCo">-->
                    <!--</select>-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                    <!--<label for="" class="input-w-160">运单号</label>-->
                    <!--<input  class="form-control input-w-2" name="codePo" id="codePo">-->
                    <!--</div>-->
                    <!--</div>-->
                    <!-- +\- start -->
                    <!--<div class="col-xs-12 mar-top-20px"  style="text-align: center;">-->
                        <!--<div class="form-group" id="matlist">-->
                            <!--<ul class="new-income-list-nav">-->
                                <!--<li style="width:124px">销售单号</li>-->
                                <!--<li style="width:150px">物料</li>-->
                                <!--<li style="width:200px">从货架</li>-->
                                <!--<li style="width:100px">发货数量</li>-->
                                <!--<li style="width:170px">备注</li>-->
                                <!--<li id="operation">操作</li>-->
                            <!--</ul>-->
                        <!--</div>-->
                    <!--</div>-->
					
                    <!-- +\- over -->

                    <div class="col-xs-12 mar-top-20px changerep_cont">
                        <table id="" cellpadding="0" cellspacing="0" width="806px">
                            <tr>
                                <th width="114"> 销售单号 </th>
                                <th width="160px"> 物料</th>
                                <th width="170px"> 从货架</th>
                                <th width="90px"> 发货数量</th>
                                <th width="170px"> 备注 </th>
                                <th width="102px" id="operation"> 操作</th>
                            </tr>
                        </table>

                        <div class="form-group" id="matlist">
                        </div>   <!-- +\- over -->
                    </div>
                    <div class="clearfix"></div>
                    <div class="foot-btn-box">
                        <div class="form-group">
                            <button class="btn btn-primary" id="save">保存</button>
                            <button class="btn  btn-info" type="reset" id="return">返回</button>
                        </div>
                    </div>
                    <input type="hidden" id="idMt" name="idMt:number" />
                    <input type="hidden" id="typeId" name="typeId:number" value="5" />
                </form>
            </section>
            <!-- :form -->
        </div>
    </div>
</script>

<script type="text/html" id="incomeListItemTmpl">
    <dl class="matlist" id="item<%= item %>">
        <dd class="income-create-list" style="width: 100%;padding-left: 58px;">
            <select style="width:114px;" name="smtfItems[item<%= item %>][soId]:number" id="smtfItems.item<%= item %>.soId" class="select-cs1 a">
                <% if(data.soId) { %>
                <option value="<%= data.soId %>"><%= data.soCode %></option>
                <% } else { %>
                <option value="">销售订单编码</option>
                <% } %>
            </select>
            <input class="g" name="smtfItems[item<%= item %>][materialId]:number" id="smtfItems.item<%= item %>.materialId;" style="width:156px" type="hidden" />
            <input type="text" class="b" placeholder="物料" style="width:156px" readonly="true" />
            <!--<input type="hidden" class="b-id" name="smtfItems[item<%= item %>][material]:number" value="<%= data.material %>" placeholder="物料" style="width:150px" readonly="true" />-->
            <% if(data.fromBinId) { %>
            <select class="select-cs1 d" name="smtfItems[item<%= item %>][fromBinId]:number" id="smtfItems.item<%= item %>.fromBinId" style="width:168px">
                <option value="<%= data.fromBinId %>"><%= data.fromBin %></option>
            </select>
            <% } else { %>
            <select class="select-cs1 f" name="smtfItems[item<%= item %>][fromBinId]:number" id="smtfItems.item<%= item %>.fromBinId" style="width:168px">
                <option value="">从货架</option>
            </select>
            <% } %>
            <input type="hidden" class="h" name="smtfItems[item<%= item %>][toBinId]:number" value="<%= data.toBinId %>" id="smtfItems.item<%= item %>.toBinId" placeholder="发货数量" style="width:85px">
            <input type="text" class="c" name="smtfItems[item<%= item %>][qty]:number" value="<%= data.qty %>" id="smtfItems.item<%= item %>.qty" placeholder="发货数量" style="width:85px">
            <input type="text" class="e" name="smtfItems[item<%= item %>][remark]" value="<%= data.remark %>" id="smtfItems.item<%= item %>.remark" placeholder="备注" style="width:166px">
            <span class="action">
                <a class="button-sytle1  new-income-add">+</a>
                <a class="button-sytle1 new-income-delete">-</a>
            </span>
        </dd>
    </dl>
</script>
<script type="text/javascript">
    var historyOptions={
        groupId:'doList'
    };
    
    var jmstoken= store.get('JMS-TOKEN');

    //仅仅是为了模块化而已
    var app = {
        init:function(){
            var self = this;
            this.incomeListItemTmpl = _.template($('#incomeListItemTmpl').html());
            $('#body').html($('#incomeListEntryTmpl').html());
            
            var params = this.params = RouterManager.getParams();
            var doListId = params['doListId'];
            var groupId = params['groupId'];
            this.$matList = $('#matlist');
//            if(doListId){
//            }
//            else{
//                this.$matList.append(this.createRow());
//            }
            //绑定事件
            this.bindEvents(groupId);
            this.loadDetail();
            this.doForm();
            if(!this.params.action) {
                $('#matlist').append(this.createRow());
                self.loadToBin();
                // //挂载信息显示事件
                // this.toggleInfo();
            } else {
                $('#currentEntryTitle').html('出货单详情');
            }
        },
        /**
         * 绑定事件逻辑
         */
        bindEvents:function(groupId){
            var self = this;
            var frameContainer = $('#incomeListEntryCnt');
            //下拉框
            self.loadSCompanyCo();
            self.loadStk();
            $.mtfStkInfo('SO',jmstoken,function(data) {
                $('#toStkId').val(data.idStk);
            });
            //增加行
            $('#matlist').on('click','.new-income-add',function(e){
                self.addRow(e)
            });
            //删除行
            $('#matlist').on('click','.new-income-delete',function(e){
                self.delRow(e)
            });
            $('#matlist').on('change', 'select, input', function() {
                $('#save').attr('disabled', false);
                $(this).removeClass('error');
            });
            frameContainer.on("change","#fromStkId", function(){
                var $list = $('#matlist');
                var $items = $list.find('.matlist');
                $items.each(function(i) {
                    var $dl = $(this);
                    self.loadFromBin($dl);
                });
            });
            //改变客户
            $('#sCompanyCoId').on('change',function(){
                self.loadSoList();
            });
            //改变仓库
//            $("#fromStkId").on("change",function(){
//                self.loadBins();
//            });

            //改变销售单号
            $('#matlist').on("change",".a",function(){
                var $t = $(this);
                var $dl = $t.closest('dl');
                self.loadMaterial($dl);
            });
            
            //出货管理
            $("#do").click(function(){
                $.get("views/doList.html",function(data){
                    RouterManager.setUrl(historyOptions);
                    $("#body").html(data);
                });
            });
            //新建出货单
            $("#createDo").click(function(){
                $.get("views/doList-create-body.html",function(data){
                    historyOptions.viewId='doList-create-body';
                    RouterManager.setUrl(historyOptions);
                    $("#body").html(data);
                });
            });
            //销售退货
            $("#rma").click(function(){
                $.get("views/rmaList.html",function(data){
                    historyOptions.viewId='rmaList';
                    RouterManager.setUrl(historyOptions);
                    $("#body").html(data);
                });
            });
            //新建销售退货
            $("#createRma").click(function(){
                $.get("views/rma-body.html",function(data){
                    historyOptions.viewId='rma-body';
                    RouterManager.setUrl(historyOptions);
                    $("#body").html(data);
                });
            });
            $("#return").click(function(){
                if(groupId == 'mtfList'){
                    var typeId = $('#typeId').val();
                    $.get("views/mtfList.html", function (data) {
                        $("#body").html(data);
                        RouterManager.setUrl({
                            groupId:'mtfList',
                            typeId:typeId
                        });
                    });
                }
                else{
                    history.go(-1);
                }
            });
        },
        loadSCompanyCo: function() {
            $('#sCompanyCoId').selectautofill('s/getCompanyCoList',{headers:{'JMS-TOKEN':store.get('JMS-TOKEN')},data:{'coCompanyType':2}});
        },
        loadStk: function() {
//            $('#fromStkId').selectautofill('s/getStks',{headers:{'JMS-TOKEN':store.get('JMS-TOKEN')},data:{'statusId':27}});
            $('#fromStkId').selectautofill('s/getStksByTypes?statusId=27&types=1&types=3',{headers:{'JMS-TOKEN':store.get('JMS-TOKEN')}});
        },
        loadSoList: function($cnt) {
            if(!$cnt) {
                $cnt = $('#matlist');
            }
            var $a = $cnt.find('.a');
            var codeCo=$('#sCompanyCoId').val();

            if(!codeCo) {
                return;
            }

            $a.empty();
            $a.append('<option value="">销售订单编码</option>');
            $a.selectautofill('s/getSoListObjsByCompanyCoId',{headers:{'JMS-TOKEN':store.get('JMS-TOKEN')},data:{'companyCoId':codeCo}});
        },
//        loadBins: function($cnt) {
        loadFromBin: function($el, callback) {
            var idStk = $('#fromStkId').val();
            var $g = $el.find('.g');
            var $f = $el.find('.f');
            var idMaterial = $g.val();
            if (!idMaterial || !idStk) {
                return;
            }
            $f.empty();
//            $el.selectautofill('s/getBins',{headers:{'JMS-TOKEN':store.get('JMS-TOKEN')},data:{'idStk':idStk}}, function() {});
            $f.selectautofill('s/getBinsByStkIdAndMaterialIdBMethod',{headers:{'JMS-TOKEN':store.get('JMS-TOKEN')},data:{'idStk':idStk,'idMaterial':idMaterial}}, callback);
        },
        loadToBin: function($el, callback) {
            if(!$el) {
                $el = $('.h');
            } else {
                $el = $el.find('.h');
            }
            $.mtfBinInfo(8,'SO',jmstoken,function(data){
                $el.val(data.idBin);
            });
//            $el.empty();
//            $el.html("<option>从货架</option>");
////            $el.selectautofill('s/getBins',{headers:{'JMS-TOKEN':store.get('JMS-TOKEN')},data:{'idStk':idStk}}, function() {});
//            $el.selectautofill('s/getSystemBinByStkTypeIdAndBinName',{headers:{'JMS-TOKEN':store.get('JMS-TOKEN')},data:{'stkTypeId':8,'binName':'PO'}}, callback);
        },
        loadMaterial: function($dl) {
            var self = this;
            var $materialNameInput =  $dl.find('.b');
            var $materialIdInput = $dl.find('.g');
            var $a = $dl.find('.a');
            var $f = $dl.find('.f');
            var soId=$a.val();
            if(!soId) {
                return;
            }
            $f.empty();
//            $f.append('<option value="">从货架</option>');
            $.soDoMatInfo(soId, jmstoken, function (data) {
                $materialIdInput.val(data.idMaterial);
                $materialNameInput.val(data.pno + '-' + data.rev + '-' + data.des);
                $a.poshytip({
                    content: '单位：' + data.unitInv + ' 数量：' + data.qtySo + ' 交货日期：' + data.deliveredDate + ' 已发数量：' + data.qtyDelivered,
                });
//                $f.selectautofill('s/findInventoryDetailsObjs',{headers:{'JMS-TOKEN':store.get('JMS-TOKEN')},data:{'materialId':data.idMaterial}});
                self.loadFromBin($dl);
            });

        },
        addRow: function(e) {
            var $t = $(e.target);
            var html = this.createRow();

            $t.closest('dl').after(html);
            this.loadSoList($t.closest('dl').next());
            this.loadToBin($t.closest('dl').next());
//            this.loadBins($t.closest('dl').next());
        },
        delRow: function(e) {
            var $t = $(e.target);
            if(this.$matList.find('.matlist').length == 1) {
                return;
            }
            $t.closest('dl').remove();
        },
        loadDetail: function() {
            var self = this;
            
            if(!self.params.doListId) {
                return;
            }
            
            $("#order").show();
            
            $.mtfInfo(self.params.doListId, jmstoken, function(data) {
                self.parseDetail(data);
            });
        },
        parseDetail: function(data) {
            var self = this;
            $('#doForm').populate(data, true);
            $.each(data.smtfItems, function(key, item) {
                var html = self.createRow(item);
                $('#matlist').append(html);
                self.loadMaterial($('#matlist').children().eq(-1));
            });
            $('#fromStkId').html('<option value="' + data.fromStkId + '">' + data.fromStk + '</option>');
//            $('#fromStkId').html('<option value="">' + data.fromStk + '</option>');
            $('#sCompanyCoId').selectautofill('s/getCompanyCoList',{headers:{'JMS-TOKEN':store.get('JMS-TOKEN')},data:{'coCompanyType':2}}, function() {
                $('#sCompanyCoId').val(data.coCompanyId);
            });
//            var creation = new Date(data.creationTime);
//            var cm = creation.getMonth() + 1;
//            if(cm < 10) {
//                cm = '0' + cm;
//            }
//            $('#creationTime').val([creation.getFullYear(), cm, creation.getDate()].join('-'));
            $('#creationTime').val($.dateFormat.date(new Date(data.creationTime), 'yyyy-MM-dd'));
            if(self.params.action == 'detail'){
                //如果是详情页面的话
                $('input,select,textarea',$('#doForm')).prop('disabled',true);
                $("input:not(:button,:hidden)").prop("readonly", true);
                $('.new-income-delete').remove();
                $('.new-income-add').remove();
                $('#save').remove();
                $('#operation').remove();
                $('table','#doForm').attr('width','704px');
            }
        },
        DefaultRowData: {
            "idMtfMaterial": null,
            "toBin": "",
            "fromBinId": null,
            "fromBin": null,
            "fromBinId": null,
            "soCode": "",
            "soId": null,
            "poMaterialId": null,
            "materialId": null,
            "materialPno": "",
            "materialRev": "",
            "materialDes": "",
            "marterialUnit": "",
            "codePo": null,
            "qtyPo": null,
            "deliveryDate": "",
            "qtyReceived": null,
            "status": null,
            "statusId": null,
            "pwoBom": null,
            "pwoBomId": null,
            "woNo": null,
            "lotNo": null,
            "uqty": null,
            "box": null,
            "remark": "",
            "qty": null,
            "idMt": null,
            "type": "",
            "typeId": null,
            "company": null,
            "companyId": null,
            "fromStkId": 1,
            "fromStkId": null,
            "fromStk": null,
            "mtfStatusId": null,
            "mtfStatus": null,
            "empMtUser": null,
            "empMtUserId": null,
            "recMtUser": null,
            "recMtUserId": null,
            "mtNo": "",
            "dateMt": null,
            "creationTime": null,
            "codeCo": "",
            "toStk": ""
        },
        createRow: function(data) {
            var self = this;
            var $list = $('#matlist');
            var row = parseInt($list.data('row'));
            
            if(!row) {
                row = 1;
            }
            
            if(!data) {
                data = {};
            }
            
//            data = $.extend({}, self.DefaultRowData, data);
            
//            var compiled = _.template(self.incomeListItemTmpl);
            var param = {
                data: data,
                item: row,
                action: self.params.action
            }
//            var html = compiled(param);
            var html = self.incomeListItemTmpl(param);
            $list.data('row', row + 1);

            return html;
        },
        doForm: function() {
            var self = this;
            $('#doForm').bootstrapValidator({
                message: 'This value is not valid',
                feedbackIcons: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                fields: {
//                    'mtNo': {
//                        validators: {
//                            notEmpty: {
//                                message: '请填写出货单号'
//                            }
//                        }
//                    },
                    'sCompanyCoId:number': {
                        validators: {
                            notEmpty: {
                                message: '请选择客户'
                            }
                        }
                    }
                }
            }).on('success.form.bv', function(e) {
                e.preventDefault();
                if(!self.validateMatlist()) {
                    alert('验证不通过');
                    return;
                }
                var $form     = $(e.target);
                var validator = $form.data('bootstrapValidator');
                var doform =JSON.stringify($('#doForm').serializeJSON());
                debugger;
                $.saveMtf(doform,jmstoken,function(data){
                    debugger;
                    if(data.valid) {
                        $.get("views/doList.html",function(data){
                            $("#body").html(data);
                        });
                    } else {
                        alert(data.msg);
                    }
                });
            });
        },
        validateMatlist: function() {
            var $list = $('#matlist');
            var $items = $list.find('.matlist');
            var flag = true;

            if(!$items.length) {
                flag = false;
            }

            $items.each(function(i) {
                var $t = $(this);

                if(!$t.find('.a').val()) {
                    $t.find('.a').addClass('error');
                    flag = false;
                }

                if(!parseInt($t.find('.c').val())||isNaN($t.find('.c').val())) {
                    $t.find('.c').addClass('error');
                    flag = false;
                }


                if(!parseInt($t.find('.f').val())) {
                    $t.find('.f').addClass('error').val('');
                    flag = false;
                }
            });

            return flag;
        }
    };
    
    app.init();
</script>