<script type="text/html" id="incomeListCreateBody">
    <div class="container-fluid" id="container-income-list-create-body">
        <div class="row">
            <!-- form: -->
            <section>
                <div class="body-head-title">
                    <span class="h-title" id="po01">来料清单</span>
                    <span class="h-title-selected"><b id="sub-current-title">新建来料</b></span>
                    <span class="h-title" id="po04">检验入库</span>
                    <span class="h-title" id="po02">采购退货</span>
                    <span class="h-title" id="po03">新建采购退货</span>
                </div>

                <form id="incomeForm" method="post" action="index.html" class="form-inline">
                <div class="col-xs-12 mar-top-20px">
                    <div class="form-group">
                        <label for="" class="input-w-160">收货单号</label>
                        <input type="text" class="form-control input-w-3" name="mtNo" id="mtNo" readonly unselectable="on"/>
                    </div>
                    <div class="form-group">
                        <label for="" class="input-w-160">到仓库</label>
                        <select class="input-w-3 select-cs1 form-control" name="toStkId:number" id="toStkId">
                            <option value="">到仓库</option>
                        </select>
                    </div>
                </div>
                    <!--<div class="col-xs-12 mar-top-20px">-->
                <!--<div class="col-xs-12 mar-top-20px" style="display: none;">-->
                    <!--<div class="form-group">-->
                        <!--<label for="" class="input-w-160">从仓库</label>-->
                        <input type="hidden" class="form-control input-w-3" name="fromStkId:number" id="fromStkId"/>
                        <!--<select class="input-w-3 select-cs1 form-control" name="fromStkId:number" id="fromStkId">-->
                            <!--<option value="">从仓库</option>-->
                        <!--</select>-->
                    <!--</div>-->
                <!--</div>-->
                    <div class="col-xs-12 mar-top-20px">
                        <div class="form-group">
                            <label for="" class="input-w-160">供应商</label>
                            <select class="input-w-3 select-cs1 form-control" name="sCompanyCoId:number" id="sCompanyCoId">
                                <option value="">供应商</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="" class="input-w-160">采购单编码</label>
                            <select class="input-w-3 select-cs1 form-control" name="poId:number" id="poId">
                                <option value="">采购订单编码</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-12 mar-top-20px" id="detail01">
                        <div class="form-group">
                            <label for="" class="input-w-160">收货日期</label>
                            <input type="text" class="form-control input-w-3" name="creationTime" id="creationTime">
                        </div>
                        <div class="form-group">
                            <label for="" class="input-w-160">收货员</label>
                            <input type="text" class="form-control input-w-3" name="recMtUser" id="recMtUser">
                        </div>
                    </div>

                    <!-- +\- start -->
                    <!--<div class="row">-->
                        <!--<div class="col-xs-10 mar-top-20px"   style="text-align: center;">-->
                            <!--<div class="form-group" id="matlist">-->
                                <!--<ul class="new-income-list-nav">-->
                                    <!--<li style="width:173px">物料编号</li>-->
                                    <!--<li style="width:88px">批号</li>-->
                                    <!--<li style="width:88px">接收货架</li>-->
                                    <!--<li style="width:89px">数量</li>-->
                                    <!--&lt;!&ndash;<li style="width:88px">箱数</li>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<li style="width:87px">数量</li>&ndash;&gt;-->
                                    <!--<li style="width:90px">检验状态</li>-->
                                    <!--<li id="hide01">操作</li>-->
                                <!--</ul>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!-- +\- over -->
                    <div class="col-xs-12 mar-top-20px changerep_cont">
                        <table id="" cellpadding="0" cellspacing="0" width="884px">
                            <tr>
                                <th width="238px"> 物料</th>
                                <th width="127px"> 批号</th>
                                <th width="156px" id="bin"> 接收货架</th>
                                <th width="128px"> 数量</th>
                                <th width="133px"> 检验状态</th>
                                <th width="102px" id="operation"> 操作</th>
                            </tr>
                        </table>

                        <div class="form-group" id="matlist">
                        </div>   <!-- +\- over -->
                    </div>
                    <div class="clearfix"></div>
                    <div class="foot-btn-box">
                        <div class="form-group">
                            <button class="btn btn-primary" id="save">保存</button>
                            <button class="btn  btn-info" type="button" id="return01">返回</button>
                        </div>
                    </div>
                    <input type="hidden" id="idMt" name="idMt:number" />
                    <input type="hidden" id="typeId" name="typeId:number" value="1" />
                </form>
            </section>
            <!-- :form -->
        </div>
    </div>
    <!-- 弹窗 start -->
    <div class="tcbox container-fluid matLocCreate" id="draggable1">
        <div class="tcbox_cont row">
            <div class="body-head-title">
                <span class="h-title">新建或编辑物料库位</span>
            </div>
            <input type="button" class="tc_close">
            <form id="matLocForm" method="post" action="index.html" class="form-inline">
                <div class="col-xs-12 mar-top-20px">
                    <div class="form-group">
                        <label for="" class="input-w-80">物料</label>
                        <select  class="js-data-example-ajax" name="idMaterial:number" id="idMaterial">
                            <option value="">选择物料</option>
                        </select>
                    </div>
                </div>
                <div class="col-xs-12 mar-top-20px">
                    <div class="form-group ui-widget">
                        <label for="" class="input-w-80">仓库</label>
                        <select  class="form-control" style="width:198px;"  name="idStk:number" id="idStk">
                            <option value="">选择仓库</option>
                        </select>
                    </div>
                </div>
                <div class="col-xs-12 mar-top-20px">
                    <div class="form-group">
                        <label for="exampleInputEmail1" class="input-w-80">货架</label>
                        <select  class="form-control" style="width:198px;" name="idBin:number" id="idBin">
                            <option value="">选择货架</option>
                        </select>
                    </div>
                </div>
                <div class="aligncenter">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary ">保存</button>
                        <button id="return1" type="button" class="btn  btn-info">返回</button>
                    </div>
                </div>
                <input type="hidden" id="id" name="id:number"/>
            </form>
        </div>
    </div>
    <!-- 弹窗 over -->
    <div class="tcbox container-fluid" id="nullAlert">
        <div class="tcbox_cont row">
            <div class="body-head-title">
            </div>
            <input type="button" class="tc_close" onClick="javascript:hideObj('#nullAlert');">
            <div class="col-xs-12 mar-top-20px">
                <div class="form-group">
                    <label id="info"></label>
                </div>
            </div>
        </div>
    </div>
</script>
<script type="text/html" id="incomeListMaterialItem">
    <dl class="matlist" id="item<%= item %>">
        <dd class="income-create-list">
            <% if(data.materialId) { %>
            <select style="width:237px;" data-id="<%= data.materialId %>" name="smtfItems[item<%= item %>][materialId]" id="smtfItems.item<%= item %>.materialId" class="select-cs1 a">
                <option value="<%= data.materialId %>"><%= data.materialPno %>-<%= data.materialRev %>-<%= data.materialDes %></option>
            </select>
            <input style="width:98px" type="hidden" class="e" name="smtfItems[item<%= item %>][poMaterialId]" id="smtfItems.item<%= item %>.poMaterialId" value="<%= data.poMaterialId %>">
            <% } else { %>
            <select style="width:236px;" data-id="<%= data.material %>" name="smtfItems[item<%= item %>][material]" id="smtfItems.item<%= item %>.material" class="select-cs1 a">
                <option value="">请选择物料</option>
            </select>
            <input type="hidden" class="e" name="smtfItems[item<%= item %>][poMaterialId]:number" id="smtfItems.item<%= item %>.poMaterialId" value="<%= data.poMaterialId %>">
            <input type="hidden" class="f" name="smtfItems[item<%= item %>][materialId]:number" id="smtfItems.item<%= item %>.materialId" value="<%= data.materialId %>">
            <% } %>
            <input style="width:125px" type="text" class="c" name="smtfItems[item<%= item %>][lotNo]" id="smtfItems.item<%= item %>.lotNo" placeholder="批号" value="<%= data.lotNo %>">
            <% if(!action) { %>
            <select style="width:125px" data-id="<%= data.toBinId %>" class="select-cs1 d" name="smtfItems[item<%= item %>][toBinId]:number" id="smtfItems.item<%= item %>.toBinId"><option value="">接收货架</option></select>&nbsp&nbsp&nbsp&nbsp&nbsp<button class="btn btn-primary goto" type="button" style="width:45px">新增</button>
            <% } else { %>
            <select style="width:104px" data-id="<%= data.toBinId %>" class="select-cs1 d" name="smtfItems[item<%= item %>][toBinId]:number" id="smtfItems.item<%= item %>.toBinId"><option value="">接收货架</option></select>
            <% } %>
            <!--<select  data-id="<%= data.fromBinId %>" class="select-cs1 b" name="smtfItems[item<%= item %>][fromBinId]:number" id="smtfItems.item<%= item %>.fromBinId"><option value="">从货架</option></select>-->
            <input style="width:88px" type="hidden" class="b" name="smtfItems[item<%= item %>][fromBinId]:number" id="smtfItems.item<%= item %>.fromBinId" value="<%= data.fromBinId %>">
            <!--<input style="width:88px" type="text" class="f pay" name="smtfItems[item<%= item %>][box]:number" id="smtfItems.item<%= item %>.box" placeholder="箱数" value="<%= data.box %>">-->
            <input style="width:125px" type="text" class="g pay" name="smtfItems[item<%= item %>][qty]:number" id="smtfItems.item<%= item %>.qty" placeholder="数量" value="<%= data.qty %>">

            <select style="width:129px" data-id="<%= data.statusId %>"  class="select-cs1 h" name="smtfItems[item<%= item %>][statusId]:number" id="smtfItems.item<%= item %>.statusId">
            </select>

            <% if(action) { %>
            <input type="hidden" class="i" name="smtfItems[item<%= item %>][idMtfMaterial]:number" id="smtfItems.item<%= item %>.idMtfMaterial" value="<%= data.idMtfMaterial %>">
            <% } else { %>
            <span class="action">
                <a class="button-sytle1 new-income-add">+</a><a class="button-sytle1 new-income-delete">-</a>
            </span>
            <% } %>
        </dd>
    </dl>
</script>
<script type="text/javascript">
    var jmstoken= store.get('JMS-TOKEN');

    function showObj(objid){
        $(objid).draggable().show();

    }
    function hideObj(objid){
        $(objid).hide();
    }
    function formatRepo (repo) {
        if (repo.loading) return repo.text;

        var markup = '<div data-id="' + repo.id + '">' + repo.name + '</div>';

        return markup;
    }

    function formatRepoSelection (repo) {
        return repo.name || repo.text;
    }
    function pay(optionId) {
        var resultUQty = $("#"+optionId+" input[name*='uqty']");
        var resultNum = $("#"+optionId+" input[name*='box']");
        var resultQty = $("#"+optionId+" input[name*='[qty]']");
        if(isNaN(resultUQty.val()) || resultUQty.val() < 0) {
            // alert("非法的商品单价!");
            //document.getElementById("totalPrice").value = "";
            resultUQty.val("");
            return false;
        }
        if(!checkNum(resultNum.val())) {
            // alert("非法的商品数量!");
            //document.getElementById("totalPrice").value = "";
            resultNum.val("");
            return false;
        }
        var resultPayValue = parseFloat(resultUQty.val())*parseInt(resultNum.val());
        resultQty.val(resultPayValue);
    };
    
    function checkNum(num) {
        var re = /^\d+$/;
        return re.exec(num) != null;

    }
    //仅仅是为了模块化而已
    var newIncomeListEntry={
        init:function(){
            var self = this;
            this.incomeListMaterialItem = _.template($('#incomeListMaterialItem').html());
            
            $('#body').html($('#incomeListCreateBody').html());
            
            var params = this.params = RouterManager.getParams();
            var action = params['action'];
            var incomeId = params['incomeId'];
            var groupId = params['groupId'];
            
            this.$matList = $('#matlist');
            
            if(incomeId) {
                this.loadDetail(incomeId, function() {
//                    self.fillMaterial(null, function() {
                            self.dealAction(action);
//                    });
                });
                $('#operation').hide();
                $('table','#incomeForm').attr('width','734px');
                $('#bin').attr('width','108px');
            } else {
                // 新建入库
                $("#detail01").hide();
                this.$matList.append(this.createRow());
                this.$matList.find('.d').combobox();
                $('.h').selectautofill('s/getSStatusList',{headers:{'JMS-TOKEN':store.get('JMS-TOKEN')},data:{'source':'s_mtf_material'}},function(){
                    $('.h').val(3);
                });
            }
            if(action == 'detail') {
            } else {
                $('#sCompanyCoId').selectautofill('s/getCompanyCoList',{headers:{'JMS-TOKEN':store.get('JMS-TOKEN')},data:{'coCompanyType':1}});
                $('#toStkId').selectautofill('s/getStksByTypes?statusId=27&types=4&types=1&types=3',{headers:{'JMS-TOKEN':store.get('JMS-TOKEN')}});
                $('#idStk').selectautofill('s/getStks',{headers:{'JMS-TOKEN':store.get('JMS-TOKEN')},data:{'statusId':27}});
                $.mtfStkInfo('PO',jmstoken,function(data) {
                    $('#fromStkId').val(data.idStk);
                });
//                $('#fromStkId').selectautofill('s/findStkByStkName',{headers:{'JMS-TOKEN':store.get('JMS-TOKEN')},data:{"stkName":"PO"}});
//                $('#creationTime').datetimepicker({
//                    format: "YYYY-MM-DD"
//                });
                self.fillFromBin();
            }
            
            // 绑定事件
            this.bindEvents(groupId);
            this.form();
            this.form1();
            this.fillMaterialId();
        },
        loadDetail: function(incomeId, callback) {
            var self = this;
            
            $.mtfInfo(incomeId, jmstoken, function(data){
//                $("#order").show();
                $('#incomeForm').populate(data,true);
//                var smtfItems = '';
                _(data.smtfItems).each(function(item) {
                    var html = self.createRow(item);
                    $('#matlist').append(html);
//                    self.loadMaterial($('#matlist').children().eq(-1));
//                    smtfItems += self.createRow(item);
                    $('#matlist').children().eq(-1).find('.d').html('<option value="' + item.toBinId + '">' + item.toBin + '</option>');
                });
//                self.$matList.append(smtfItems);


                $('#creationTime').val($.dateFormat.date(new Date(data.creationTime), 'yyyy-MM-dd'));


                $('#sCompanyCoId').selectautofill('s/getCompanyCoList',{headers:{'JMS-TOKEN':store.get('JMS-TOKEN')},data:{'coCompanyType':1}}, function() {
                    $('#sCompanyCoId').val(data.coCompanyId);
                    self.fillCodePo(function() {
                        $('#poId').val(data.poId);
//                        self.fillMaterial(null, function() {
//                            self.$matList.find('.income-create-list').each(function(i, ml) {
//                                $(ml).find('.a').val(parseInt($(ml).find('.a').data('id')));
//                            });
//                        });
                    });
                });
                $('#toStkId').html('<option value="' + data.toStkId + '">' + data.toStk + '</option>');
//                    self.fillToBin(null, function() {
//                            self.$matList.find('.income-create-list').each(function(i, ml) {
//                                $(ml).find('.d').val(parseInt($(ml).find('.d').data('id')));
//                            });
//                    });
                self.fillStatus(null, function() {
                    self.$matList.find('.income-create-list').each(function(i, ml) {


                        setTimeout(function(){
                            //do what you need here
                            //alert("i: " + i +", val: " +parseInt($(ml).find('.h').data('id')));
                            $(ml).find('.h').val(parseInt($(ml).find('.h').data('id')));
                        }, 1000);

                    });
                });
                
                callback && callback();
            });
        },
        fillMaterialId: function(callback) {
            $('.js-data-example-ajax').select2({
                ajax: {
                    url: $clientURL + 's/getMaterialListObjs',
                    dataType: 'json',
                    headers: {'JMS-TOKEN': jmstoken},
                    delay: 200,
                    data: function (params) {
                        return {
                            q: params.term
                        }
                    },
                    processResults: function (data, params) {
                        return {
                            results: data,
                            pagination: null
                        }
                    },
                    cache: true
                },
                escapeMarkup: function (markup) {
                    return markup;
                },
                minimumInputLength: 1,
                width: 200,
                templateResult: formatRepo,
                templateSelection: formatRepoSelection
            }).on('select2:open',function(evt){
                $('#select2-js-data-example-ajax-container').html('');
                $('#js-data-example-ajax').empty();
            });
//            $el.selectautofill('s/materials',{headers:{'JMS-TOKEN':store.get('JMS-TOKEN')}}, callback);
            callback && callback();
        },
        fillCodePo: function(callback) {
            $('#poId').html('<option value="">采购订单编码</option>');
            var codeCo=$('#sCompanyCoId').val();
            $('#poId').selectautofill('s/spoList',{headers:{'JMS-TOKEN':store.get('JMS-TOKEN')},data:{'codeCo':codeCo}}, callback);
        },
        fillToBin: function($dl,callback) {
            var idStk = $('#toStkId').val();
            var $f = $dl.find('.f');
            var $d = $dl.find('.d');
            var idMaterial = $f.val();
            if (!idMaterial || !idStk) {
                return;
            }
            $d.empty();
//            $d.html("<option>接收货架</option>");
//            $el.selectautofill('s/getBins',{headers:{'JMS-TOKEN':store.get('JMS-TOKEN')},data:{'idStk':idStk}}, callback);
            $d.selectautofill('s/getBinsByStkIdAndMaterialIdAMethod',{headers:{'JMS-TOKEN':store.get('JMS-TOKEN')},data:{'idStk':idStk,'idMaterial':idMaterial}},function(){
                var bin = $d.find("option:selected").text();
                $('.matlist .custom-combobox input').val(bin);
                callback;
            });
        },
        fillFromBin: function($el, callback) {
            if(!$el) {
                $el = $('.b');
            } else {
                $el = $el.find('.b');
            }
            $.mtfBinInfo(8,'PO',jmstoken,function(data){
                $el.val(data.idBin);
            });
//            $el.empty();
//            $el.html("<option>从货架</option>");
////            $el.selectautofill('s/getBins',{headers:{'JMS-TOKEN':store.get('JMS-TOKEN')},data:{'idStk':idStk}}, function() {});
//            $el.selectautofill('s/getSystemBinByStkTypeIdAndBinName',{headers:{'JMS-TOKEN':store.get('JMS-TOKEN')},data:{'stkTypeId':8,'binName':'PO'}}, callback);
        },
        fillBin: function(callback) {
            var idStk = $('#idStk').val();
            $('#idBin').empty();
//            $('#idBin').html("<option value=''>接收货架</option>");
            $('#idBin').selectautofill('s/getBins',{headers:{'JMS-TOKEN':store.get('JMS-TOKEN')},data:{'idStk':idStk}}, function(){
                $('#idBin').combobox();
                var bin = $('#idBin').find("option:selected").text();
                $('.matLocCreate .custom-combobox input').val(bin);
                callback;
            });
        },
        fillMaterial: function($el, callback) {
            if(!$el) {
                $el = $('.a');
            } else {
                $el = $el.find('.a');
            }
            $el.empty();
            $el.html("<option value=''>请选择物料</option>");
            var idPo= $('#poId').val();
            $el.selectautofill1('s/findPoMaterialsBySpoId',{headers:{'JMS-TOKEN':store.get('JMS-TOKEN')},data:{'spoId':idPo}}, callback);
        },
        fillStatus: function($el, callback) {
           // alert("xxxxx");
            if(!$el) {
                $el = $('.h');
            } else {
                $el = $el.find('.h');
            }
//            $el.selectautofill('s/getSStatusList',{headers:{'JMS-TOKEN':store.get('JMS-TOKEN')},data:{'source':'s_mtf_material'}}, callback);
            $el.selectautofill('s/getSStatusList',{headers:{'JMS-TOKEN':store.get('JMS-TOKEN')},data:{'source':'s_mtf_material'}}, function(data){
                if(!$('#idMt').val()){
                   // alert("????");
                    $el.val(3);
                }
                else{
                   // alert("YYYY");
                    //console.log(data);
                }
            });

            callback && callback();
        },
        dealAction: function(action) {
//            $('input,select,textarea',$('#incomeForm')).prop('disabled', true);
            $("input:not(:button, :hidden)").prop("disabled", true);
            $('#hide01').hide();
            // 如果是详情页面的话
            if(action == 'detail') {
                $('#sub-current-title').html('入库详情');
                $("select").prop("disabled", true);
                $('#save').hide();
            } else if(action == 'edit') {
                $('#sub-current-title').html('入库检验');
                $("select:not(.h)").prop("disabled", true);
//                $('[id*="inspection"]').prop("disabled", false);
            }
        },
        defaultData: { },
        createRow: function(data) {
            var self = this;
            var row = parseInt(self.$matList.data('row'));
            if(!row) {
                row = 1;
            }
            
            if(!data) {
                data = self.defaultData;
            }
            
            var param = {
                data: data,
                item: row,
                action: self.params.action
            }
            
            var html = self.incomeListMaterialItem(param);
            self.$matList.data('row', row + 1);
            return html;
        },
        addRow: function(e) {
            e.stopPropagation();
            
            var $t = $(e.target);
            var html = this.createRow();

            $t.closest('dl').after(html);
            $t.closest('dl').next().find('.d').combobox();
            this.fillMaterial($t.closest('dl').next());
//            this.fillToBin($t.closest('dl').next());
            this.fillFromBin($t.closest('dl').next());
            this.fillStatus($t.closest('dl').next());
        },
        delRow: function(e) {
            var $t = $(e.target);
            if(this.$matList.find('.matlist').length == 1) {
                return;
            }
            $t.closest('dl').remove();
        },
        /**
         * 绑定事件逻辑
         */
        bindEvents:function(groupId){
            var self = this;
            var frameContainer = $('#container-income-list-create-body');
            //增加行
            frameContainer.on('click','.new-income-add',self.addRow.bind(self));
            //删除行
            frameContainer.on('click','.new-income-delete', self.delRow.bind(self));
            //计算
            frameContainer.on("change",".pay",function(){
                var optid = $(this).parent().parent().attr("id");
                pay(optid);
            });
            frameContainer.on('focus', 'input, select, textarea', function(e) {
                $(this).removeClass('error');
                $('#save').removeAttr('disabled');
            });
            $('#matLocForm').on("change","#idStk", self.fillBin.bind());
            $('#draggable1').on('click','.tc_close',function(){
                $('#draggable1').hide();
                $('#matLocForm')[0].reset();
                $('.select2-selection__rendered').html('选择物料');
            });
            //改变采购订单号
            frameContainer.on("change","#poId", self.fillMaterial.bind(self, null));
            //修改供应商
            $('#sCompanyCoId').on("change", self.fillCodePo.bind(self, null));
            //修改物料编号
            frameContainer.on("change","#toStkId", function(){
                var $list = $('#matlist');
                var $items = $list.find('.matlist');
                $items.each(function(i) {
                    var $dl = $(this);
                    self.fillToBin($dl);
                });
            });
            frameContainer.on("change",".a",function(){
                var Material = $(this).val();
                arr = Material.split('_');
                var $t = $(this);
                var $dl = $t.closest('dl');
                $dl.find('.e').val(arr[0]);
                $dl.find('.f').val(arr[1]);
                var idPo= arr[0];
                $t.data('id', idPo);
                $.findMaterialsBySpoMaterialId(idPo, jmstoken, function (data) {
                    $t.poshytip({
                        content: '单位：' + data.unit + ' 数量：' + data.qtyPo + ' 交货日期：' + data.deliveryDate + ' 已收数量：' + data.qtyReceived,
                    });
                });
                self.fillToBin($dl);
            });
            
            frameContainer.on('change', '.d', function() {
                var $t = $(this);
                $t.data('id', $t.val());
            });

            frameContainer.on('click','.goto',function(){
                showObj('#draggable1');
                self.fillBin();
            });
            var historyParams={
                groupId:'incomeList'
            };

            this.$matList.on('keydown', 'input[type="text"]', function(e) {
                var $t = $(this);
                var $dl = $t.closest('dl');
                var c = $t.attr('class');
                var cs = '.' + c.replace(/\s/g, '.');
                var $n = null;
                if(e.keyCode == 38) { // 上
                    $n = $dl.prev();
                }

                if(e.keyCode == 40) { // 下
                    $n = $dl.next();
                }

                if($n && $n.length) {
                    $n.find(cs).focus();
                }
            })

            /**
             * 头部导航按钮挂载
             */
            //来料入库列表
            $("#po01").click(function(){
                $.get("views/incomeList.html",function(data){
                    RouterManager.setUrl(historyParams);
                    $("#body").html(data);
                });
            });
            //新建入库
            $("#po04").click(function(){
                $.get("views/incomeList-checked-body.html",function(data){
                    historyParams.viewId='incomeList-checked-body';
                    RouterManager.setUrl(historyParams);
                    $("#body").html(data);
                });
            });
            // 采购退货
            $("#po02").click(function(){
                $.get("views/mrbList.html",function(data){
                    historyParams.viewId='mrbList';
                    RouterManager.setUrl(historyParams);
                    $("#body").html(data);
                });
            });
            // 新建采购退货
            $("#po03").click(function(){
                $.get("views/mrb-body.html",function(data){
                    historyParams.viewId='mrb-body';
                    RouterManager.setUrl(historyParams);
                    $("#body").html(data);
                });
            });
            $("#return01").click(function(){
                if(groupId == 'mtfList'){
                    var typeId = $('#typeId').val();
                    $.get("views/mtfList.html", function (data) {
                        $("#body").html(data);
                        RouterManager.setUrl({
                            groupId:'mtfList',
                            typeId:typeId
                        });
                    });
                }
                else{
                    history.go(-1);
                }
            });
            $('#return1').click(function(){
                $.get("views/incomeList-create-body.html", function (data) {
                    $("#body").html(data);
                });
            });
        },
        form: function() {
            var self = this;
            $('#incomeForm').bootstrapValidator({
                message: 'This value is not valid',
                feedbackIcons: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                fields: {
//                    'mtNo': {
//                        validators: {
//                            notEmpty: {
//                                message: '请填写收货单号'
//                            }
//                        }
//                    },
                    'toStkId:number': {
                        validators: {
                            notEmpty: {
                                message: '请选择到仓库'
                            }
                        }
                    },
                    'sCompanyCoId:number': {
                        validators: {
                            notEmpty: {
                                message: '请选择供应商'
                            }
                        }
                    },
                    'poId:number': {
                        validators: {
                            notEmpty: {
                                message: '请选择采购单编码'
                            }
                        }
                    }
                }
            }).on('success.form.bv', function(e) {
                e.preventDefault();
                if(!self.validateMatlist()) {
                    var top = $('#body').scrollTop();
                    $('#nullAlert').css({
                        top: $(window).height() * 0.2 + top
                    }).draggable().show();
                    $('#info').empty();
                    $('#info').append('验证不通过');
//                    alert('验证不通过');
                    return;
                }
                var $form= $(e.target);
                var validator = $form.data('bootstrapValidator');
                var income =JSON.stringify($('#incomeForm').serializeJSON());
                var params =  RouterManager.getParams();
                var action = params['action'];
                if(action == 'edit') {
                    $.saveMtfStatus(income,jmstoken,function(data){
                        history.go(-1);
                    });
                }
                else{
                    $.saveMtf(income,jmstoken,function(data){
//                        $.get("views/incomeList.html",function(data){
//                            $("#body").html(data);
//                        });
                        history.go(-1);
                    });
                }
            });
        },
        form1:function(){
            var self = this;
            $('#matLocForm').bootstrapValidator({
                message: 'This value is not valid',
                feedbackIcons: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                fields: {
                    'idMaterial:number': {
                        validators: {
                            notEmpty: {
                                message: '物料不能为空'
                            }
                        }
                    },
                    'idStk:number': {
                        validators: {
                            notEmpty: {
                                message: '仓库不能为空'
                            }
                        }
                    },
                    'idBin:number': {
                        validators: {
                            notEmpty: {
                                message: '货架不能为空'
                            }
                        }
                    }
                }
            }).on('success.form.bv', function(e) {
                e.preventDefault();
                var $form     = $(e.target),
                validator = $form.data('bootstrapValidator');
                var matBin =JSON.stringify($('#matLocForm').serializeJSON());
                $.saveMatBin(matBin,jmstoken,function(data){
//                    $.get("views/incomeList-create-body.html",function(data){
//                        $("#body").html(data);
//                    });
                    history.go(-1);
                });

            });
        },
        validateMatlist: function() {
            var $list = $('#matlist');
            var $items = $list.find('.matlist');
            var flag = true;
            var reg =/^[0-9a-zA-z-_]+$/;

            if(!$items.length) {
                flag = false;
            }
            
            $items.each(function(i) {
                var $t = $(this);
                if(!$t.find('.a').val()) {
                    $t.find('.a').addClass('error');
                    flag = false;
                }
                var lot = $t.find('.c').val();
                if(!lot||reg.test(lot)==false) {
                    $t.find('.c').addClass('error');
                    flag = false;
                }
                
                if(!parseInt($t.find('.d').val())) {
                    $t.find('.d').addClass('error');
                    flag = false;
                }


//                if(!parseInt($t.find('.g').val())||isNaN($t.find('.g').val())) {

                if(!parseInt($t.find('.g').val())) {
                    $t.find('.g').addClass('error').val('');
                    flag = false;
                }
            });
            
            return flag;
        }
    };
    newIncomeListEntry.init();

</script>