<!DOCTYPE html>
<html>
<head>

<script type="text/javascript">
var jmstoken= store.get('JMS-TOKEN');
$(document).ready(function() {
    $('#tableMachineList').DataTable( {
        deferRender:  true,
        "processing": true,
        "serverSide": true,
        scrollY:"350px",
        scrollCollapse: true,
        "ajax": {
            "url": "http://192.168.30.107:9999/jms/s/materialList",
            "dataType": "json"
        },
       "language": {
                        "url": "js/datatable/chinese.json"
                   },
      
        //dom: "rtiS",
        scroller: {
           loadingIndicator: true
        }
    } );
		//点击进货、出货
		$('？').click(function(){
			$('#_key1').val('?');
	 		$.get("views/mtfList-body.html",function(data){
	             $("#body").html(data);
	     	});
	 	});
} );
</script>

</head>
<body>
<div class="col-lg-9 col-lg-offset-3">
    <label class="col-lg-3 control-label">状态</label>
    <div class="col-lg-5">
        <select class="form-control" name="status:number" id="status">
   		</select>
    </div> 
    <div class="search1"><input name="" type="text" /></div><!--搜索框-->
	<div class="search2"><input name="" type="button" /></div><!--搜索按钮-->
    <button type="button" class="btn btn-primary" id="create">新建</button>
</div>
 <table id="tableMachineList" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>序号</th>
                <th>备件编号</th>
                <th>备件名称</th> 
                <th>设备编号</th>
                <th>设备名称</th>
                <th>安全库存</th>
                <th>实际库存</th> 
                <th>进货数量</th>
                <th>出货数量</th>
                <th>备注</th>
                <th>状态</th>
                <th>操作</th>  <!--编辑、进货、出货-->
            </tr>
        </thead>
</table>



</body>
</html>
