    <div class="container">

        <div class="row">

            <section>



<br>
                <div class="col-lg-8 col-lg-offset-2">
                        
                           
							<fieldset>
							<legend>维修历史详情</legend>
							<div class="form-group">
                                <label class="col-lg-3 control-label">设备编号</label>
                                <div class="col-lg-5">
                                    <label class="col-lg-3 control-label" name="machineNo" id="machineNo"></label>
                                </div> 
                            </div> 
                            <div class="form-group">
                                <label class="col-lg-3 control-label">设备名称</label>
                                <div class="col-lg-5">
                                    <label class="col-lg-3 control-label" name="machineName" id="machineName"></label>
                                </div>
                            </div>
							<div class="form-group">
                                <label class="col-lg-3 control-label">报修者</label>
                                <div class="col-lg-5">
                                    <label class="col-lg-3 control-label" name="repair" id="repair"></label>
                                </div> 
                            </div> 
                            <div class="form-group">
                                <label class="col-lg-3 control-label">报修时间</label>
                                <div class="col-lg-5">
                                    <label class="col-lg-3 control-label" name="repairTime" id="repairTime"></label>
                                </div>
                            </div>
							<div class="form-group">
                                <label class="col-lg-3 control-label">确认者</label>
                                <div class="col-lg-5">
                                	<label class="col-lg-3 control-label" name="confirmor" id="confirmor"></label>
                                </div> 
                            </div> 
							<div class="form-group">
                                <label class="col-lg-3 control-label">故障描述</label>
                                <div class="col-lg-5">
                                    <label class="col-lg-3 control-label" name="issueDes" id="issueDes"></label>
                                </div> 
                            </div> 
                            <div class="form-group">
                            	<label class="col-lg-3 control-label">维修更换零部件</label>
                                <table id="table1" class="display" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th>零部件名称</th>
                                            <th>型号规格</th>
                                            <th>数量</th>
                                        </tr>
                                    </thead> 
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">故障处理描述</label>
                                <div class="col-lg-5">
                                    <label class="col-lg-3 control-label" name="solution" id="solution"></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">故障根源分析与防止故障再发建议</label>
                                <div class="col-lg-5">
                                    <label class="col-lg-3 control-label" name="suggestion" id="suggestion"></label>
                                </div>
                            </div><div class="form-group">
                                <label class="col-lg-3 control-label">开始 响应时间</label>
                                <div class="col-lg-5">
                                    <label class="col-lg-3 control-label" name="responseTime" id="responseTime"></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">开始维修时间</label>
                                <div class="col-lg-5">
                                    <label class="col-lg-3 control-label" name="repairTime" id="repairTime"></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">维修完成时间</label>
                                <div class="col-lg-5">
                                    <label class="col-lg-3 control-label" name="recoverTime" id="recoverTime"></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">维修人</label>
                                <div class="col-lg-5">
                                    <label class="col-lg-3 control-label" name="maintainer" id="maintainer"></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-9 col-lg-offset-3">
                                    <button type="button" class="btn btn-primary" id="return">返回</button>
                                </div>
                            </div>
                </div>
            </section>
            <!-- :form -->  
        </div>
    </div>
<script type="text/javascript">

$(document).ready(function() {
    var idHistory = $('#_key19').val();
	$.historyInfo({"id":idHistory},token,function(data){
		$('#machineNo').html(data.machineNo);
		$('#machineName').html(data.machineName);
		$('#repair').html(data.repair);
		$('#repairTime').html(data.repairTime);
		$('#issueDes').html(data.issueDes);
		$('#solution').html(data.solution);
		$('#suggestion').html(data.suggestion);
		$('#responseTime').html(data.responseTime);
		$('#repairTime').html(data.repairTime);
		$('#recoverTime').html(data.recoverTime);
		$('#maintainer').html(data.maintainer);
	});
	
	$('#table1').DataTable( {
        deferRender:  true,
        "processing": true,
        "serverSide": true,
        scrollY:"350px",
        scrollCollapse: true,
        "ajax": {
            "url": "http://115.28.24.76:8080/jms-integration-1.0/dic/test",
            "dataType": "json",
            "data":idHistory
        },
       "language": {
                        "url": "js/datatable/chinese.json"
                   },
      
        dom: "rtiS",
        scroller: {
           loadingIndicator: true
        }
    } );
    
	$('#return').click(function(){
		//返回上一页
	 	});
    
    

} );
</script>
    



