<!DOCTYPE html>
<html>
<head>

<script type="text/javascript">
var jmstoken= store.get('JMS-TOKEN');
function showObj(objid){
	$(objid).show();
}
function hideObj(objid){
	$(objid).hide();
}
var actStopPlanList = {
	init:function(){
//		this.loadTable();
		this.bindEvents();
		this.form();
		this.autoFill();
	},
	autoFill:function(){
		var dataPickerOpt = {
			format: "YYYY-MM-DDTHH:mm:ss.SSSZ",
			useCurrent: false,
			sideBySide: true
		}
		$('#actSt').datetimepicker(dataPickerOpt);
		$('#actFt').datetimepicker(dataPickerOpt);
		$('#planSt').datetimepicker(dataPickerOpt);
		$('#planFt').datetimepicker(dataPickerOpt);

	},
	loadTable:function(){
		var self = this;
		var data = {};
		if ($('#handle-bar').html() == '全部'){
			data.idStatus = null;
		}
		else{
			var idStatus = $('#status-select').val();
			data.idStatus = idStatus;
		}
		if(this.table) {
			this.table.destroy();
		}
		this.table = $('#tableStopPlanList').DataTable( {
			"processing": true,
			"serverSide": true,
			"stateSave": true,
			"stateDuration": -1,
			"ajax": {
				"type": 'POST',
				"url": $clientURL + "p/findPStopsPlanReportList",
				"dataType": "json",
				headers: {'JMS-TOKEN':jmstoken},
				data:data
			},
			"columnDefs": [ {
				"targets": -1,
				"data": null,
				"defaultContent": '<button class=button-edit>编辑</button>'
			} ],
			"language": {
				"url": "js/datatable/chinese.json"
			},
			dom: "tip",
			pageLength:"50"
		} );
		$('#tableStopPlanList tbody').on( 'click', 'button', function () {
			var rowData = self.table.row( $(this).parents('tr') ).data();
			var clazz =$(this).attr('class');
			var top = $('#body').scrollTop();
			$('#actStop').css({
				top: $(window).height() * 0.2 + top
			}).show();
			self.loadDetail(rowData[7]);
		} );
	},
	loadDetail:function(idActStop){
		$.actStopInfo(idActStop,jmstoken,function(data){
			$('#statusId').selectautofill('p/getPStatusList',{headers:{'JMS-TOKEN':store.get('JMS-TOKEN')},data:{'source':'p_stops_plan'}},function(){
				$('#statusId').val(data.statusId);
			});
			$('#actStopPlanForm').populate(data,true);
			$('#machineId').html('<option value="' + data.machineId + '">' + data.machineCode + '</option>');
			$('#pSubCodeId').html('<option value="' + data.pSubCodeId + '">' + data.pSubCode + '</option>');
			$('#planSt').val($.dateFormat.date(new Date(data.planSt), 'yyyy-MM-ddTHH:mm:ss.SSSZ'));
			$('#planFt').val($.dateFormat.date(new Date(data.planFt), 'yyyy-MM-ddTHH:mm:ss.SSSZ'));
			if(data.actSt){
				$('#actSt').val($.dateFormat.date(new Date(data.actSt), 'yyyy-MM-ddTHH:mm:ss.SSSZ'));
				if(data.actFt){
					$('#actFt').val($.dateFormat.date(new Date(data.actFt), 'yyyy-MM-ddTHH:mm:ss.SSSZ'));
				}
				else{
					$('#actFt').val('');
				}
			}else{
				$('#actSt').val('');
				$('#actFt').val('');
			}
		});
	},
	bindEvents:function(){

		var self = this;

		$('#status-select').selectautofill('p/getPStatusList',{headers:{'JMS-TOKEN': jmstoken},data:{'source':'p_stops_plan'}}, function(data) {
			var _html = '';
			_(data).each(function(d, i) {
				_html += '<li><a href="javascript:;" data-id="' + d.id + '">' + d.name + '</a></li>';
				if(d.name == '开放'){
					$('#status-select').val(parseInt(d.id));
					$('#handle-bar').html(d.name);
					self.loadTable();
				}
			});
			$('#status-group').find('.dropdown-menu').append(_html);
			$('#status-group').find('.dropdown-menu').append('<li><a >全部</a></li>');
		});

//		$('.dropdown-toggle').on('click',function(e){
//			$('#handle-bar').html('状态');
//		});
		$('#status-group').on('click', 'li a', function(e) {
			var $t = $(this);
			var id = $t.data('id');
			$('#status-select').val(parseInt(id));
			$('#handle-bar').html($t.text());
			self.loadTable();
		});

		var historyOptions = {
			groupId:'p-actStopPlanList'
		};

		$('#us').click(function(){
			$.get("views/p-unplannedStop.html",function(data){
				historyOptions.viewId='p-unplannedStop';
				RouterManager.setUrl(historyOptions);
				$("#body").html(data);
			});
		});
//    	$('#sr').click(function(){
//	 		$.get("views/p-stop-reason.html",function(data){
//	             $("#body").html(data);
//	     	});
//	 	});
		$('#cs').click(function(){
			$.get("views/p-actSetup.html",function(data){
				historyOptions.viewId='p-actSetup';
				RouterManager.setUrl(historyOptions);
				$("#body").html(data);
			});
		});

		$('#return1').click(function(){
			$.get("views/p-actStopPlanList.html",function(data){
				$("#body").html(data);
			});
		});
	},
	form:function(){
		$('#actStopPlanForm').bootstrapValidator({
			message: 'This value is not valid',
			feedbackIcons: {
				valid: 'glyphicon glyphicon-ok',
				invalid: 'glyphicon glyphicon-remove',
				validating: 'glyphicon glyphicon-refresh'
			},
			fields: {
//				'actSt': {
//					validators: {
//						notEmpty: {
//							message: '实际开始时间不能为空'
//						}
//					}
//				},
//				'actFt': {
//					validators: {
//						notEmpty: {
//							message: '实际结束时间不能为空'
//						}
//					}
//				}
			}
		}).on('success.form.bv', function(e) {
			e.preventDefault();
			var $form  = $(e.target),
			validator = $form.data('bootstrapValidator');
//			var actStopPlan =JSON.stringify($('#actStopPlanForm').serializeJSON());


			var actStopPlan = $('#actStopPlanForm').serializeJSON();
			actStopPlan.planSt = actStopPlan.planSt.replace('Z', '470+08:00');
			actStopPlan.planFt = actStopPlan.planFt.replace('Z', '470+08:00');
			actStopPlan.actSt = actStopPlan.actSt.replace('Z', '470+08:00');
			actStopPlan.actFt = actStopPlan.actFt.replace('Z', '470+08:00');
			actStopPlan = JSON.stringify(actStopPlan);
			debugger;
			$.saveStopPlan(actStopPlan,jmstoken,function(data){
				debugger;
				$('#save').removeAttr('disabled');
				$.get("views/p-actStopPlanList.html",function(data){
					$("#body").html(data);
				});
			});

		});
	}
};
actStopPlanList.init();
</script>

</head>
<body>
<div class="body-head-title">
	<span class="h-title-selected"><b>实际停机</b></span>
	<span class="h-title" id="us">非计划停机</span>
	<!--<span class="h-title" id="sr">停机编码</span>-->
	<span class="h-title" id="cs">实际装载</span>
</div>
<div class="cont">
<div class="r-header-body">
	<div class="btn-group btn-group-left" id="status-group">
		<select name="none" id="status-select" style="display: none;"></select>
		<button class="btn btn-default" type="button" style="" id="handle-bar">状态</button>
		<button aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button">
			<span class="caret"></span>
			<span class="sr-only">状态</span>
		</button>
		<ul class="dropdown-menu"></ul>
	</div>
</div>

<table id="tableStopPlanList" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
				<th>机器</th>
                <th>原因</th>
                <th>计划开始时间</th>
                <th>计划停止时间</th>
                <th>实际开始时间</th> 
                <th>实际停止时间</th>
				<th>状态</th>
				<th>操作</th>
            </tr>
        </thead>
</table>
</div>

<!-- 弹窗 start -->
<div class="tcbox container-fluid" id="actStop" style="overflow: visible;">
   <div class="tcbox_cont row">
        <div class="body-head-title">
					<span class="h-title">实际停机</span>
		</div>
      <input type="button" class="tc_close" onClick="javascript:hideObj('#actStop');">
     <form id="actStopPlanForm" method="post" action="index.html" class="form-inline">
		 <div class="col-xs-12 mar-top-20px">
			 <div class="form-group">
				 <label for="" class="input-w-160">机器</label>
				 <!--<input type="text" class="form-control input-w-3"  name="machine" id="machine" readOnly="true">-->
				 <select class="form-control" style="width:180px;" name="machineId:number" id="machineId">
				 </select>
			 </div>
		 </div>
				<div class="col-xs-12 mar-top-20px">  
					<div class="form-group">
				    	<label for="" class="input-w-160">主原因</label>
				    	<!--<input type="text" class="form-control input-w-3"  name="Code" id="Code" readOnly="true">-->
						<select class="form-control" style="width:180px;" name="pSubCodeId:number" id="pSubCodeId">
						</select>
				    </div>
				</div>
				<div class="col-xs-12 mar-top-20px"> 
				    <div class="form-group">
				    	<label for="" class="input-w-160">计划开始时间</label>		
				    	<input type="text" class="form-control input-w-3"  name="planSt" id="planSt" readOnly="true" readonly="true">
					</div>
				</div>
				<div class="col-xs-12 mar-top-20px">  
					<div class="form-group">
				    	<label for="" class="input-w-160">计划结束时间</label>
				    	<input type="text" class="form-control input-w-3"  name="planFt" id="planFt" readOnly="true" readonly="true">
				    </div>
				</div>
				<div class="col-xs-12 mar-top-20px">  
					<div class="form-group">
				    	<label for="" class="input-w-160">实际开始时间</label>
				    	<input type="text" class="form-control input-w-3"  name="actSt" id="actSt">
				    </div>
				</div>
				<div class="col-xs-12 mar-top-20px">  
					<div class="form-group">
				    	<label for="" class="input-w-160">实际结束时间</label>
				    	<input type="text" class="form-control input-w-3"  name="actFt" id="actFt">
				    </div>
				</div>
		 <div class="col-xs-12 mar-top-20px">
			 <div class="form-group">
				 <label for="" class="input-w-160">状态</label>
				 <!--<input type="text" class="form-control input-w-3"  name="Code" id="Code" readOnly="true">-->
				 <select class="form-control" style="width:180px;" name="statusId:number" id="statusId">
				 </select>
			 </div>
		 </div>
            <div class="aligncenter">
                 	<div class="form-group">
                 		<button type="submit" class="btn btn-primary " id="save">保存</button>
                 		<button id="return1" type="button" class="btn  btn-info">返回</button>
                 	</div>
           </div>
                 <input type="hidden" id="idStopsPlan" name="idStopsPlan:number"/>
           </form>          
   </div>  
</div>

<!-- 弹窗 over -->
</body>
</html>
