<div class="form-group">
    <label class="col-lg-3 control-label">每</label>
    <input type="text" class="form-control" name="days" id="days"/>
    <label class="col-lg-3 control-label">天</label>
 </div>
<div class="form-group">
    <div class="col-lg-5">
        <div class='input-group date' id='datetimepicker1'>
			<input type='text' class="form-control" name="startTime" id="startTime"/>
			<span class="input-group-addon">
				<span class="glyphicon glyphicon-calendar"></span>
			</span>
		</div>
		<script type="text/javascript">
			$(function () {
				$('#datetimepicker1').datetimepicker();
			});
		</script>
    </div>
</div>
<div class="col-lg-9 col-lg-offset-3">
    <button type="submit" class="btn btn-primary">添加</button>
</div>
<div class="col-lg-9 col-lg-offset-3">
    <button type="submit" class="btn btn-primary" id="create">生成</button> // 用算法生成检查计划
</div>

<script type="text/javascript">
	$('create').click(function(){
	 	$.get("views/p-cppList.html",function(data){
	        $("#body").html(data);
	    });
	});
</script>