<!DOCTYPE html>
<html>
<head>

<script type="text/javascript">

$(document).ready(function() {
	
	var jmstoken= store.get('JMS-TOKEN');
    var table=$('#tablePa').DataTable( {
        "processing": true,
        "serverSide": true,
        "stateSave": true,
        "stateDuration": -1,
        "ajax": {
            "type": 'POST',
            "url": $clientURL + "p/getPaDetailList",
            "dataType": "json",
			 headers: {'JMS-TOKEN':jmstoken}
        },
        "columnDefs": [ {
            "targets": -1,
            "data": null,
            "defaultContent": '<button class=button-edit>详情</button>'
        } ],
       "language": {
                        "url": "js/datatable/chinese.json"
                   },
      	dom: "tip",
		pageLength:"50"
    } );
    
	$('#tablePa tbody').on( 'click', 'button', function () {
     	var data = table.row( $(this).parents('tr') ).data();
        var historyParams = {
            groupId:'p-paList',
            viewId:'p-palist-detail',
            woId:data[5]
        };
		$.get("views/p-palist-detail.html",function(data){
            RouterManager.setUrl(historyParams);
	        $("#body").html(data);
	    });
    } );
    
    
    $('#date').click(function(){
        var historyParams={
            groupId:'p-palist',
            viewId:'p-palist-detail'
        };
        $.get("views/p-palist-detail.html",function(data){
            RouterManager.setUrl(historyParams);
            $("#body").html(data);
        });
    });
} );
</script>

</head>
<body>
<div class="body-head-title">
	<span class="h-title-selected"><b>总生产详情</b></span>
	<!--<span class="h-title" id="date">日生产详情</span>-->
</div>
<div class="cont">
	<!--<div class="r-header-body">-->
	    <!--<div class="btn-group-left link-title">-->
	    <!--<span id="all"><a href="javascript:">所有生产</a></span>-->
	        <!--<a href="javascript:" id="processing">未完成</a>-->
	        <!--<a href="javascript:" id="finished">已完成</a>-->
        <!--</div>-->
    <!--</div>-->
 <table id="tablePa" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <!--<th>编号</th>-->
                <!--<th>产线</th>-->
                <th>工单号</th>
                <th>数量</th>
                <!--<th>工艺</th>-->
                <th>总完成数</th>
                <th>差异</th>
                <th>状态</th>
                <th>操作</th> 
            </tr>
        </thead>
</table>
</div>
</body>
</html>

