<form id="cppForm" method="post" action="index.html" class="form-horizontal">
	<table id="tableCppList" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>编号</th>
                <th>工单号</th>
                <th>工艺</th>
                <th>产品</th> 
                <th>版本</th>
                <th>数量</th>
                <th>班次</th>
                <th>计划开始时间</th>
                <th>计划结束时间</th>
                <th>计划数量</th>
                <th>计划检查时间</th> 
                <th>操作</th>
            </tr>
        </thead>
	</table>
	<div class="form-group">
    	<div class="col-lg-9 col-lg-offset-3">
        	<button type="submit" class="btn btn-primary">保存</button>
        	<button type="submit" class="btn btn-primary" id="cancel">取消</button>
    	</div>
	</div>
</form>

<script type="text/javascript">
var jmstoken= store.get('JMS-TOKEN');
$(document).ready(function() {
    $('#tableCppList').DataTable( {
    	//算法
    } );
    
    $('#cppForm').bootstrapValidator({
        message: 'This value is not valid',
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            }
    }).on('success.form.bv', function(e) {
            e.preventDefault();
            var $form     = $(e.target),
            validator = $form.data('bootstrapValidator');
       		var cpp =JSON.stringify($('#cppForm').serializeJSON());
		 	var jmstoken= store.get('JMS-TOKEN');
		 	$.createCpp(cpp,jmstoken,function(data){
			      	$.get("views/p-sppList.html",function(data){
	                    $("#body").html(data);
	             	});
			});
 	   });
		
		$('cancel').click(function(){
	 		$.get("views/p-sppList.html",function(data){
	             $("#body").html(data);
	     	});
	 	});
	

} );
</script>