<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>工作中心</title>
<script type="text/javascript">

function showObj(objid){
	$(objid).draggable().show();
	
}
function hideObj(objid){
	$(objid).hide();	
}

$(document).ready(function() {
	var jmstoken= store.get('JMS-TOKEN');
    var table=$('#tableWorkcenter').DataTable( {

        "processing": true,
		"serverSide": true,
        "stateSave": true,
        "stateDuration": -1,
        "ajax": {
            "type": 'POST',
            "url": $clientURL + "p/workCenterList",
            "dataType": "json",
			 headers: {'JMS-TOKEN':jmstoken}
        },
        "columnDefs": [ {
            "targets": -1,
            "data": null,
            "defaultContent": '<button class=button-edit>编辑</button><button class=button-delete>删除</button>'
        } ],
       "language": {
                        "url": "js/datatable/chinese.json"
                   },
      	dom: "tip",
		"iDisplayLength":"50"
    } );
    $('#tableWorkcenter tbody').on( 'click', 'button', function () {
     	var data = table.row( $(this).parents('tr') ).data();
     	var clazz=$(this).attr('class');
        if(clazz=='button-edit'){
            var top = $('#body').scrollTop();
            $('.tcbox').css({
                top: $(window).height() * 0.2 + top
            }).draggable().show();
//        	showObj('.tcbox');
			$.workcenterInfo(data[3],jmstoken,function(data){
		 		$('#workcenterForm').populate(data,true);
			});
     	}
        else{
        	$.deleteWorkcenter(data[3],jmstoken,function(data){
     		  	$.get("views/p-workcenter.html",function(data){
	                $("#body").html(data);
	            });
     		});
        }
    } );
    $('#workcenterForm').bootstrapValidator({
        message: 'This value is not valid',
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            'workCenter': {
                validators: {
                    notEmpty: {
                        message: '工作中心不能为空'
                    },
                    regexp: {
                        regexp: /^(?!_)(?!.*?_$)[a-zA-Z0-9_\u4e00-\u9fa5]+$/,
                        message: '只能是中文，字母、数字及下划线。'
                    }
                }
            }

        }
    }).on('success.form.bv', function(e) {
            e.preventDefault();
            var $form     = $(e.target),
            validator = $form.data('bootstrapValidator');
       		var workcenter =JSON.stringify($('#workcenterForm').serializeJSON());
		 	$.saveWorkcenter(workcenter,jmstoken,function(data){
			      	$.get("views/p-workcenter.html",function(data){
	                    $("#body").html(data);
	             	});
			});

        });
        var historyOptions={
          groupId:'p-workcenter'
        };
	   //产线
		$('#p-line').click(function(){
            historyOptions.viewId='p-line';
	 	    $.get("views/p-line.html",function(data){
                RouterManager.setUrl(historyOptions);
	            $("#body").html(data);
	     	});
	 	});	
		//车间
		$('#p-wip').click(function(){
            historyOptions.viewId='p-wip';
            $.get("views/p-wip.html",function(data){
                RouterManager.setUrl(historyOptions);
	            $("#body").html(data);
	     	});
	 	});
        //设备组
        $('#mGroup').click(function(){
            historyOptions.viewId='p-machine-group';
            $.get("views/p-machine-group.html",function(data){
                RouterManager.setUrl(historyOptions);
                $("#body").html(data);
            });
        });
    $('#draggable1').on("click",".tc_close,#return",function() {
        $.get("views/p-workcenter.html", function (data) {
            $("#body").html(data);
        });
    });
//		$('#return').on("click",function(){
//	 	    $.get("views/p-workcenter.html",function(data){
//	            $("#body").html(data);
//	     	});
//	 	});
    // 弹窗拖拽
//    $(function () {
//        $('#draggable1').draggabilly();
//    });
} );
</script>
    <style>
        #workCenter{text-align:left;}
    </style>
</head>
<body>
<div class="body-head-title">
	<span class="h-title-selected"><b>工作中心</b></span>
    <span class="h-title" id="p-line">产线</span>
    <span class="h-title" id="p-wip">车间</span>
    <span class="h-title" id="mGroup">设备组</span>
</div>
<div class="cont"> 
<div class="r-header-body">
<div class="right-list">
       <button id="create" class="button-sytle1" onClick="javascript:showObj('.tcbox');">新建</button>
</div>
</div>
 <table id="tableWorkcenter" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>工作中心</th>
                <th>创建时间</th>
                <th>创建人</th>
                <th>操作</th>
            </tr>
        </thead>
</table>
</div>
<!-- 弹窗 start -->
<div class="tcbox container-fluid" id="draggable1">
   <div class="tcbox_cont row">
        <div class="body-head-title">
					<span class="h-title">新建或编辑工作中心</span>
		</div>
      <input type="button" class="tc_close">
     <form id="workcenterForm" method="post" action="index.html" class="form-inline">
				<div class="col-xs-12 mar-top-20px">  
					<div class="form-group">
				    	<label for="" class="input-w-160">工作中心</label>
				    	<input type="text" class="form-control input-w-3"  name="workCenter" id="workCenter">
				    </div>
				</div>
            <div class="aligncenter">
                 	<div class="form-group">
                 		<button type="submit" class="btn btn-primary ">保存</button>
                 		<button id="return" type="button" class="btn  btn-info">返回</button>
                 	</div>
           </div>
                 <input type="hidden" id="idWc" name="idWc:number"/>
           </form>          
   </div>  
</div>

<!-- 弹窗 over -->
</body>
</html>

