<div class="container-fluid">
    <div class="row">
        <!-- form: -->
            <section>
            	<form id="" method="post" action="index.html" class="form-inline"> 
            	<div class="alert alert-success" style="display: none;"></div>
				<div class="body-head-title">
					<span class="h-title">采购订单详情</span>
				</div>
  
                <div class="col-xs-12 mar-top-20px">                	
                		<label for="" class="input-w-160">订单编码</label>
                        <input type="text" class="form-control input-w-3" name="" id="" readOnly="true"> 
                		<label for="" class="input-w-160">供应商</label>
                		<select name="" class="input-w-3 select-cs1 form-control" name="materialCategory[idDic]:number" id="materialCategory.idDic">
                			<option value="">供应商</option>
                		</select> 
                </div>
                <div class="col-xs-12 mar-top-20px">                	
                		<label for="" class="input-w-160">下单日期</label>
                		<input type="date" class="form-control input-w-3" name="" id=""> 
                		<label for="" class="input-w-160">下单员</label>
                		<input type="text" class="form-control input-w-3" name="weight" id="" readOnly="true">
                </div>
                <div class="col-xs-12 mar-top-20px">                	
                		<label for="" class="input-w-160">货运条款</label>
                		<select name="" class="input-w-3 select-cs1 form-control" name="" id="">
                			<option value="">货运条款</option>
                		</select> 
                		<label for="" class="input-w-160">付款条件</label>
                		<select name="" class="input-w-3 select-cs1 form-control" name="" id="">
                			<option value="">付款条件</option>
                		</select> 
                </div>
                <div class="col-xs-12 mar-top-20px">                	
                		<label for="" class="input-w-160">总价</label>
                		<input type="text" class="form-control input-w-3" name="" id="">
                		<label for="" class="input-w-160">税率</label>
                        <input type="text" class="form-control input-w-3" name="" id=""> %
                </div>
                <div class="col-xs-12 mar-top-20px">                	
                		<label for="" class="input-w-160">汇率</label>
                		<input type="text" class="form-control input-w-3" name="" id=""> 
                		<label for="" class="input-w-160">状态</label>
                		<select name="" class="input-w-3 select-cs1 form-control" name="" id="">
                			<option value="">状态</option>
                		</select> 
                </div>
                 <div class="col-xs-12 mar-top-20px"> 
                 	<label for="" class="input-w-160">备注</label>
                 	<textarea class="form-control input-w-300" rows="3" name="remark" id="remark"></textarea>
                 </div>
                <div class="col-xs-12 mar-top-20px">                	
                    <label for="" class="input-w-160">上传附件</label>
                	<input type="file" name="" id="" value=""  class="inherit " name="idAttachment" id="idAttachment"/> 
                </div>

                 <div class="clearfix"></div>
                 
                 
                </form>
            </section>
        <!-- :form -->
    </div>
</div>
<div class="cont">
                                <table id="table1" class="display" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                        	<th>行号</th>
                                            <th>物料编号</th>
                                            <th>版本</th>
                                            <th>描述</th>
                                            <th>单位</th>
                                            <th>数量</th>
                                            <th>单价</th>
                                            <th>总价</th>
                                            <th>交货日期</th>
                                            <th>备注</th>
                                            <th>已收货数量</th>
                                            <th>缺料单号</th>

                                        </tr>
                                    </thead> 
                                </table>

  </div>  
  <div class="foot-btn-box">
                 	<div class="form-group">
                 		<button type="reset" class="btn  btn-info" id="cancel">返回</button>
                 	</div>
   </div>
    <script type="text/javascript">

	$(document).ready(function() {
		
		var idPo = $('#_key4').val();
	$.poInfo({"id":idPo},token,function(data){
		$('#codePo').html(data.codePo);
		$('#dateOrder').html(data.dateOrder);
		$('#empOrder').html(data.empOrder);
		$('#codeCo').html(data.codeCo);
		$('#term1').html(data.term1);
		$('#term2').html(data.term2);
		$('#stk').html(data.stk);
		$('#totalAmount').html(data.totalAmount);
		$('#taxRate').html(data.taxRate);
		$('#exchange').html(data.exchange);
		$('#remark').html(data.remark);
		$('#autoRemark').html(data.autoRemark);
		$('#status').html(data.status);
		$('#exchange').html(data.exchange);
		$('#pno').html(data.pno);
		$('#rev').html(data.rev);
		$('#des').html(data.des);
		$('#unitPur').html(data.unitPur);
		$('#qty').html(data.qty);
		$('#uPrice').html(data.uPrice);
		$('#totalPrice').html(data.totalPrice);
		$('#deliveryDate').html(data.deliveryDate);
		$('#remark').html(data.remark);
		$('#qtyReceived').html(data.qtyReceived);
		$('#status').html(data.status);
	});
		
	   
	   $('cancel').click(function(){
	 		$.get("views/po.html",function(data){
	             $("#body").html(data);
	     	});
	 	});
    	
	});
	</script>
