    <div class="container">

        <div class="row">
            <!-- form: -->

            <section>



<br>
                <div class="col-lg-8 col-lg-offset-2">
                    <form id="defaultForm" method="post" action="index.html" class="form-horizontal">
                            <div class="form-group">
                                <label class="col-lg-3 control-label">出货单</label>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-9 col-lg-offset-3">
                                    <button type="submit" class="btn btn-primary">打印</button>
                                    <button type="button" class="btn btn-primary" id="return_btn">返回</button>
                                </div>
                            </div>
                    </form>
                </div>
            </section>
            <!-- :form -->  
        </div>
    </div>
<script type="text/javascript">   
   	 $('#return_btn').click(function(){
// 	 	debugger
	 		history.back();
	 	});
</script>
