    <div class="container">

        <div class="row">
            <!-- form: -->

            <section>



<br>
                <div class="col-lg-8 col-lg-offset-2">
                    <form id="inProcessingForm" method="post" action="index.html" class="form-horizontal">
                        
                            <input type="hidden" id="idProcessing" />
							<fieldset>
							<div class="form-group">
                                <label class="col-lg-3 control-label">工单号</label>
                                <div class="col-lg-5">
                                    <select class="form-control" name="woNo" id="woNo">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">零件名称</label>
                                <div class="col-lg-5">
                                    <input type="text" class="form-control" name="matDes" id="matDes"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">图纸号</label>
                                <div class="col-lg-5">
                                    <input type="text" class="form-control" name="drawNo" id="drawNo"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">项目名称</label>
                                <div class="col-lg-5">
                                    <input type="text" class="form-control" name="projectName" id="projectName"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">工序</label>
                                <div class="col-lg-5">
                                	<select class="form-control" name="routeDes" id="routeDes">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">设备</label>
                                <div class="col-lg-5">
                                	<select class="form-control" name="machineName" id="machineName">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">生产批次</label>
                                <div class="col-lg-5">
                                    <input type="text" class="form-control" name="lotNo" id="lotNo"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <table id="table1" class="display" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th>编号</th>
                                            <th>检查项目</th>
                                            <th>检验方法</th>
                                            <th>频率</th>
                                            <th>规格</th>
                                            <th>1</th>
                                            <th>2</th>
                                            <th>3</th>
                                            <th>4</th>
                                            <th>5</th>
                                            <th>6</th>
                                            <th>+</th>
                                            <th>-</th>
                                        </tr>
                                    </thead> 
                                </table>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">结果</label>
                                <div class="col-lg-5">
                                    <select class="form-control" name="result" id="result">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">作业员</label>
                                <div class="col-lg-5">
                                    <input type="text" class="form-control" name="op" id="op"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">日期</label>
                                <div class="col-lg-5">
                                    <div class='input-group date' id='datetimepicker1'>
										<input type='text' class="form-control" name="opDate" id="opDate"/>
										<span class="input-group-addon">
											<span class="glyphicon glyphicon-calendar"></span>
										</span>
									</div>
							        <script type="text/javascript">
										$(function () {
											$('#datetimepicker1').datetimepicker();
										});
									</script>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-9 col-lg-offset-3">
                                    <button type="submit" class="btn btn-primary">保存</button>
                                    <button type="button" class="btn btn-primary" id="cancel">取消</button>
                                </div>
                            </div>
                    </form>
                </div>
            </section>
            <!-- :form -->  
        </div>
    </div>
<script type="text/javascript">

$(document).ready(function() {
	$('#woNo\\.idDic').selectautofill('dic/woNo');
	$('#routeDes\\.idDic').selectautofill('dic/routeDes');
	$('#machineName\\.idDic').selectautofill('dic/machineName');
	$('#result\\.idDic').selectautofill('dic/result');
    
    var idInProcessing = $('#_key23').val();
	$.inProcessingInfo({"id":idInProcessing},token,function(data){
		$('#inProcessingForm').populate(data,true);
	});
    
    $('#table1').DataTable( {
        deferRender:  true,
        "processing": true,
        "serverSide": true,
        scrollY:"350px",
        scrollCollapse: true,
        "ajax": {
            "url": "http://115.28.24.76:8080/jms-integration-1.0/dic/test",
            "dataType": "json"
        },
       "language": {
                        "url": "js/datatable/chinese.json"
                   },
      
        dom: "rtiS",
        scroller: {
           loadingIndicator: true
        }
    } );
    
    $('#inProcessingForm').bootstrapValidator({
        message: 'This value is not valid',
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            'woNo': {
                validators: {
                    notEmpty: {
                        message: '工单号不能为空'
                    }
                }
            },
            'routeDes': {
                validators: {
                    notEmpty: {
                        message: '工序不能为空'
                    } 
                }
            },
            'machine': {
                validators: {
                    notEmpty: {
                        message: '设备不能为空'
                    } 
                }
            },
            'result': {
                validators: {
                    notEmpty: {
                        message: '检验结果不能为空'
                    } 
                }
            }
            //检查项目必须有一行记录？
        }
    }).on('success.form.bv', function(e) {
            e.preventDefault();
            var $form     = $(e.target),
            validator = $form.data('bootstrapValidator');
       		var inProcessing =JSON.stringify($('#inProcessingForm').serializeJSON());
		 	var jmstoken= store.get('JMS-TOKEN');
		 	$.createInProcessing(inProcessing,jmstoken,function(data){
			      	$.get("views/q-inProcessingList.html",function(data){
	                    $("#body").html(data);
	             	});
			});
 	   });
 	   
 	   $('#cancel').click(function(){
	 		$.get("views/q-inProcessingList.html",function(data){
	             $("#body").html(data);
	     	});
	 	});
} );
</script>
    



