    <div class="container">

        <div class="row">
            <!-- form: -->

            <section>



<br>
                <div class="col-lg-8 col-lg-offset-2">
                    
                        
                           
							<fieldset>
							<legend>销售订单</legend>
							<div class="form-group">
                                <label class="col-lg-3 control-label">订单编码</label>
                                <div class="col-lg-5">
                                    <label class="col-lg-3 control-label" name="soNo" id="soNo"></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">下单日期</label>
                                <div class="col-lg-5">
                                	<label class="col-lg-3 control-label" name="dateOrder" id="dateOrder"></label>
                                </div>
                            </div> 
                            <div class="form-group">
                                <label class="col-lg-3 control-label">下单员</label>
                                <div class="col-lg-5">
                                    <label class="col-lg-3 control-label" name="empOrder" id="empOrder"></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">客户</label>
                                <div class="col-lg-5">
                                	<label class="col-lg-3 control-label" name="codeCo" id="codeCo"></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">客户订单号</label>
                                <div class="col-lg-5">
                                    <label class="col-lg-3 control-label" name="coOrderNo" id="coOrderNo">/label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">货运条款</label>
                                <div class="col-lg-5">
                                	<label class="col-lg-3 control-label" name="term1" id="term1"></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">付款条件</label>
                                <div class="col-lg-5">
                                    <label class="col-lg-3 control-label" name="term2" id="term2"></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">发货仓库</label>
                                <div class="col-lg-5">
                                	<label class="col-lg-3 control-label" name="stk" id="stk"></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">税率</label>
                                <div class="col-lg-5">
                                    <label class="col-lg-3 control-label" name="taxRate" id="taxRate"></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">汇率</label>
                                <div class="col-lg-5">
                                	<label class="col-lg-3 control-label" name="exchange" id="exchange"></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">物料编号</label>
                                <div class="col-lg-5">
                                	<label class="col-lg-3 control-label" name="pno:number" id="pno.id"></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">版本</label>
                                <div class="col-lg-5">
                                    <label class="col-lg-3 control-label" name="rev" id="rev"/></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">描述</label>
                                <div class="col-lg-5">
                                    <label class="col-lg-3 control-label" name="des" id="des"></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">库存单位</label>
                                <div class="col-lg-5">
                                	<label class="col-lg-3 control-label" name="unitInf" id="unitInf"></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">数量</label>
                                <div class="col-lg-5">
                                	<label class="col-lg-3 control-label" name="qtySo" id="qtySo"></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">单价</label>
                                <div class="col-lg-5">
                                	<label class="col-lg-3 control-label" name="uPrice" id="uPrice"></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">总价</label>
                                <div class="col-lg-5">
                                	<label class="col-lg-3 control-label" name="totalAmount" id="totalAmount"></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">交货日期</label>
                                <div class="col-lg-5">
                                	<label class="col-lg-3 control-label" name="deliveryDate" id="deliveryDate"></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">已发货数量</label>
                                <div class="col-lg-5">
                                	<label class="col-lg-3 control-label" name="qtyDelivery" id="qtyDelivery"></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">备注</label>
                                <div class="col-lg-5">
                                    <label class="col-lg-3 control-label" name="remark" id="remark"></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">自动备注</label>
                                <div class="col-lg-5">
                                    <label class="col-lg-3 control-label" name="autoRemark" id="autoRemark"></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">状态</label>
                                <div class="col-lg-5">
                                	<label class="col-lg-3 control-label" name="status" id="status"></label>
                                </div>
                            </div>
                            <div class="form-group">
                            	<div class="col-lg-5">
                                	<label class="col-lg-3 control-label" id="attachment">附件</label>
                                </div>
                            </div>
<br> 
<br> 
<br>
                            <div class="form-group"> 
                            	<div class="col-lg-9 col-lg-offset-3">
                                    <button type="button" class="btn btn-primary" id="cancel">取消</button>
                            	</div>
                       		</div>

                </div>
            </section>
            <!-- :form -->
        </div>
    </div>
    
    <script type="text/javascript">

	$(document).ready(function() {
		
		var idSo = $('#_key10').val();
	$.soInfo({"id":idSo},token,function(data){
		$('#soNo').html(data.soNo);
		$('#dateOrder').html(data.dateOrder);
		$('#empOrder').html(data.empOrder);
		$('#codeCo').html(data.codeCo);
		$('#coOrderNo').html(data.coOrderNo);
		$('#term1').html(data.term1);
		$('#term2').html(data.term2);
		$('#stk').html(data.stk);
		$('#taxRate').html(data.taxRate);
		$('#exchange').html(data.exchange);
		$('#exchange').html(data.exchange);
		$('#pno').html(data.pno);
		$('#rev').html(data.rev);
		$('#des').html(data.des);
		$('#unitInf').html(data.unitInf);
		$('#qtySo').html(data.qtySo);
		$('#uPrice').html(data.uPrice);
		$('#totalAmount').html(data.totalAmount);
		$('#deliveryDate').html(data.deliveryDate);
		$('#qtyDelivery').html(data.qtyDelivery);
		$('#remark').html(data.remark);
		$('#autoRemark').html(data.autoRemark);
		$('#status').html(data.status);
	});
		
	   
	   $('cancel').click(function(){
	 		$.get("views/po.html",function(data){
	             $("#body").html(data);
	     	});
	 	});
    	
	});
	</script>
