
    <div class="container-fluid" id="incomeListEntryCnt">
        <div class="row">
            <!-- form: -->
            <section>

                <form id="doForm" method="post" action="index.html" class="form-inline">
                    <div class="col-xs-12 mar-top-20px">
                        <div class="form-group">
                            <label for="" class="input-w-160">出货单号</label>
                            <input type="text" class="form-control input-w-3" name="mtNo" id="mtNo"/>
                        </div>
                        <div class="form-group">
                            <label for="" class="input-w-160">从仓库</label>
                            <select class="input-w-3 select-cs1 form-control" name="fromStkId:number" id="fromStkId">
                                <!--<option value="">从仓库</option>-->
                            </select>
                        </div>
                        <div class="form-group" style="display:none">
                            <!--<div class="form-group">-->
                            <label for="" class="input-w-160">到仓库</label>
                            <input type="text" class="form-control input-w-3" name="toStkId:number" id="toStkId">
                            <!--<select class="input-w-3 select-cs1 form-control" name="toStkId:number" id="toStkId">-->
                            <!--<option value="">到仓库</option>-->
                            <!--</select>-->
                        </div>
                    </div>
                    <div class="col-xs-12 mar-top-20px"  id="order" style="display: none;">
                        <div class="form-group">
                            <label for="" class="input-w-160">出货日期</label>
                            <input type="date" class="form-control input-w-3" name="creationTime" id="creationTime">
                        </div>
                        <div class="form-group">
                            <label for="" class="input-w-160">出货员</label>
                            <input type="text" class="form-control input-w-3" name="recMtUser" id="recMtUser">
                        </div>
                    </div>
                    <div class="col-xs-12 mar-top-20px">
                        <div class="form-group">
                            <label for="" class="input-w-160">客户</label>
                            <select class="input-w-3 select-cs1 form-control" name="idCustomerCompany:number" id="idCustomerCompany">
                                <option value="">客户</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="" class="input-w-160">客户订单号</label>
                            <select class="input-w-3 select-cs1 form-control" name="coOrderNo:number" id="coOrderNo">
                                <option value="">客户订单号</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-12 mar-top-20px">
                        <div class="form-group">
                            <label for="" class="input-w-160">往来公司</label>
                            <select class="input-w-3 select-cs1 form-control" name="idToCompany:number" id="idToCompany">
                                <option value="">往来公司</option>
                            </select>
                        </div>
                    </div>
                    <!--<div class="col-xs-12 mar-top-20px">-->
                    <!--<div class="form-group">-->
                    <!--<label for="" class="input-w-160">物流公司</label>-->
                    <!--<select class="input-w-2 select-cs1 form-control" name="codeCo" id="codeCo">-->
                    <!--</select>-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                    <!--<label for="" class="input-w-160">运单号</label>-->
                    <!--<input  class="form-control input-w-2" name="codePo" id="codePo">-->
                    <!--</div>-->
                    <!--</div>-->
                    <!-- +\- start -->
                    <div class="col-xs-12 mar-top-20px changerep_cont">
                        <table id="" cellpadding="0" cellspacing="0">
                            <tr>
                                <th width="116"> 销售单号 </th>
                                <th width="130px"> 物料</th>
                                <th width="170px"> 从货架</th>
								<th width="91px"> 应发货数量</th>
								<th width="91px"> 已发货数量</th>
                                <th width="91px"> 发货数量</th>
                                <th width="169px"> 备注 </th>
                                <th width="101px" id="operation"> 操作</th>
                            </tr>
                        </table>

                        <div class="form-group" id="matlist">
                        </div>   <!-- +\- over -->
                    </div>

                    <!-- +\- over -->
                    <div class="clearfix"></div>
                    <div class="foot-btn-box">
                        <div class="form-group">
                            <button class="btn btn-primary" id="save">保存</button>
                            <button class="btn  btn-info" type="button" id="return01">返回</button>
                        </div>
                    </div>
                    <input type="hidden" id="idMt" name="idMt:number" />
                    <input type="hidden" id="typeId" name="typeId:number" value="9" />
                    <input type="hidden" id="statusId" name="statusId:number" value="4" />
                </form>
            </section>
            <!-- :form -->
        </div>
    </div>


<script type="text/html" id="incomeListItemTmpl">
    <dl class="matlist" id="item<%= item %>">
        <dd class="income-create-list">
            <select style="width:98px" name="smtfItems[item<%= item %>][soId]:number" id="smtfItems.item<%= item %>.soId" class="select-cs1 a">
                <% if(data.soId) { %>
                <option value="<%= data.soId %>"><%= data.soCode %></option>
                <% } else { %>
                <option value="">销售订单编码</option>
                <% } %>
            </select>
            <input class="g" name="smtfItems[item<%= item %>][materialId]:number" id="smtfItems.item<%= item %>.materialId;" style="width:156px" type="hidden" />
            <input type="text" class="b" placeholder="物料" style="width:91px" readonly="true" />
            <!--<input type="hidden" class="b-id" name="smtfItems[item<%= item %>][material]:number" value="<%= data.material %>" placeholder="物料" style="width:150px" readonly="true" />-->
            <% if(data.fromBinId) { %>
            <select class="select-cs1 d" name="smtfItems[item<%= item %>][fromBinId]:number" id="smtfItems.item<%= item %>.fromBinId" style="width:125px">
                <option value="<%= data.fromBinId %>"><%= data.fromBin %></option>
            </select>
            <% } else { %>
            <select class="select-cs1 f" name="smtfItems[item<%= item %>][inventoryId]:number" id="smtfItems.item<%= item %>.inventoryId" style="width:168px">
                <!--<option value="">从货架</option>-->
            </select>
            <input type="hidden" class="i" name="smtfItems[item<%= item %>][inventoryQty]:number" value="<%= data.inventoryQty %>" id="smtfItems.item<%= item %>.inventoryQty" placeholder="库存" style="width:85px">
            <% } %>
            <input type="hidden" class="h" name="smtfItems[item<%= item %>][toBinId]:number" value="<%= data.toBinId %>" id="smtfItems.item<%= item %>.toBinId" placeholder="到货架" style="width:85px">
						<input type="text" class="c" name="smtfItems[item<%= item %>][qty]:number" value="<%= data.qty %>" id="smtfItems.item<%= item %>.qty" style="width: 87px" placeholder="应发货数量" style="width:85px">
						<input type="text" class="c" name="smtfItems[item<%= item %>][qty]:number" value="<%= data.qty %>" id="smtfItems.item<%= item %>.qty" style="width: 84px" placeholder="已发货数量" style="width:85px">
						<input type="text" class="c" name="smtfItems[item<%= item %>][qty]:number" value="<%= data.qty %>" id="smtfItems.item<%= item %>.qty" style="width: 84px" placeholder="发货数量" style="width:85px">

            <input type="text" class="e" name="smtfItems[item<%= item %>][remark]" value="<%= data.remark %>" id="smtfItems.item<%= item %>.remark" placeholder="备注" style="width:130px">
            <span class="action">
                <a class="button-sytle1  new-income-add">+</a>
                <a class="button-sytle1 new-income-delete">-</a>
            </span>
        </dd>
    </dl>
</script>
<script type="text/javascript">
    var autoPo = store.get('userProfile').autoPo;
    var historyOptions={
        groupId:'doList'
    };

    var jmstoken= store.get('JMS-TOKEN');
    //弹窗
    function showObj(objid){
        $(objid).show();

    }
    function hideObj(objid){
        $(objid).hide();
    }

    //仅仅是为了模块化而已
    var app = {
        init:function(){
            var self = this;
            this.incomeListItemTmpl = _.template($('#incomeListItemTmpl').html());
//            $('#body').html($('#incomeListEntryTmpl').html());
            if(autoPo=='1'){
                $("#mtNo").attr('disabled',true);
                $("#mtNo").attr('placeholder','自动编码');
            }else {
                $("#mtNo").removeAttr('disabled');
            }
            var params = this.params = RouterManager.getParams();
            var doListId = params['incomeId'];
            var groupId = params['groupId'];
            this.$matList = $('#matlist');
            if(doListId){
            }
            else{
                this.$matList.append(this.createRow());
            }
            //绑定事件
            this.bindEvents(groupId);
            this.loadDetail();
            this.doForm();
						this.loadSoList();
//            $('#matlist').append(this.createRow());
        },
        /**
         * 绑定事件逻辑
         */
        nullAlertShow:function(information){
            var top = $('#body').scrollTop();
            $('#nullAlert').css({
                top: $(window).height() * 0.2 + top
            }).show();
            $('#info').empty();
            $('#info').append(information);
        },
        bindEvents:function(groupId){
            var self = this;
            var frameContainer = $('#incomeListEntryCnt');
            //下拉框
            self.loadSCompanyCo();
            self.loadStk();
            self.loadCompany2();

            $.mtfStkInfo('SO',jmstoken,function(data) {
                $('#toStkId').val(data.idStk);
            });
            //增加行
            $('#matlist').on('click','.new-income-add',function(e){
                self.addRow(e)
            });
            //删除行
            $('#matlist').on('click','.new-income-delete',function(e){
                self.delRow(e)
            });
            $('#matlist').on('focus', 'select, input', function() {
                $('#save').attr('disabled', false);
                $(this).removeClass('error');
            });
            //改变客户
            $('#idCustomerCompany').on('change',function(){
                self.loadCoOrderNos();
            });
            $('#coOrderNo').on('change',function(){
                self.loadSoList();
            });
            frameContainer.on("change",".f", function(){
                var $t = $(this);
                var $dl = $t.closest('dl');
                self.loadInventoryQty($dl);
            });

            //改变销售单号
            $('#matlist').on("change",".a",function(){
                var $t = $(this);
                var $dl = $t.closest('dl');
                self.loadMaterial($dl);
            });
            frameContainer.on("change","#fromStkId", function(){
                var $list = $('#matlist');
                var $items = $list.find('.matlist');
                $items.each(function(i) {
                    var $dl = $(this);
                    self.fillFromBin($dl);
                });
            });
            //出货管理
            $("#do").click(function(){
                $.get("views/doList.html",function(data){
                    RouterManager.setUrl(historyOptions);
                    $("#body").html(data);
                });
            });
            //新建出货单
            $("#createDo").click(function(){
                $.get("views/doList-create-body.html",function(data){
                    historyOptions.viewId='doList-create-body';
                    RouterManager.setUrl(historyOptions);
                    $("#body").html(data);
                });
            });
            //销售退货
            $("#rma").click(function(){
                $.get("views/rmaList.html",function(data){
                    historyOptions.viewId='rmaList';
                    RouterManager.setUrl(historyOptions);
                    $("#body").html(data);
                });
            });
            //新建销售退货
            $("#createRma").click(function(){
                $.get("views/rma-body.html",function(data){
                    historyOptions.viewId='rma-body';
                    RouterManager.setUrl(historyOptions);
                    $("#body").html(data);
                });
            });
            $("#return01").click(function(){
                if(groupId == 'mtfList'){
                    var typeId = $('#typeId').val();
                    $.get("views/mtfList.html", function (data) {
                        $("#body").html(data);
                        RouterManager.setUrl({
                            groupId:'mtfList',
                            typeId:typeId
                        });
                    });
                }
                else{
                    history.go(-1);
                }
            });
        },
        loadSCompanyCo: function() {
            $('#idCustomerCompany').selectautofill('s/myCompanies', {headers: {'JMS-TOKEN': store.get('JMS-TOKEN')}});
//            $('#sCompanyCoId').selectautofill('s/getCompanyCoList',{headers:{'JMS-TOKEN':store.get('JMS-TOKEN')},data:{'coCompanyType':2}});
        },
        loadStk: function() {
//            $('#fromStkId').selectautofill('s/getStks',{headers:{'JMS-TOKEN':store.get('JMS-TOKEN')},data:{'statusId':27}});
            $('#fromStkId').selectautofill('s/getStksByTypes?statusId=27&types=1&types=3',{headers:{'JMS-TOKEN':store.get('JMS-TOKEN')}});
        },
        loadCompany2:function(){
            $('#idToCompany').selectautofill('s/myCompanies', {headers: {'JMS-TOKEN': store.get('JMS-TOKEN')}});
        },
        loadCoOrderNos: function() {
            var self = this;
            var coId=$('#idCustomerCompany').val();
            if(!coId) {
                return;
            }
            $('#coOrderNo').empty();
            $('#coOrderNo').append('<option value="">客户订单号</option>');
            $('#coOrderNo').selectautofill2('s/findCoOrderNosByCompany2Id',{headers:{'JMS-TOKEN':store.get('JMS-TOKEN')},data:{'idCompany2':coId}},function(){
                self.loadSoList();
            });
        },
        loadSoList: function($cnt) {
            if(!$cnt) {
                $cnt = $('#matlist');
            }
            var $a = $cnt.find('.a');
            var coOrderNo=$('#coOrderNo').val();
            var coId=$('#idCustomerCompany').val();
            if(!coOrderNo) {
                return;
            }
            $a.empty();
            $a.append('<option value="">销售订单编码</option>');
            $a.selectautofill('s/getSoListByCompany2IdAndOrderNo1',{headers:{'JMS-TOKEN':store.get('JMS-TOKEN')},data:{'company2Id':coId,'orderNo':coOrderNo}});
        },
        loadBins: function($cnt) {
            if(!$cnt) {
                $cnt = $('#matlist');
            }
            var $d = $cnt.find('.d');

            var idStk = $('#fromStkId').val();

            if(!idStk) {
                return;
            }

            $d.empty();
            $d.append('<option value="">从货架</option>');
            $d.selectautofill('s/getBins',{headers:{'JMS-TOKEN':store.get('JMS-TOKEN')},data:{'idStk':idStk}});
        },
        fillFromBin: function($dl,callback) {
            var self = this;
            var idStk = $('#fromStkId').val();
            var $g = $dl.find('.g');
            var $f = $dl.find('.f');
            var idMaterial = $g.val();
            if (!idMaterial || !idStk) {
                return;
            }
            $f.empty();
//            $f.selectautofill('s/findInventoryDetailsObjsByMaterialIdAndStkId',{headers:{'JMS-TOKEN':store.get('JMS-TOKEN')},data:{'materialId':idMaterial,'stkId':idStk}}, callback);
            $f.selectautofill('s/findInventoryDetailsObjsByMaterialIdAndStkId',{headers:{'JMS-TOKEN':store.get('JMS-TOKEN')},data:{'materialId':idMaterial,'stkId':idStk}}, function(data){
							console.log(data);
                self.loadInventoryQty($dl);
            });

        },
        loadInventoryQty:function($dl){
            var $i = $dl.find('.i');
            var $f = $dl.find('.f');
            var material = $f.find("option:selected").text();
            var start01 = material.indexOf(', 库存: ')+6;
            var end01 = material.length;
            var qtyIncome=material.substring(start01,end01);
            $i.val(qtyIncome);
        },
        loadToBin: function($el, callback) {
            if(!$el) {
                $el = $('.h');
            } else {
                $el = $el.find('.h');
            }
            $.mtfBinInfo(8,'SO',jmstoken,function(data){
                $el.val(data.idBin);
            });
        },
        loadMaterial: function($dl) {
            var self = this;
            var $materialNameInput =  $dl.find('.b');
            var $materialIdInput = $dl.find('.g');
            var $a = $dl.find('.a');
            var $f = $dl.find('.f');
            var soId=$a.val();
            if(!soId) {
                return;
            }
            $f.empty();
            $f.append('<option value="">从货架</option>');
            $.soDoMatInfo(soId, jmstoken, function (data) {
                $materialIdInput.val(data.idMaterial);
                $materialNameInput.val(data.pno + '-' + data.rev + '-' + data.des);
                if(!$a.data('poshytip')) {
                    $a.poshytip({
                        content: '单位：' + data.unitInv + ' 数量：' + data.qtySo + ' 交货日期：' + data.deliveredDate + ' 已发数量：' + data.qtyDelivered,
                    });
                    $a.data('poshytip', true);
                }
                self.fillFromBin($dl);
            });
        },
        addRow: function(e) {
            var $t = $(e.target);
            var html = this.createRow();

            $t.closest('dl').after(html);
            this.loadSoList($t.closest('dl').next());
            this.loadBins($t.closest('dl').next());
            this.loadToBin($t.closest('dl').next());
        },
        delRow: function(e) {
            var $t = $(e.target);
            if(this.$matList.find('.matlist').length == 1) {
                return;
            }
            $t.closest('dl').remove();
        },
        loadDetail: function() {
            var self = this;

            if(!self.params.incomeId) {
                return;
            }

            $("#order").show();
            $.mtfInfo(self.params.incomeId, jmstoken, function(data) {
                self.parseDetail(data);
            });
        },
        parseDetail: function(data) {
            var self = this;
            $('#doForm').populate(data, true);
            $.each(data.smtfItems, function(key, item) {
                var html = self.createRow(item);
                $('#matlist').append(html);
                self.loadMaterial($('#matlist').children().eq(-1));
            });
            $('#fromStkId').html('<option value="' + data.fromStkId + '">' + data.fromStk + '</option>');
            $('#coOrderNo').html('<option value="' + data.coOrderNo + '">' + data.coOrderNo + '</option>');
            self.loadSCompanyCo(function(){
                $('#idCustomerCompany').val(data.idCustomerCompany);
            });
            $('#idToCompany').selectautofill('s/myCompanies', {headers: {'JMS-TOKEN': store.get('JMS-TOKEN')}},function(){
                $('#idToCompany').val(data.idToCompany);
            });
//            $('#idToCompany').html('<option value="' + data.idToCompany + '">' + data.idToCompany + '</option>');
//            $('#sCompanyCoId').selectautofill('s/getCompanyCoList',{headers:{'JMS-TOKEN':store.get('JMS-TOKEN')},data:{'coCompanyType':2}}, function() {
//                $('#sCompanyCoId').val(data.coCompanyId);
//            });

//            $('#idCustomerCompany').selectautofill('s/myCompanies', {headers: {'JMS-TOKEN': store.get('JMS-TOKEN')}}, function() {
//                $('#idCustomerCompany').val(data.idCustomerCompany);
//            });

//            var creation = new Date(data.creationTime);
//            var cm = creation.getMonth() + 1;
//            if(cm < 10) {
//                cm = '0' + cm;
//            }
//            $('#creationTime').val([creation.getFullYear(), cm, creation.getDate()].join('-'));
            $('#creationTime').val($.dateFormat.date(new Date(data.creationTime), 'yyyy-MM-dd'));

                //如果是详情页面的话
//                $('input,select,textarea',$('#doForm')).prop('disabled',true);
                $("input:not(:button,:hidden)").prop("readonly", true);
                $('.new-income-delete').remove();
                $('.new-income-add').remove();
                $('#save').remove();
                $('#operation').remove();
                $('table','#doForm').attr('width','706px');

        },
        DefaultRowData: {
            "idMtfMaterial": null,
            "toBin": "",
            "fromBinId": null,
            "fromBin": null,
            "fromBinId": null,
            "soCode": "",
            "soId": null,
            "poMaterialId": null,
            "materialId": null,
            "materialPno": "",
            "materialRev": "",
            "materialDes": "",
            "marterialUnit": "",
            "codePo": null,
            "qtyPo": null,
            "deliveryDate": "",
            "qtyReceived": null,
            "status": null,
            "statusId": null,
            "pwoBom": null,
            "pwoBomId": null,
            "woNo": null,
            "lotNo": null,
            "uqty": null,
            "box": null,
            "remark": "",
            "qty": null,
            "idMt": null,
            "type": "",
            "typeId": null,
            "company": null,
            "companyId": null,
            "fromStkId": 1,
            "fromStkId": null,
            "fromStk": null,
            "mtfStatusId": null,
            "mtfStatus": null,
            "empMtUser": null,
            "empMtUserId": null,
            "recMtUser": null,
            "recMtUserId": null,
            "mtNo": "",
            "dateMt": null,
            "creationTime": null,
            "codeCo": "",
            "toStk": ""
        },
        createRow: function(data) {
            var self = this;
            var $list = $('#matlist');
            var row = parseInt($list.data('row'));

            if(!row) {
                row = 1;
            }

            if(!data) {
                data = {};
            }

//            data = $.extend({}, self.DefaultRowData, data);

//            var compiled = _.template(self.incomeListItemTmpl);
            var param = {
                data: data,
                item: row,
                action: self.params.action
            }
//            var html = compiled(param);
            var html = self.incomeListItemTmpl(param);
            $list.data('row', row + 1);

            return html;
        },
        doForm: function() {
            var self = this;
            $('#doForm').bootstrapValidator({
                message: 'This value is not valid',
                feedbackIcons: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                fields: {
                    'mtNo': {
                        validators: {
                            notEmpty: {
                                message: '请填写出货单号'
                            }
                        }
                    },
										'coOrderNo':{
											validators: {
													notEmpty: {
															message: '请选择客户订单号'
													}
											}
										},
                    'idCustomerCompany:number': {
                        validators: {
                            notEmpty: {
                                message: '请选择客户'
                            }
                        }
                    }
                }
            }).on('success.form.bv', function(e) {
   e.preventDefault();
                if(!self.validateMatlist()) {
                    var information = '验证不通过！';
                    self.nullAlertShow(information);
                    //alert('验证不通过');
                    return;
                }
                else{
									console.log($('#coOrderNo').val());
                var $form     = $(e.target);
                var validator = $form.data('bootstrapValidator');
                var doform =JSON.stringify($('#doForm').serializeJSON());
                $.saveMtf(doform,jmstoken,function(data){
                    if(data.valid) {
//                        $.get("views/doList.html",function(data){
//                            $("#body").html(data);
//                        });
                        history.go(-1);
                    } else {
                        var information = data.msg;
                        self.nullAlertShow(information);
                //        alert(data.msg);
                    }
                });
                }
            });
        },
        validateMatlist: function() {
            var $list = $('#matlist');
            var $items = $list.find('.matlist');
            var flag = true;

            if(!$items.length) {
                //alert('item.length'+flag);
                flag = false;
            }

            $items.each(function(i) {
                var $t = $(this);

                if(!$t.find('.a').val()) {
                    $t.find('.a').addClass('error');
                    flag = false;
                }

                var inventoryQty = $t.find('.i').val();
                var $qty = $t.find('.c');
//alert('qty:' + $qty.val() + 'inv: ' + inventoryQty);
              //  if(!parseInt($qty.val())||isNaN($qty.val())||$qty.val()>inventoryQty) {
               //     $t.find('.c').addClass('error');
                //    flag = false;
                //}


                if(!parseInt($t.find('.f').val())) {
                    $t.find('.f').addClass('error').val('');
                    flag = false;
                }
            });
//alert(flag);
            return flag;
        }
    };

    app.init();
</script>
