<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>成本中心</title>
	<style>
		#doSetForm input+label {
			padding: 6px 10px;
		}
	</style>
</head>

<body>
	<div class="body-head-title">
		<span class="h-title" id="position">职位</span>
		<span class="h-title" id="dep">部门</span>
		<span class="h-title" id="emp">员工</span>
		<span class="h-title" id="role">角色</span>
		<span class="h-title" id="notification">消息中心</span>
		<span class="h-title" id="costCenter">成本中心</span>
		<span class="h-title" id="stopDes">停机描述</span>
		<span class="h-title" id="doSet">收、出货设置</span>
		<span class="h-title" id="code">自动编码设置</span>
	</div>
	<div class="cont">
		<form id="doSetForm" method="post" action="index.html" class="form-inline">

			<label for="exampleInputEmail1" class="input-w-200">是否自动生成采购单编码：</label>
			<input type="radio" name="autoPo" class='autoPo' class="radio-w" value="1"/><label for="stateOn">是</label>
			<input type="radio" name="autoPo" class='autoPo' class="radio-w" value="0" /><label for="stateOoff">否</label>
			<br>

			<label for="exampleInputEmail1" class="input-w-200">是否自动生成销售单编码：</label>
			<input type="radio" name="autoSo" class='autoSo' class="radio-w" value="1"/><label for="stateOn">是</label>
			<input type="radio" name="autoSo" class='autoSo' class="radio-w" value="0" /><label for="stateOoff">否</label>
			<br>

			<label for="exampleInputEmail1" class="input-w-200">是否自动生成出货单号：</label>
			<input type="radio" name="autoDo" class='autoDo' class="radio-w" value="1"/><label for="stateOn">是</label>
			<input type="radio" name="autoDo" class='autoDo' class="radio-w" value="0" /><label for="stateOoff">否</label>
			<br>

			<label for="exampleInputEmail1" class="input-w-200">是否自动生成工单号：</label>
			<input type="radio" name="autoWo" class='autoWo' class="radio-w" value="1"/><label for="stateOn">是</label>
			<input type="radio" name="autoWo" class='autoWo' class="radio-w" value="0" /><label for="stateOoff">否</label>


             <br/>
			<label for="exampleInputEmailx" class="input-w-200">是否自动生成工单：</label>
			<input type="radio" name="soWo" class='soWo' class="radio-w" value="1"/><label for="stateOn">是</label>
			<input type="radio" name="soWo" class='soWo' class="radio-w" value="0" /><label for="stateOoff">否</label>




			<div class="clearfix"></div>
			<div class="foot-btn-box">
				<div class="form-group">
					<button type="button" id="save" class="btn btn-primary ">保存</button>
				</div>
			</div>
		</form>
	</div>
	<!-- 弹窗 start -->

	<!-- 弹窗 over -->
	<script type="text/javascript">
		$(document).ready(function() {

			var jmstoken = store.get('JMS-TOKEN');
			$.getWSNumSet( jmstoken, function(data) {
				data.autoPo?$(".autoPo").eq(0).attr('checked', 'checked'):$(".autoPo").eq(1).attr('checked', 'checked')
				data.autoSo?$(".autoSo").eq(0).attr('checked', 'checked'):$(".autoSo").eq(1).attr('checked', 'checked')
				data.autoDo?$(".autoDo").eq(0).attr('checked', 'checked'):$(".autoDo").eq(1).attr('checked', 'checked')
				data.autoWo?$(".autoWo").eq(0).attr('checked', 'checked'):$(".autoWo").eq(1).attr('checked', 'checked')
				data.soWo?$(".soWo").eq(0).attr('checked', 'checked'):$(".soWo").eq(1).attr('checked', 'checked')
			});
			$('#save').on('click',function(e){
				var numSet = {
					autoPo:$("input[name='autoPo']:checked").val(),
					autoSo:$("input[name='autoSo']:checked").val(),
					autoDo:$("input[name='autoDo']:checked").val(),
					autoWo:$("input[name='autoWo']:checked").val(),
					soWo:$("input[name='soWo']:checked").val(),
				}
				$.saveWSNumSet(JSON.stringify(numSet), jmstoken, function(data) {
					var userProfile = store.get("userProfile")
					userProfile.autoPo = numSet.autoPo
					userProfile.autoSo = numSet.autoSo
					userProfile.autoDo = numSet.autoDo
					userProfile.autoWo = numSet.autoWo
					userProfile.soWo = numSet.soWo
					store.set("userProfile",userProfile)
				});
			})
			var historyParams = {
				groupId: 'system'
			}
			$('#position').click(function() {
				$.get("views/sys-position.html", function(data) {
					historyParams.viewId = 'sys-position';
					RouterManager.setUrl(historyParams);
					$("#body").html(data);
				});
			});
			$('#emp').click(function() {
				$.get("views/sys-employee.html", function(data) {
					historyParams.viewId = 'sys-employee';
					RouterManager.setUrl(historyParams);
					$("#body").html(data);
				});
			});
			$('#role').click(function() {
				$.get("views/sys-role.html", function(data) {
					historyParams.viewId = 'sys-role';
					RouterManager.setUrl(historyParams);
					$("#body").html(data);
				});
			});
			$('#notification').click(function() {
				$.get("views/sys-notification.html", function(data) {
					historyParams.viewId = 'sys-notification';
					RouterManager.setUrl(historyParams);
					$("#body").html(data);
				});
			});
			$('#dep').click(function() {
				$.get("views/sys-dept.html", function(data) {
					historyParams.viewId = 'sys-dept';
					RouterManager.setUrl(historyParams);
					$("#body").html(data);
				});
			});
			$('#stopDes').click(function() {
				$.get("views/sys-stopDes.html", function(data) {
					historyParams.viewId = 'sys-stopDes';
					RouterManager.setUrl(historyParams);
					$("#body").html(data);
				});
			});
			$('#costCenter').click(function() {
				$.get("views/sys-costCenter.html", function(data) {
					historyParams.viewId = 'sys-costCenter';
					RouterManager.setUrl(historyParams);
					$("#body").html(data);
				});
			});
			$('#doSet').click(function() {
				$.get("views/sys-doSet.html", function(data) {
					historyParams.viewId = 'sys-doSet';
					RouterManager.setUrl(historyParams);
					$("#body").html(data);
				});
			});
			$('#code').click(function() {
				$.get("views/sys-code.html", function(data) {
					historyParams.viewId = 'sys-code';
					RouterManager.setUrl(historyParams);
					$("#body").html(data);
				});
			});
			// 弹窗拖拽
			//	$(function () {
			//		$('#draggable1').draggabilly();
			//	});
		});
		//function focus_last(obj){
		//
		//	var text = obj.createTextRange();
		//
		//	text.collapse(false);text.select();
		//
		//}
	</script>
</body>



</html>
