




    <div class="container">

        <div class="row">
            <!-- form: -->

            <section>



<br>
                <div class="col-lg-8 col-lg-offset-2">
                    <form id="defaultForm" method="post" action="index.html" class="form-horizontal">
                        
							<fieldset>
							<legend>部门信息</legend>
							<div class="form-group">
                                <label class="col-lg-3 control-label">部门名称</label>
                                <div class="col-lg-5">
                                    <input type="text" class="form-control" name="idCompany" id="idCompany"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">描述</label>
                                <div class="col-lg-5">
                                    <input type="text" class="form-control" name="companyName" id="companyName"/>
                                </div>
                            </div>
							<div class="form-group">
                                <label class="col-lg-3 control-label">排序</label>
								<div class="col-lg-5">
		                            <input type="text" class="form-control" name="companyName" id="companyName"/>
                        		</div>
                            </div>
							<!--<div class="form-group">-->
                                <!--<label class="col-lg-3 control-label">状态</label>-->
								<!--<div class="col-lg-5">-->
		                            <!--<select class="form-control" name="companyType[idDic]:number" id="companyType.idDic">-->
                                    <!--</select>-->
                        		<!--</div>-->
                            <!--</div>-->
							



                        <div class="form-group">
                            <div class="col-lg-9 col-lg-offset-3">
                                <button type="submit" class="btn btn-primary ">保存</button>
                                <button id="return" type="reset" class="btn  btn-info">返回</button>
                            </div>
                            <input type="hidden" class="form-control" name="idGroupType:number" id="idGroupType" value=3/>
                        </div>
                    </form>
                </div>
            </section>
            <!-- :form -->
        </div>
    </div>

<script type="text/javascript">
$(document).ready(function() {
    $('#companySize\\.idDic').selectautofill('dic/companySize');
    $('#companyType\\.idDic').selectautofill('dic/companyType');
    $('#companyNature\\.idDic').selectautofill('dic/companyNature');
    $.companyInfo(store.get('JMS-TOKEN'),function(company){
                     $('#defaultForm').populate(company,true);
                 });
    $('#province').selectautofill('dic/provinces');
	$('#province').change(function(){ $('#city option').each(function(){if($(this).val()!='-100'){$(this).remove()};});var idProvince = $('#province').val();  $('#city').selectautofill('dic/provinces/'+idProvince+'/cities');                });
	
	$('#city').change(function(){ $('#district option').each(function(){if($(this).val()!='-100'){$(this).remove()};});var idCity = $('#city').val();  $('#district').selectautofill('dic/cities/'+idCity+'/districts');                });
	
    $('#defaultForm').bootstrapValidator({
        message: 'This value is not valid',
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            username: {
                message: '用户名不合法。',
                validators: {
                    /*notEmpty: {
                        message: 'The username is required and can\'t be empty'
                    },*/
                    stringLength: {
                        min: 2,
                        max: 15,
                        message: '长度必须大于2小于15个字符'
                    },
                    regexp: {
                        regexp: /^[a-zA-Z0-9_\.]+$/,
                        message: '只能是字符、数字、点、下划线。'
                    }
                }
            },

            acceptTerms: {
                validators: {
                    notEmpty: {
                        message: '请点击接受使用协议。'
                    }
                }
            },
            email: {
                validators: {
                    /*notEmpty: {
                        message: 'The email address is required and can\'t be empty'
                    },*/
                    emailAddress: {
                        message: '邮箱格式不合法。'
                    }
                }
            },
            website: {
                validators: {
                    uri: {
                        allowLocal: true,
                        message: 'The input is not a valid URL'
                    }
                }
            },


            phoneNumber: {
                validators: {
                    //notEmpty: {},
                    digits: {},
                    phone: {
						//message: '电话号码不合法'
                        country: 'CN'
                    }
                }
            },
            color: {
                validators: {
                    hexColor: {
                        message: 'The input is not a valid hex color'
                    }
                }
            },
            zipCode: {
                validators: {
                    zipCode: {
                        country: 'US',
                        message: 'The input is not a valid US zip code'
                    }
                }
            },
            password: {
                validators: {
                    notEmpty: {
                        message: '密码不能为空'
                    },
                    identical: {
                        field: 'confirmPassword',
                        message: '密码与确认密码不同！'
                    }
                }
            },
            confirmPassword: {
                validators: {
                    notEmpty: {
                        message: '确认密码不能为空'
                    },
                    identical: {
                        field: 'password',
                        message: '密码与确认密码不同！'
                    }
                }
            },
            ages: {
                validators: {
                    lessThan: {
                        value: 100,
                        inclusive: true,
                        message: 'The ages has to be less than 100'
                    },
                    greaterThan: {
                        value: 10,
                        inclusive: false,
                        message: 'The ages has to be greater than or equals to 10'
                    }
                }
            }
        }
    });
});
</script>
