<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<link rel="stylesheet" type="text/css" href="form/css/pages.css">
	</head>
	<body>
		<main>
			<div class="container">
				<div class="ht30"></div>
				<div class="ui-tablehead">
					<table>
						<tr>
							<td colspan="2">
								<h3>贷款根据单</h3>
							</td>
						</tr>
					</table>
				</div>
				<div class="ui-tablemain gt">
					<table>
						<tr>
							<td><b>编号：</b></td>
							<td><span id="clientId"></span></td>
							<td><b>项目名称：</b></td>
							<td><span id="projName"></span></td>
							<td><b>项目地址：</b></td>
							<td><span id="projAddress"></span></td>
						</tr>
						<tr>
							<td>贷款银行</td>
							<td><input type="text" name="bank"></td>
							<td>贷款年限：</td>
							<td><span id="duration"></span></td>
							<td>项目容量</td>
							<td><span id="capacity"></span></td>
						</tr>
						<tr>
							<td>贷款比例</td>
							<td><input type="text" name="radio" class="zeroup"></td>
							<td>贷款金额：</td>
							<td><input type="text" name="amount" class="zeroup"></td>
							<td>每月还款金额</td>
							<td><span id="amountPermonth"></span></td>
						</tr>
						<tr>
							<td>每月还款时间</td>
							<td><span id="paymentTime"></span></td>
							<td>度电价格</td>
							<td><input type="text" name="unitPrice" class="zeroup"></td>
							<td>补贴价格</td>
							<td><input type="text" name="subsidyPrice" class="zeroup"></td>
						</tr>
						<tr>
							<td>项目预估发电量</td>
							<td><input type="text" name="estimateCapacity" class="zeroup"></td>
							<td>预计月收入</td>
							<td><input type="text" name="estimateIncomePermonth" readonly></td>
							<td>预计年收入</td>
							<td><input type="text" name="estimateIncomePeryear" readonly="true"></td>
						</tr>
						<tr>
							<td>实际发电量</td>
							<td><input type="text" name="actCapacity" class="zeroup"></td>
							<td>实际月收入</td>
							<td><input type="text" name="actIncomePermonth" readonly="true"></td>
							<td>实际年收入</td>
							<td><input type="text" name="actIncomePeryear" readonly></td>
						</tr>
						<tr>
							<td>充值金额</td>
							<td><input type="text" name="recharge" class="zeroup"></td>
							<td>贷款账户余额</td>
							<td><input type="text" name="balance" readonly></td>
							<td>预测未来6个月还贷风险</td>
							<td><input type="text" name="risk" readonly></td>
						</tr>
					</table>
				</div>
				<div class="ht30"></div>
			</div>
			<center>
				<button type="submit" class="btn btn-primary" style="padding:5px 10px;margin:20px">保 存</button>
    			<button type="button" class="btn" style="padding:5px 10px;margin:20px" onclick="history.back()">返 回</button>			
    		</center>
		</main>

<script type="text/javascript">

var formId = 3;
var hash = location.hash;
var projId = hash.slice(hash.indexOf('&projId=') + 8);

function saveForm(){
	if(!$('input[name=bank]').val()){
		alert("请填写贷款银行");
		return
	}
	$('input[type=text]').each(function(i,k){
		$(k).attr('value',k.value);
	});
	$('input[type=checkbox]').each(function(i,k){
		k.checked?$(k).attr('checked',''):$(k).removeAttr('checked');
	});
	$('textarea').each(function(i,k){
		$(k).text(k.value);
	});
	var data = JSON.stringify({
		idProject: projId
	,	content: $('main').html()
	});
	$.saveForm(formId, data, function(){ alert('保存成功！');});
}

function restoreForm(callback){

	$.readForm(formId, projId, function(data){
		console.log(data);
		var html = data.content;
		var clientId = data.code;
		var projName = data.c2;
		var projAddress = data.c1;
		var duration = data.duration;
		var amountPermonth = data.amountPermonth;
		var paymentTime = data.paymentTime;
		var capacity = data.capacity;
		html && $('main').html(html);
		clientId && $('#clientId').text(clientId);
		projName && $('#projName').text(projName);
		duration && $('#duration').html(duration);
		amountPermonth && $('#amountPermonth').html(amountPermonth);
		paymentTime && $('#paymentTime').html(paymentTime);
		projAddress && $('#projAddress').text(projAddress);
		capacity && $('#capacity').text(capacity);

		if(callback) callback();
	});
}

restoreForm(function(){
	$('button[type=submit]').on('click',saveForm);
});


</script>
</body>
<script>
$( document ).on("keyup",'.zeroup',function(){
	var val = $(this).val();
	if (!/^[0-9][0-9.]*(\.[0-9]+)?$/.test(val)) {
					if(val){
						val = val.replace(/\./g,"").replace(/[^\d.]/g,"");
						if(val.indexOf("0") == 0){
							val = val.substring(1,val.length);
						}
						$(this).val(val)
					}
	}	
	$('input[name=radio]').val();//贷款比例 
	var h = $('input[name=estimateCapacity]').val();//项目预估发电量 h
	var a = $('input[name=actCapacity]').val();//项目实际发电量 a
	var e = $('input[name=recharge]').val();//充值金额 e
	$('input[name=amount]').val();//贷款金额 
	var b = $('input[name=unitPrice]').val();//度电价格 b
	var c = $('input[name=subsidyPrice]').val();//补贴价格 c
	var g = $('#amountPermonth').html();//每月还款金额 g
	
	if(a&&b&&c){
		var month = Number(a)*(Number(b)+Number(c));
		$('input[name=actIncomePermonth]').val(month) //实际月收入d
		$('input[name=actIncomePeryear]').val(12*Number(month)); //实际年收入
	}
	if(h&&b&&c){
		var month2 = Number(h)*(Number(b)+Number(c));
		$('input[name=estimateIncomePermonth]').val(month2) //预计月收入i
		$('input[name=estimateIncomePeryear]').val(12*month2) //预计年收入
	}
	if(month&&e&&g){
		var f = Number(e)+Number(month)-Number(g);
		$('input[name=balance]').val(f) //贷款账户余额
	}
	if(f&&month&&g){
		$('input[name=risk]').val(Number(f)+6*Number(month)-6*Number(g)) //预计未来6个月贷款风险
	}

})
</script>
</html>
