<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<link rel="stylesheet" type="text/css" href="form/css/pages.css">
		<!--上传文件模块-->
 		<script type="text/javascript" charset="UTF-8" src="js/lib/dropzone.js"></script>
	</head>
		<main>
			<div class="container">
				<div class="ht30"></div>
				<div class="ui-tablehead">
					<table>
						<tr>
							<td colspan="2">
								<h3>家庭分布式光伏发电项目信息采集表</h3>
							</td>
						</tr>
						<tr>
							<td width="50%"></td>
							<td width="50%">编号：<span id="clientId"></span></td>
						</tr>
					</table>
				</div>
				<div class="ui-tablemain">
					<table>
						<tr>
							<td align="center"><b>SN</b></td>
							<td align="center" colspan="2"><b>所需条件</b></td>
							<td align="center"><b>基本情况</b></td>
							<td align="center"><b>备注</b></td>
						</tr>
						<tr>
							<td align="center" rowspan="5">1</td>
							<td align="center" rowspan="5">屋顶业主</td>
							<td>★用户姓名</td>
							<td>
								姓名<span id="c3"></span>
								电话<input type="text" name="" id="">
							</td>
							<td><input type="text" name="" id=""></td>
						</tr>
						<tr>
							<td>★建筑地址</td>
							<td>
								<span id="c1"></span>
							</td>
							<td><input type="text" name="" id=""></td>
						</tr>
						<tr>
							<td>项目名称</td>
							<td>
								<span id="c2"></span>
							</td>
							<td>户名+千瓦数<input type="text" name="" id=""></td>
						</tr>
						<tr>
							<td>项目并网方式</td>
							<td>
								<input type="radio" name="intent" id="">
								全额上网
								<input type="radio" name="intent" id="">
								自发自用
								<input type="radio" name="intent" id="">
								余电上网
							</td>
							<td><input type="text" name="" id=""></td>
						</tr>
						<tr>
							<td>★对接联系人</td>
							<td>
								姓名<input type="text" name="" id="">
								电话<input type="text" name="" id="">
							</td>
							<td><input type="text" name="" id=""></td>
						</tr>
						<tr>
							<td align="center" rowspan="3">2</td>
							<td align="center" rowspan="3">电价、补贴及光照资源</td>
							<td>★用户电价</td>
							<td>
								峰<input type="text" name="" id="" class="zeroup">
								平<input type="text" name="" id="" class="zeroup">
								谷<input type="text" name="" id="" class="zeroup">
							</td>
							<td><input type="text" name="" id=""></td>
						</tr>
						<tr>
							<td>地方补贴</td>
							<td>
								<input type="text" name="" id="" class="zeroup">
							</td>
							<td><input type="text" name="" id=""></td>
						</tr>
						<tr>
							<td>经纬度坐标</td>
							<td>
								经度纬度<input type="text" name="" id="" class="zeroup">
							</td>
							<td>手机指南针定位取得</td>
						</tr>
						<tr>
							<td align="center" rowspan="5">3</td>
							<td align="center" rowspan="5">屋面条件</td>
							<td>★屋顶面积与数量</td>
							<td>
								<input type="text" name="" id="" class="zeroup">个屋顶，
								<input type="text" name="" id="" class="zeroup">平方
							</td>
							<td><input type="text" name="" id=""></td>
						</tr>
						<tr>
							<td>★建筑结构</td>
							<td>
								<input type="radio" name="type" id="">混凝土框架
								<input type="radio" name="type" id="">琉璃瓦
								<input type="radio" name="type" id="">钢结构
							</td>
							<td><input type="text" name="" id=""></td>
						</tr>
						<tr>
							<td>建筑建成年份</td>
							<td><input type="text" name="" id="" class="zeroup"></td>
							<td><input type="text" name="" id=""></td>
						</tr>
						<tr>
							<td>★屋顶形式</td>
							<td>
								<input type="radio" name="kind" id="">平面（混凝土结构）<br>
								<br>
								<input type="radio" name="kind" id="">人字形（琉璃瓦）<br>
								<br>
								<input type="radio" name="kind" id="">异型结构<br>
								<br>
								<input type="radio" name="kind" id="">钢结构（彩钢瓦）<br>
							</td>
							<td>
								<p class="text-center">建筑数据</p>
								<p>
									长<input type="text" name="" id="">米<br>
									宽<input type="text" name="" id="">米<br>
									屋面角度<input type="text" name="" id="">度<br>
									女儿墙高<input type="text" name="" id="">米<br>
									其它<input type="text" name="" id=""><br>
								</p>
							</td>
						</tr>
						<tr>
							<td>意向容量</td>
							<td>
								<input type="radio" name="how" id="">2kW
								<input type="radio" name="how" id="">3kW
								<input type="radio" name="how" id="">5kW
								<input type="radio" name="how" id="">8kW
								<input type="radio" name="how" id="">kW
							</td>
							<td><input type="text" name="" id=""></td>
						</tr>
						<tr>
							<td align="center" rowspan="3">4</td>
							<td align="center" rowspan="3">并网接入条件</td>
							<td>用电量及电费单</td>
							<td>
								月均年均<input type="text" name="" id="">
							</td>
							<td><input type="text" name="" id=""></td>
						</tr>
						<tr>
							<td>★用户进线电压</td>
							<td>
								<input type="radio" name="in" id="">AC220V
								<input type="radio" name="in" id="">AC380V
								<input type="radio" name="in" id="">其它
							</td>
							<td><input type="text" name="" id=""></td>
						</tr>
						<tr>
							<td>★用户进线线径</td>
							<td>
								<input type="radio" name="inkind" id="">4㎡
								<input type="radio" name="inkind" id="">6㎡
								<input type="radio" name="inkind" id="">10㎡
								<input type="radio" name="inkind" id="">12㎡
								<input type="radio" name="inkind" id="">㎡
							</td>
							<td><input type="text" name="" id=""></td>
						</tr>
						<tr>
							<td align="center" rowspan="3">5</td>
							<td align="center" rowspan="3">材料指定</td>
							<td>★组件</td>
							<td>
								<input type="radio" name="item" id="">265w
								<input type="radio" name="item" id="">320w
								<input type="radio" name="item" id="">w品牌
								<input type="radio" name="item" id="">M
								<input type="radio" name="item" id="">P
							</td>
							<td><input type="text" name="" id=""></td>
						</tr>
						<tr>
							<td>★逆变器</td>
							<td>
								<input type="radio" name="ni" id="">品牌
								<input type="radio" name="ni" id="">GPRS监控
							</td>
							<td><input type="text" name="" id=""></td>
						</tr>
						<tr>
							<td>其它要求</td>
							<td>
								<input type="text" name="" id="">
							</td>
							<td><input type="text" name="" id=""></td>
						</tr>
						<tr>
							<td colspan="5">1.屋顶现场照片★<br></td>
						</tr>
						<tr>
							<td colspan="5">
								<ul class="upload-images">
									<li>
										a）现场手机GPS定位截图<input type="checkbox" name="" id=""><br>
										<button class="btn enclosure" style="padding:5px 10px">上传图片 </button>
										<ul class="enclosureList"></ul>
									</li>
									<li>
										b）南<input type="checkbox" name="" id=""><br>
										<button class="btn enclosure" style="padding:5px 10px">上传图片 </button>
										<ul class="enclosureList"></ul>
									</li>
									<li>
										c）东<input type="checkbox" name="" id=""><br>
										<button class="btn enclosure" style="padding:5px 10px">上传图片 </button>
										<ul class="enclosureList"></ul>
									</li>
									<li>
										d）西<input type="checkbox" name="" id=""><br>
										<button class="btn enclosure" style="padding:5px 10px">上传图片 </button>
										<ul class="enclosureList"></ul>
									</li>
									<li>
										e）北<input type="checkbox" name="" id=""><br>
										<button class="btn enclosure" style="padding:5px 10px">上传图片 </button>
										<ul class="enclosureList"></ul>
									</li>
									<li>
										f）屋面1<input type="checkbox" name="" id=""><br>
										<button class="btn enclosure" style="padding:5px 10px">上传图片 </button>
										<ul class="enclosureList"></ul>
									</li>
									<li>
										g）屋面2<input type="checkbox" name="" id=""><br>
										<button class="btn enclosure" style="padding:5px 10px">上传图片 </button>
										<ul class="enclosureList"></ul>
									</li>
									<li>
										h）瓦面特写3<input type="checkbox" name="" id=""><br>
										<button class="btn enclosure" style="padding:5px 10px">上传图片 </button>
										<ul class="enclosureList"></ul>
									</li>
									</ul>
								</td>
							</tr>
							<tr>
								<td colspan="5">
										注：手机拍照，保存传递给工程部，工程部电子存档编号分类；<br>
										2.接入照片★（以附件的形式附在表单后面）<br>
										<div>
											<span>a）电表点全局、进户总线近照</span> <button class="btn enclosure" style="padding:5px 10px">上传图片 </button>
											<ul class="enclosureList"></ul>
										</div>
										<div>
											<span>b）电表箱近照、配电箱开箱近照（如有）</span><button class="btn enclosure" style="padding:5px 10px">上传图片 </button>
											<ul class="enclosureList"></ul>
											</div>
										<div>
											<span>c）客户所在地就近下杆线照片（如有）</span>
											<button class="btn enclosure" style="padding:5px 10px">上传图片 </button>
											<ul class="enclosureList"></ul>
										</div>
										<span class="note">注：本节内容由市场部、工程部签字。</span>
							</td>
						</tr>
						<tr>
							<td colspan="5">
								客户资料搜集★<br>
								<p>1、
									身份证<input type="checkbox" name="" id="">、
									户口簿复印件<input type="checkbox" name="" id="">、
									电本（卡）复印件（银行卡复印件）<input type="checkbox" name="" id="">、
									电表照片<input type="checkbox" name="" id="">、
									客户所在地就近下杆线照片<input type="checkbox" name="" id="">
								</p>
								<p>2、
									房产证<input type="checkbox" name="" id="">、
									土地证复印件<input type="checkbox" name="" id="">、
									（如若无，至所在社区村委会出具相关证明文件）
								</p>
								<p>3、
									与客户合同<input type="checkbox" name="" id="">
								</p>
								<p>
									备注：以上所有资料为市场部搜集；<br><span class="note">注：本节内容由市场部、工程部签字。</span>
								</p>
								<br>
								<p>4、供电局用户项目申请表、项目实施方案；<br><span class="note">注：此两项内容由工程部完成，工贷部提交供电局。</span></p>
								<br>
								<p>5、
									银行征信调查；
									<span class="wh50"></span>
									征信已过<input type="radio" name="bank" id="">、
									征信未过<input type="radio" name="bank" id="">
									<br><span class="note">注：此内容由工贷部完成。</span>
								</p>
								<br>
								<p>6、
									农户签约及预付款调查；<span class="wh10"></span>
									预付款
									<input type="checkbox" name="" id="">
									金额
									<input type="text" class="text" style="border-bottom: 1px solid #000;">
									（如有）；<br><span class="note">注：此内容由市场部完成。</span>
								</p>
							</td>
						</tr>
						<!--<tr>-->
							<!--<td colspan="5" style="padding:0">-->
								<!---->
							<!--</td>-->
						<!--</tr>-->
					</table>
				</div>
				<div class="ht30"></div>
			</div>
			<table id="tableFormSign" class="tabletxt" cellspacing="0" width="100%" height="100%" style="float:left">
				<thead>
				<tr>
					<th>顺序</th>
					<th>签字层级</th>
					<th>签字步骤ID</th>
					<th>签字内容</th>
					<th>应签字部门</th>
					<th>应签字人</th>
					<th>签字时间</th>
					<th>签字状态</th>
					<th>签字备注</th>
					<th>签字</th>
				</tr>
				</thead>
				<tbody></tbody>
			</table>
			<center>
				<button type="button" class="btn btn-primary" style="padding:5px 10px;margin:20px" id="sure">保 存</button>
    			<button type="button" class="btn" style="padding:5px 10px;margin:20px" onclick="history.back()">返 回</button>
			</center>

</main>
<style>
#tableFormSign th{
	background:#fff;
	/*border-color:#000;*/
}
.upload-images>li{
	float:left;
	margin:10px;
}
/*.upload-images li:nth-child(2){
	clear:both;
}*/
.enclosureItem {
	margin-top:15px;
	margin-left:-8px;
}
.enclosureItem img {
	width:100px;
	height:100px;
	background: #ccc url() no-repeat center;
	background-size: contain;
}
</style>
<script type="text/javascript">
var formId = 1;
var hash = location.hash;
var projId = hash.slice(hash.indexOf('&projId=') + 8);
var dataId = "";
function loadSignTable() {
	$('#tableFormSign').DataTable({
		"ordering": false,
		"bDestroy": true,
		"processing": true,
		"serverSide": true,
		"stateSave": true,
		"stateDuration": -1,
		"ajax": {
			"type": 'POST',
			"url": $clientURL + "sys/sign/signTable",
			"dataType": "json",
			"headers": {'JMS-TOKEN': jmstoken},
			"data": {
				eventId: dataId
				, signWorkflowId: formId
			}
		},
// 		"columnDefs": [
// 			{
// 				"targets": -2,
// //				"data": null,
// 				"defaultContent": '<input type="text" value="" />	'
// 			}
// 		],
		"language": {
			"url": "js/datatable/chinese.json"
		},

		dom: "t",
		pageLength: "50",
		initComplete: function () {
			$('#tableFormSign tr[role=row] td:nth-child(9)').each(function (i, k) {


			})

			$('#tableFormSign tr[role=row] td:nth-child(10)').each(function (i, k) {
				var formId = $(k).text();
				formId==1 && $(k).html('<button class="button-edit submitbtn" data-status="1"> 同意</button> <button class="button-edit submitbtn" data-status="0"> 拒绝</button>');
				if(formId==0){
					$(k).text("");
					console.log($(this).prev().html(""),00)
					// $(this).prev().html("")
				}
				var prevstr = $(this).prev().prev();
				if(prevstr.html()==1){
					prevstr.html("已签");
				}else if(prevstr.html()==0){
					prevstr.html("拒绝");
				}else{
					prevstr.html("");
				}
			});
			$(".submitbtn").on("click",function(){
				if($(this).data('status')==0 && !$(this).parent().prev().find('input').val()){
					alert('请填写拒绝理由！');
					return
				}
				var objectdata=JSON.stringify({
					remark:$(this).parent().prev().find('input').val(),
					idSignWorkflowSteps:$(this).parent().siblings().eq(2).html(),
					idEvent:dataId,
					status:$(this).data('status')
				})

				$.signsubmit(objectdata,jmstoken,function(data){
					console.log(data)
					if(data.valid){
						alert("确认成功");
					}else{
						alert(data.msg);
					}
				})
			})
		}
	})
}
function initUploader(){
    var uploadEnclosureUrl = 'uploadFile';
    var $enclosure = $('.enclosure');
    var inited = $enclosure.data('init');

    if(inited) {
        return;
    }
    
    $enclosure.data('init', true);
    
    $enclosure.dropzone({
        url: $clientURL+uploadEnclosureUrl,
        headers: {'JMS-TOKEN':jmstoken},
        addRemoveLinks: true,
        dictRemoveLinks: "x",
        dictCancelUpload: "x",
                // maxFiles: 1,
        maxFilesize: 10,
        dictDefaultMessage:"",
        init:function(){
            var that = this;
            //发送请求时，挂载数据
            this.on("sending", function(file, xhr, formData) {
                var idRoutineD = $('#idRoutineD').val();
                formData.append("routineDId", (idRoutineD ? idRoutineD : 0));
                // formData.append("routineDId",$('.routineDId').val()?$('.routineDId').val():0);
            });

            this.on('success',function(file, res) {
                var $li = $("<li class='enclosureItem'><a target='_blank' href='"+$clientURL+"getImage/"+res.fileName+"/'><img style='background-image:url("+$clientURL+"getImage/"+res.fileName+"/)' /></a></li>");
                $(this.element).next('.enclosureList').empty();
                $li.appendTo($(this.element).next('.enclosureList'));
                $('.enclosure').find('.dz-success').remove();
            });
            
        }
    });
}

function saveForm(){
	$('input[type=text]').each(function(i,k){
		$(k).attr('value',k.value);
	});
	$('input[type=checkbox]').each(function(i,k){
		k.checked?$(k).attr('checked',''):$(k).removeAttr('checked');
	});
	$('textarea').each(function(i,k){
		$(k).text(k.value);
	});
	var tableData = $('#tableFormSign tbody').clone();
	var data = JSON.stringify({
		idProject: projId
	,	content: $('.container').html()
	});
	$('#tableFormSign tbody').remove();
	$.saveForm(formId, data, function(){ alert('保存成功！');});

	$('#tableFormSign').append(tableData);
}

function restoreForm(callback){
	$.readForm(formId, projId, function(data){
		console.log(data.id)
		dataId = data.id;
		var html = data.content;
		var clientId = data.code;
		html && $('.container').html(html);
		clientId && $('#clientId').text(clientId);
		data.c1 && $('#c1').text(data.c1);
		data.c2 && $('#c2').text(data.c2);
		data.c3 && $('#c3').text(data.c3);
		if(callback) callback();
	});
}

restoreForm(function(){
	if(dataId){
		loadSignTable();
	}
	initUploader();
	$('#sure').on('click',saveForm);
});
$( document ).on("keyup",'.zeroup',function(){
	var val = $(this).val();
	if (!/^[0-9][0-9.]*(\.[0-9]+)?$/.test(val)) {
					if(val){
						val = val.replace(/\./g,"").replace(/[^\d.]/g,"");
						if(val.indexOf("0") == 0){
							val = val.substring(1,val.length);
						}
						$(this).val(val)
					}
				}	
})
</script>

</body>
</html>