<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<link rel="stylesheet" type="text/css" href="form/css/pages.css">
		<!--上传文件模块-->
 		<script type="text/javascript" charset="UTF-8" src="js/lib/dropzone.js"></script>
 	</head>
	<body>
		<main>
			<div class="container">
				<div class="ht30"></div>
				<div class="ui-tablehead">
					<table>
						<tr>
							<td colspan="3">
								<h3>施工-验收-贷款流转单</h3>
							</td>
						</tr>
						<tr>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td><b>编号：</b>	<span id="clientId"></span></td>
						</tr>
						<tr>
							<td><b>项目名称：</b><span id="c2"></span>
							<td><b>项目地址：</b><span id="c1"></span>
							<td><b>实际容量</b><input name="c4" type="text" class="zeroup"></td>
						</tr>
					</table>
				</div>
				<div class="ui-tablemain">
					<table>
						<tr>
							<td style="width: 200px">&nbsp;</td>
							<td style="width: 200px"><b>内容</b></td>
							<td><b>厂家品牌</b></td>
							<td><b>规格型号</b></td>
							<td><b>数量</b></td>
							<td><b>进场时间</b></td>
							<td><b>负责人</b></td>
							<td><b>签名</b></td>
							<td style="width: 200px"><b>备注</b></td>
						</tr>
						<tr>
							<td rowspan="8"><b>"材料采购项目（确认订购材料是否符合规范）"</b></td>
							<td align="center">组件</td>
							<td><input type="text" ></td>
							<td><input type="text" ></td>
							<td><input type="text" class="zeroup"></td>
							<td><input type="text" ></td>
							<td><input type="text" ></td>
							<td><input type="text" ></td>
							<td>工程部</td>
						</tr>
						<tr>
							<td align="center">逆变器</td>
							<td><input type="text"></td>
							<td><input type="text"></td>
							<td><input type="text" class="zeroup"></td>
							<td><input type="text"></td>
							<td><input type="text"></td>
							<td><input type="text"></td>
							<td>工程部</td>
						</tr>
						<tr>
							<td align="center">支架（包含接地、压块）</td>
							<td><input type="text"></td>
							<td><input type="text"></td>
							<td><input type="text" class="zeroup"></td>
							<td><input type="text"></td>
							<td><input type="text"></td>
							<td><input type="text"></td>
							<td>工程部</td>
						</tr>
						<tr>
							<td align="center">电表箱</td>
							<td><input type="text"></td>
							<td><input type="text"></td>
							<td><input type="text" class="zeroup"></td>
							<td><input type="text"></td>
							<td><input type="text"></td>
							<td><input type="text"></td>
							<td>工程部</td>
						</tr>
						<tr>
							<td align="center">电线、电缆（包含套管、线管等）</td>
							<td><input type="text"></td>
							<td><input type="text"></td>
							<td><input type="text" class="zeroup"></td>
							<td><input type="text"></td>
							<td><input type="text"></td>
							<td><input type="text"></td>
							<td>工程部</td>
						</tr>
						<tr>
							<td align="center">水泥墩</td>
							<td><input type="text"></td>
							<td><input type="text"></td>
							<td><input type="text" class="zeroup"></td>
							<td><input type="text"></td>
							<td><input type="text"></td>
							<td><input type="text"></td>
							<td>工程部</td>
						</tr>
						<tr>
							<td align="center">其他</td>
							<td><input type="text"></td>
							<td><input type="text"></td>
							<td><input type="text" class="zeroup"></td>
							<td><input type="text"></td>
							<td><input type="text"></td>
							<td><input type="text"></td>
							<td>工程部</td>
						</tr>
						<tr>
							<td align="center">其他</td>
							<td><input type="text"></td>
							<td><input type="text"></td>
							<td><input type="text" class="zeroup"></td>
							<td><input type="text"></td>
							<td><input type="text"></td>
							<td><input type="text"></td>
							<td>工程部</td>
						</tr>
						<tr>
							<td><b>入场施工时间</b></td>
							<td colspan="5">
								施工单位 <input type="text"><br>
								施工人员 <input type="text"><br>
								施工人数 <input type="text" class="zeroup"><br>
							</td>
							<td><input type="text"></td>
							<td><input type="text"></td>
							<td>工程部</td>
						</tr>
						<tr>
							<td><b>竣工时间</b></td>
							<td colspan="5" align="center">
								（现场施工完毕照片图，作为附件）
								<button class="btn enclosure" style="padding:5px 10px">上传图片 </button>
								<ul class="enclosureList"></ul>
							</td>
							<td><input type="text"></td>
							<td><input type="text"></td>
							<td>工程部</td>
						</tr>
						<tr>
							<td rowspan="2"><b>并网资料</b></td>
							<td colspan="5">
								组件合格证、条形码 <input type="checkbox" name="" id="">
								&nbsp;
								逆变器合格证 <input type="checkbox" name="" id="">
								&nbsp;
								并网申请表 <input type="checkbox" name="" id="">
							</td>
							<td><input type="text"></td>
							<td><input type="text"></td>
							<td>
								工程部负责收集<br>
								并转交工贷文部
							</td>
						</tr>
						<tr>
							<td colspan="5">
								安装调试报告 <input type="checkbox" name="" id="">
							</td>
							<td><input type="text"></td>
							<td><input type="text"></td>
							<td>工贷部</td>
						</tr>
						<tr>
							<td><b>供电局验收并网日期</b></td>
							<td colspan="5">
								<input type="text" class="zeroup" >
							</td>
							<td><input type="text"></td>
							<td><input type="text"></td>
							<td>
								工贷部主办<br>
								工程、市场部协办
							</td>
						</tr>
						<tr>
							<td rowspan="2"><b>贷款</b></td>
							<td colspan="5">
								贷款资料的搜集齐全；日期<input type="text" style="border-bottom: 1px solid #000;" class="zeroup">年<input type="text" style="border-bottom: 1px solid #000;" class="zeroup">月<input type="text" style="border-bottom: 1px solid #000;" class="zeroup">日
							</td>
							<td><input type="text"></td>
							<td><input type="text"></td>
							<td>
								工贷部主办<br>
								市场部协办
							</td>
						</tr>
						<tr>
							<td colspan="5">
								贷款发放；日期<input type="text" style="border-bottom: 1px solid #000;" class="zeroup">年<input type="text" style="border-bottom: 1px solid #000;" class="zeroup">月<input type="text" style="border-bottom: 1px solid #000;" class="zeroup">日
							</td>
							<td><input type="text"></td>
							<td><input type="text"></td>
							<td>
								工贷部主办<br>
								市场部协办
							</td>
						</tr>
						<tr>
							<td colspan="9" style="padding:0">
								 <table id="tableFormSign" class="tabletxt" cellspacing="0" width="100%" height="100%" style="float:left">
					        <thead>
					            <tr>
					                <th>顺序</th>
									<th>签字层级</th>
									<th>签字步骤ID</th>
									<th>签字内容</th>
									<th>应签字部门</th>
									<th>应签字人</th>
									<th>签字时间</th>
									<th>签字状态</th>
									<th>签字备注</th>
									<th>签字</th>
					            </tr>
					        </thead>
					    </table>
							</td>
						</tr>
					</table>
				</div>
				<div class="ht30"></div>
			</div>
			<center>
				<button type="submit" class="btn btn-primary" style="padding:5px 10px;margin:20px">保 存</button>
    			<button type="button" class="btn" style="padding:5px 10px;margin:20px" onclick="history.back()">返 回</button>			</center>
		</main>

<style>
#tableFormSign th{
	background:#fff;
	/*border-color:#000;*/
}
</style>
<script type="text/javascript">
var formId = 2;
var hash = location.hash;
var projId = hash.slice(hash.indexOf('&projId=') + 8);
var dataId = "";
function loadSignTable(){
$('#tableFormSign').DataTable( {
            "ordering": false,
            "bDestroy": true,
            "processing": true,
            "serverSide": true,
            "stateSave": true,
            "stateDuration": -1,
            "ajax": {
           "type": 'POST',
                    "url": $clientURL+"sys/sign/signTable",
                    "dataType": "json",
           "headers":{'JMS-TOKEN':jmstoken},
           "data":{
           		eventId:dataId
           	,	signWorkflowId:formId
           	}
           },
           "columnDefs": [
			{
				"targets": -2,
//				"data": null,
				"defaultContent": '<input type="text" value="" />	'
			}
		],
           "language": {
                            "url": "js/datatable/chinese.json"
                       },
          
            dom: "t",
        pageLength:"50",
        initComplete: function () {
			$('#tableFormSign tr[role=row] td:nth-child(10)').each(function (i, k) {
				var formId = $(k).text();
				formId==1 && $(k).html('<button class="button-edit submitbtn" data-status="1"> 同意</button> <button class="button-edit submitbtn" data-status="0"> 拒绝</button>');
				if(formId==0){
					$(k).text("");
					$(this).prev().html("")
				}
				var prevstr = $(this).prev().prev();
				if(prevstr.html()==1){
					prevstr.html("已签");
				}else if(prevstr.html()==0){
					prevstr.html("拒绝");
				}else{
					prevstr.html("");
				}
			});
			$(".submitbtn").on("click",function(){
				if($(this).data('status')==0 && !$(this).parent().prev().find('input').val()){
					alert('请填写拒绝理由！');
					return
				}
				var objectdata=JSON.stringify({
					remark:$(this).parent().prev().find('input').val(),
					idSignWorkflowSteps:$(this).parent().siblings().eq(2).html(),
					idEvent:dataId,
					status:$(this).data('status')
				})

				$.signsubmit(objectdata,jmstoken,function(data){
					console.log(data)
					if(data.valid){
						alert("确认成功");
					}else{
						alert(data.msg);
					}
				})
			})
		}
        });
}

function initUploader(){
    var uploadEnclosureUrl = 'uploadFile';
    var $enclosure = $('.enclosure');
    var inited = $enclosure.data('init');
    
    if(inited) {
        return;
    }
    
    $enclosure.data('init', true);
    
    $enclosure.dropzone({
        url: $clientURL+uploadEnclosureUrl,
        headers: {'JMS-TOKEN':jmstoken},
        addRemoveLinks: true,
        dictRemoveLinks: "x",
        dictCancelUpload: "x",
//                maxFiles: 1,
        maxFilesize: 10,
        dictDefaultMessage:"",
        init:function(){
            var that = this;
            //发送请求时，挂载数据
            this.on("sending", function(file, xhr, formData) {
                var idRoutineD = $('#idRoutineD').val();
                formData.append("routineDId", (idRoutineD ? idRoutineD : 0));
                // formData.append("routineDId",$('.routineDId').val()?$('.routineDId').val():0);
            });

            this.on('success',function(file, res) {
                var $li = $("<li class='enclosureItem'><a target='_blank' href='"+$clientURL+"getImage/"+res.fileName+"/'>"+res.orgName+"</a><a class='close' onClick='close()'>x</a></li>");
                $li.appendTo($(this.element).next('.enclosureList'));
                $('.enclosure').find('.dz-success').remove();
            });
           
        }
    });
}

$(document).on("click",'.close',function(){
	$(this).parent('li').remove();
});
function saveForm(){
	$('input[type=text]').each(function(i,k){
		$(k).attr('value',k.value);
	});
	$('input[type=checkbox]').each(function(i,k){
		k.checked?$(k).attr('checked',''):$(k).removeAttr('checked');
	});
	$('textarea').each(function(i,k){
		$(k).text(k.value);
	});
	var tableData = $('#tableFormSign tbody').clone();
	var data = JSON.stringify({
		idProject: projId
	,	c4: $('[name=c4]').val()
	,	content: $('.container').html()
	});
	$('#tableFormSign tbody').remove();
	$.saveForm(formId, data, function(){ alert('保存成功！');});
	$('#tableFormSign').append(tableData);
}

function restoreForm(callback){
	$.readForm(formId, projId, function(data){
		var html = data.content;
		dataId = data.id;
		var clientId = data.code;
		html && $('.container').html(html);
		clientId && $('#clientId').text(clientId);
		data.c1 && $('#c1').text(data.c1);
		data.c2 && $('#c2').text(data.c2);
		data.c4 && $('#c4').text(data.c4);
		if(callback) callback();
	});
}

restoreForm(function(){
	loadSignTable();
	initUploader();
	$('button[type=submit]').on('click',saveForm);
});
$( document ).on("keyup",'.zeroup',function(){
	var val = $(this).val();
	if (!/^[0-9][0-9.]*(\.[0-9]+)?$/.test(val)) {
					if(val){
						val = val.replace(/\./g,"").replace(/[^\d.]/g,"");
						if(val.indexOf("0") == 0){
							val = val.substring(1,val.length);
						}
						$(this).val(val)
					}
				}	
})
</script>

	</body>
</html>