<div class="cont">
    <div class="r-header-body">
    	<h2>数据信息</h2>
    </div>
    
    <table id="tablePo" class="tabletxt" cellspacing="0" width="700px">
        <thead>
            <tr>
                <th>客户代码，姓名</th>
                <th>数据采集设备序列号</th>
                <th>Vpv1</th>
                <th>Vpv2</th>
                <th>Vpv3</th>

                <th>Ipv1</th>
                <th>Ipv2</th>
                <th>Ipv3</th>

                <th>Vac1</th>
                <th>Vac2</th>
                <th>Vac3</th>

                <th>Iac1</th>
                <th>Iac2</th>
                <th>Iac3</th>

                <th>Pac1</th>
                <th>Pac2</th>
                <th>Pac3</th>

                <th>Fac</th>
                <th>温度(℃)</th>
                <th>时间(GMT +8)</th>
                <th>当日电量(kWh)</th>
                <th>总电量(kWh)</th>
            </tr>
        </thead>
        <tbody>
        	
        </tbody>
    </table>
</div>
<script>
    init();
    // $('[name=dicCode]').selectautofill('sys/dic/dicSelects',{headers:{'JMS-TOKEN':jmstoken},data:{dicDicName:'Status'}});

    // $('#search').on('click', function () {
    //     var code =  $('[name=dicCode]').val();
    //     init(code)
    // })

    function init(){
        $('#tablePo').DataTable( {
            "ordering": false,
            "bDestroy": true,
            "processing": true,
            "serverSide": true,
            "stateSave": true,
            "stateDuration": -1,
            "ajax": {
                "type": 'POST',
                "url": $clientURL+"/info/customer/customerDataTable",
                "dataType": "json",
                "headers":{'JMS-TOKEN':jmstoken},
                "data": {}
            },
            "language": {
                "url": "js/datatable/chinese.json"
            },

            dom: "tip",
            pageLength:"50",


        });
    }


</script>
