<div class="cont">
    <div class="r-header-body">
    	<h2>日志信息</h2>
    </div>
    
    <table id="tableLog" class="tabletxt" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>登录时间</th>
                <th>用户</th>
                <th>IP</th>
                <th>事件</th>
            </tr>
        </thead>
    </table>
</div>

<script>
    $('#tableLog').DataTable( {
            "ordering": false,
            "bDestroy": true,
            "processing": true,
            "serverSide": true,
            "stateSave": true,
            "stateDuration": -1,
            "ajax": {
           "type": 'POST',
                    "url": $clientURL+"info/log/logsTable",
                    "dataType": "json",
           "headers":{'JMS-TOKEN':jmstoken}
       },
           "language": {
                            "url": "js/datatable/chinese.json"
                       },
            dom: "tip",
            pageLength:"50"
});
</script>