
		<div class="mainer" >
			<form id="loginForm" class="form-horizontal">
			<div class="pt_lbox" id="login">
				<p><img src="images/login/logo-in.png" alt=""></p>
				<div class="ht55"></div>
				<div class="lbox br5">
					<div class="ht25"></div>
					<div class="hd"><p>账号登录</p></div>
					<div class="ht15"></div>
					<div class="ct">
						<div class="pt_frma">
							<div class="p">
								<div  class="error-banner br3 font-12px none" ><p>登录名或密码错误</p></div>
							</div>
							<div class="ht15"></div>
							<div class="p">
								<div class="input br3 bd label paddiing-bottom " >
                                    <label for="" class="title ico ico1">登录名</label><i class=""></i>
									<input type="text" name="username" >
								</div>
								<p class="error"></p>
							</div>
							<div class="ht20"></div>
							<div class="p">
								<div class="input br3 bd label paddiing-bottom ">
                                    <label for="" class="title ico ico2">密&nbsp;&nbsp;&nbsp;&nbsp;码</label>
									<i class=" "><!--class添加noti显示感叹号图标！--></i>
									<input type="password" name="password" >
								</div>
								<p class="error"></p>
							</div>

                            <!-- <div class="ht20"></div>
                            <div class="p">
                                    <select class="form-control" name="lang" >
                                        <option value="cn">中文</option>
                                        <option value="en">English</option>
                                    </select>


                                <p class="font-12px"><span class="r"><a href="" class="cl-a">忘记密码</a></span>
                                    <input type="radio" name="lang" value="cn" checked/>&nbsp;&nbsp;&nbsp;&nbsp;<label>中文</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <input type="radio" name="lang" value="en" />&nbsp;&nbsp;&nbsp;&nbsp;<label>English</label>
                                </p>
                                <p class="error"></p>
                            </div> -->

							<div class="ht20"></div>
							<div class="p">
								 <button id="login_btn" type="submit" class="btn-login">登录</button>
							</div>

							<!-- <div class="ht20"></div>
							<div class="p">
								<p class="font-12px"><span class="r"><a href="" class="cl-a">忘记密码</a></span>
									<a href="" class="checkbox on"></a>
									在电脑上保存登录 
								</p>
							</div> -->
							<div class="ht20"></div>
						</div>
					</div>
					<!-- <div class="ft br5 bt">
						<div class="ht20"></div>
						<p>还没有账号吗？
                            <a href="javascript:;" onclick="changeBox('login', 'register')">
                                请您注册
                            </a>
                        </p>
						<div class="ht20"></div>
					</div> -->
				</div>
			</div>
            </form>

			<div class="pt_lbox gt backend none" id="register">
				<!--<p><img src="../images/login/logo-in.png" alt=""></p>-->
				<div class="ht55"></div>
				<div class="lbox br5 ">
					
                          
                    <form id="regForm" class="form-horizontal">
					<div class="alert alert-success" style="display: none;"></div>
                    <div class=" alert-error error-box" style="display: none;"></div>
					<div class="ht25"></div>
					<div class="hd"><p>注册账号</p></div>
					<div class="ht15"></div>
					<div class="ct row">
						<div class="pt_frma font-12px ">
							<div class="p">
								<div class="input  form-group  ">
									<input type="text" value="" placeholder="公司名" name="companyName" class="input-css" >
								</div>
								
							</div>
							<div class="p">
								<div class="input  form-group">
									<input type="text" value="" placeholder="用户名" name="wsUsers[username]" class="input-css">
								</div>
								
							</div>
							<div class="p">
								<div class="input  form-group">
									<input type="text" value="" placeholder="手机号" name="wsUsers[mobile]" class="input-css">
								</div>
								
							</div>
							<div class="p">
								<div class="input  form-group">
									<input type="text" value="" placeholder="邮箱" name="wsUsers[email]" class="input-css">
								</div>
								
							</div>
							<div class="p">
								
								<div class="form-group input  input ">
								    
								    <input type="password" placeholder="密码" name="wsUsers[password]" class="input-css">
								    
								  </div>
								  <div class="form-group input ">
								    
								    <input type="password" placeholder="确认密码" name="confirmPassword:skip" class="input-css">
								   
								  </div>
							</div>
							<div class="ht15" style="border-bottom: 1px solid #dfdfdf;"></div>
							<div class="ht15"></div>
							<div class="p">
								<div class="form-group  select-div">
									<select class="" name="companyType[idDic]:number" id="CompanyType">
										<!--<option value="">公司规模</option>-->
									</select>
								</div>
								<div class="form-group select-div " id="companySizeDiv" >
									<select class="" style="padding: 0px;" name="companySize[idDic]:number" id="companySize">
										<!--<option value="">所属行业</option>-->
									</select>
								</div>
								
							</div>
							<div class="ht15"></div>
							
							<div class="p">
								<button type="submit" class="btn-reg">注册</button>
							</div>
							<div class="ht15"></div>
							<div class="form-group">
                                <div class="col-lg-5 col-lg-offset-3">
                                    <div class="checkbox2">
                                    	
                                        <input type="checkbox" name="acceptTerms:skip" id="checkbox2"/> 
                                        <label for="checkbox2">我接受使用协议</label>
                                    </div>
                                </div>
                            </div>
							<div class="ht15"></div>
						</div>
					</div>
                    </form>
				</div>
				<div class="ht35"></div>
				<p>已经拥有一个账号？ <a href="javascript:void(0);" onclick="changeBox('register', 'login')">立即登陆</a></p>
				<div class="height50"></div>
			</div>
		</div>
<script type="text/javascript">
//	用户注册输入错误提示；
	
	$(".checkbox, .radio").click(function(event) {
		$(this).toggleClass('on');
	});

	$('#loginForm').bootstrapValidator({}).on('success.form.bv', function(e) {
        // Prevent submit form
        e.preventDefault();
        var $form     = $(e.target);
        var validator = $form.data('bootstrapValidator');
        var wsUser =$('#loginForm').serializeJSON();
//        alert('login');
        $.login(JSON.stringify(wsUser),function(data){
            if(data.token==null)
            {$form.find('.error-banner').show();
                setTimeout(function(){
                    $('#login_btn').removeAttr('disabled')
                },0)}
            else
            {
                //  $form.find('.alert').html('登陆成功，返回userprofile，其中JMS-TOKEN为: ' + data.token +', id: ' + data.login).show();
                store.set('JMS-TOKEN',data.token);
                store.set('userProfile',data);
                location.href="index.html";

            }
        });
  
    });
</script>	