<div class="cont">
	<div class="r-header-body">
		<!--<div class="right-list">-->
		<label>项目步骤：
			<select name="dicCode">
			</select>
		</label>&nbsp;
		<label>客户区域：
			<select name="addressstr">
			</select>
		</label>&nbsp;
		<button id="search" class="button-sytle1">查询</button>
		<!--</div>-->
	</div>

	<table id="tablePo" class="tabletxt" cellspacing="0" width="100%">
		<thead>
		<tr>
			<th>序号</th>
			<th>用户姓名</th>
			<th>项目名称</th>
			<th>所在区域（权限）</th>
			<th>状态</th>
			<th>实际容量</th>
			<th>销售价格（瓦）</th>
			<th>建设成本</th>
			<th>开发费用</th>
			<th>净利</th>
		</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
</div>
<script>
	init("","");
	$('[name=addressstr]').selectautofill('sys/location/locationSelects',{headers:{'JMS-TOKEN':jmstoken}});
	$('[name=dicCode]').selectautofill('sys/steps/stepSelects',{headers:{'JMS-TOKEN':jmstoken}});
	$('#search').on('click', function () {
	var code =  $('[name=dicCode]').val();
	var addressstr =  $('[name=addressstr]').val();
	init(code,addressstr);
	})

	function init(code,addressstr){
	$('#tablePo').DataTable( {
	"ordering": false,
	"bDestroy": true,
	"processing": true,
	"serverSide": true,
	"stateSave": true,
	"stateDuration": -1,
	"ajax": {
	"type": 'POST',
	"url": $clientURL+"/report/report5Table",
	"dataType": "json",
	"headers":{'JMS-TOKEN':jmstoken},
	"data": {'locationId':addressstr,'stepId':code}
	},
	"language": {
	"url": "js/datatable/chinese.json"
	},

	dom: "tip",
	pageLength:"50"


	});
	}


</script>