<div class="cont">
    <div class="r-header-body">
        <!--<div class="right-list">-->
			<label>区域：
				<select name="addressstr">
				</select>
			</label>
        	<label>项目名称：
				<select name="dicCode">
				</select>
			</label>
            <label>月份：<input type="text" id="time" placeholder="例如：2017/08"></label>
            <button id="search" class="button-sytle1">查询</button>
        <!--</div>-->
    </div>
    
    <table id="tablePo1" class="tabletxt" cellspacing="0" >
        <thead>
            <tr>
                <th>序号</th>
                <th>用户姓名</th>
                <th>项目名称</th>
                <th>贷款金额</th>
                <th>每月还款金额</th>
				<th>年月</th>
				<th>发电量</th>
				<th>度电价格</th>
				<th>补贴价格</th>
				<th>实际月收入</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>
<script>
	init("","","");
	$('[name=addressstr]').selectautofill('sys/location/locationSelects',{headers:{'JMS-TOKEN':jmstoken}});
	$('[name=dicCode]').selectautofill('project/projectSelects',{headers:{'JMS-TOKEN':jmstoken}});
	$('#search').on('click', function () {

		var code =  $('[name=dicCode]').val();
		var addressstr =  $('[name=addressstr]').val();
		if(code){
			addressstr="";
		}
//		var time =  $('#time').val();
		init(code,addressstr,"");
	})

	function init(code,addressstr){
		$('#tablePo1').DataTable( {
			"ordering": false,
			"bDestroy": true,
			"processing": true,
			"serverSide": true,
			"stateSave": true,
			"stateDuration": -1,
			"ajax": {
				"type": 'POST',
				"url": $clientURL+"/report/report4Table",
				"dataType": "json",
				"headers":{'JMS-TOKEN':jmstoken},
				"data": {"projectId":code,'locationId':addressstr,'yearmonth':""}
			},
			"language": {
				"url": "js/datatable/chinese.json"
			},

			dom: "tip",
			pageLength:"50"


		});
	}


</script>