<div class="cont">
    <div class="r-header-body">
        <h2>消息中心</h2>
    </div>
    <table id="tableMsg" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>步骤</th>
                <th>名称</th>
                <th>最快天数</th>
                <th>最慢天数</th>
                <th>部门</th>
                <th>开始邮件</th>
                <th>结束邮件</th>
                <th>延迟邮件</th>
                <th>延迟1天邮件</th>
                <th>操作</th>
            </tr>
        </thead>
    </table>
</div>

<!-- 弹窗 start -->
    <div class="tcbox container-fluid" id="draggable1">
        <div class="tcbox_cont row">
            <div class="body-head-title">
                <span class="h-title">新建/编辑</span>
            </div>
            <form id="poForm" class="form-inline">
                <input type="button" class="tc_close">
                <input type="hidden" name="id" value="0"/>
                <div class="col-xs-12 mar-top-20px">
                    <div class="form-group">
                        <label style="text-align:center;width:80px;">开始邮件</label>
                        <input type="email" class="form-control input-w-3" name="start_email" data-bv-emailaddress data-bv-notempty/>
                    </div>
                </div>
                <div class="col-xs-12 mar-top-20px">
                    <div class="form-group">
                        <label style="text-align:center;width:80px;">结束邮件</label>
                        <input type="email" class="form-control input-w-3" name="end_email" data-bv-emailaddress data-bv-notempty/>
                    </div>
                </div>
                <div class="col-xs-12 mar-top-20px">
                    <div class="form-group">
                        <label style="text-align:center;width:80px;">延迟邮件</label>
                        <input type="email" class="form-control input-w-3" name="delay_email" data-bv-emailaddress data-bv-notempty/>
                    </div>
                </div>
                <div class="col-xs-12 mar-top-20px">
                    <div class="form-group">
                        <label style="text-align:center;width:80px;">延迟1天邮件</label>
                        <input type="email" class="form-control input-w-3" name="delay_more_email" data-bv-emailaddress data-bv-notempty/>
                    </div>
                </div>
                <div class="aligncenter">
                    <div class="form-group">
                        <button type="button" class="submit btn btn-primary ">保存</button>
                        <!--<button id="return" type="reset" class="btn  btn-info">返回</button>-->
                    </div>
                </div>
                <input type="hidden" id="idPo" name="idPo:number" />
            </form>
        </div>
    </div>

<script type="text/javascript">

function init(){
$('#tableMsg').DataTable( {
            "ordering": false,
            "bDestroy": true,
            "processing": true,
            "serverSide": true,
            "stateSave": true,
            "stateDuration": -1,
            "ajax": {
           "type": 'POST',
                    "url": $clientURL+"sys/noti/notiTable",
                    "dataType": "json",
           "headers":{'JMS-TOKEN':jmstoken}
            },
                "columnDefs": [
                {
                    "targets": -1,
                    "data": null,
                    "defaultContent": '<button class="button-edit" data-action="edit">编辑</button>'
                } ],
           "language": {
                            "url": "js/datatable/chinese.json"
                       },
          
            dom: "tip",
        pageLength:"50",
        initComplete: function(){
            //弹出框-编辑
            $('.button-edit').on('click', function () {
                if(!flag){
                    flag=1;
                    var action =$(this).data('action');
                    var actions={
                        'edit':function(){
                        var top = $('#body').scrollTop();
                        var left = $('#body').scrollLeft();

                        $('[name=id]').val($(this).parents('td').siblings().eq(0).text());
                        $('[name=start_email]').val($(this).parents('td').siblings().eq(5).text());
                        $('[name=end_email]').val($(this).parents('td').siblings().eq(6).text());
                        $('[name=delay_email]').val($(this).parents('td').siblings().eq(7).text());
                        $('[name=delay_more_email]').val($(this).parents('td').siblings().eq(8).text());

                            $('.tcbox').css({
                                top: $(window).height() * 0.2 + top,
                                left:$(window).height() * 0.5 + left
                            }).draggable().show();
                        }
                    };
                    actions[action].call(this);
                }
                else{
                    return false;
                }
            });}
});
}
init();

//弹出框
var flag=0;

//关闭
$('.tcbox').on('click','.tc_close',function(){
    $('.tcbox').hide();
    $('#poForm')[0].reset();
    flag=0;
});

//保存
$('.tcbox').on('click','.submit',function(){
    if(!validateForm($(this).parents('form'))) return;

    $.saveNoti(JSON.stringify({
        id : $('[name=id]').val()
    ,   start_email : $('[name=start_email]').val()
    ,   end_email : $('[name=end_email]').val()
    ,   delay_email : $('[name=delay_email]').val()
    ,   delay_more_email : $('[name=delay_more_email]').val()
    }), init);
    $('.tcbox .tc_close').trigger('click');
});

//表单验证
$("form").each(function(i,k) {
    $(k).bootstrapValidator();
});
function validateForm(elForm){
    var data = $(elForm).data('bootstrapValidator');
    data.validate();
    return data.isValid();
}
</script>
