<div class="cont">
    <div class="r-header-body">
        <button id="add" class="button-sytle1" data-action="new" style="float:right">新建</button>
    </div>
    <table id="tableProc" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>步骤编号</th>
                <th>步骤名称</th>
                <th>最快天数</th>
                <th>最慢天数</th>
                <th>部门</th>
                <th>表单</th>
                <th style="min-width:200px;">操作</th>
            </tr>
        </thead>
    </table>
</div>
    <!-- 弹窗 start -->
    <div class="tcbox container-fluid" id="draggable1">
        <div class="tcbox_cont row">
            <div class="body-head-title">
                <span class="h-title">新建/编辑</span>
            </div>
            <form id="poForm" class="form-inline">
               <input type="button" class="tc_close">
                <div class="col-xs-12 mar-top-20px">
                    <div class="form-group">
                        <label style="text-align:center;width:80px;">步骤编号</label>
                        <input type="text" class="form-control input-w-3" name="id" data-bv-notempty data-bv-numeric/>
                    </div>
                </div>
                <div class="col-xs-12 mar-top-20px">
                    <div class="form-group">
                        <label style="text-align:center;width:80px;">步骤名称</label>
                        <input type="text" class="form-control input-w-3" name="name" data-bv-notempty/>
                    </div>
                </div>
                <div class="col-xs-12 mar-top-20px">
                    <div class="form-group">
                        <label style="text-align:center;width:80px;">最快天数</label>
                        <input type="text" class="form-control input-w-3" name="forcastDays" data-bv-notempty data-bv-numeric/>
                    </div>
                </div>
                <div class="col-xs-12 mar-top-20px">
                    <div class="form-group">
                        <label style="text-align:center;width:80px;">最慢天数</label>
                        <input type="text" class="form-control input-w-3" name="lastedDays" data-bv-notempty data-bv-numeric/>
                    </div>
                </div>
                <div class="col-xs-12 mar-top-20px">
                    <div class="form-group">
                        <label style="text-align:center;width:80px;">部门</label>
                        <select class="input-w-3 form-control" name="dicCode"></select>
                    </div>
                </div>
                <div class="col-xs-12 mar-top-20px">
                    <div class="form-group">
                        <label style="text-align:center;width:80px;">表单</label>
                        <select class="input-w-3 form-control" name="form">
                            <option value="">无</option>
                            <option value="form1">form1</option>
                            <option value="form2">form2</option>
                            <option value="form3">form3</option>
                        </select>
                    </div>
                </div>
                <div class="aligncenter">
                    <div class="form-group">
                        <button type="button" class="btn btn-primary submit">保存</button>
                        <!--<button id="return" type="reset" class="btn  btn-info">返回</button>-->
                    </div>
                </div>
            </form>
        </div>
    </div>
<script type="text/javascript">
function init(){
    $('#tableProc').DataTable( {
                "ordering": false,
                "bDestroy": true,
                "processing": true,
                "serverSide": true,
                "stateSave": true,
                "stateDuration": -1,
                "ajax": {
               "type": 'POST',
                        "url": $clientURL+"sys/steps/stepsTable",
                        "dataType": "json",
               "headers":{'JMS-TOKEN':jmstoken},
               "data": {'dicDicId':1}
                    },
                    "columnDefs": [
                    {
                        "targets": -1,
                        "data": null,
                        "defaultContent": '<button class="button-edit" data-action="edit">编辑</button><button class="button-bin" data-action="del">删除</button>'
                    } ],
               "language": {
                                "url": "js/datatable/chinese.json"
                           },
              
                dom: "tip",
            pageLength:"50",
            initComplete: function(){
                $('#tableProc tr[role=row] td:nth-child(4)').each(function(i,k){
                    if($(k).text() == '是') $(k).next().html('-');
                });

                //弹出框-编辑
                $('.button-edit').on('click', function () {
                    if(!flag){
                        flag=1;
                        var action =$(this).data('action');
                        var actions={
                            'edit':function(){
                            var top = $('#body').scrollTop();
                            var left = $('#body').scrollLeft();
                            var _this = this;

                            $('[name=id]').val($(this).parents('td').siblings().eq(0).text());
                            $('[name=name]').val($(this).parents('td').siblings().eq(1).text());
                            $('[name=forcastDays]').val($(this).parents('td').siblings().eq(2).text());
                            $('[name=lastedDays]').val($(this).parents('td').siblings().eq(3).text());
                            $('[name=dicCode]').selectautofill('sys/dic/dicSelects',{headers:{'JMS-TOKEN':jmstoken}, data:{dicDicName:'Department'}},function(){
                            $('[name=dicCode] option').each(function(i,k){
                                    if(k.innerHTML == $(_this).parents('td').siblings().eq(4).text())
                                            k.selected = true;
                                   });
                            });
                            $('[name=form]').val($(this).parents('td').siblings().eq(5).text());

                                $('.tcbox').css({
                                    top: $(window).height() * 0.2 + top,
                                    left:$(window).height() * 0.5 + left
                                }).draggable().show();
                            }
                        };
                        actions[action].call(this);
                    }
                    else{
                        return false;
                    }
                });

                //弹出框-编辑
                $('.button-bin').on('click', function () {
                    if(confirm('确认删除？')){
                        $.delSteps($(this).parents('td').siblings().eq(0).text(), init);
                    }
                });
    }
    });
}

init();

//弹出框
var flag=0;

//新建
$('button#add').on( 'click', function () {
    if(!flag){
        flag=1;
        var action =$(this).data('action');
        var actions={
            'new':function(){
            var top = $('#body').scrollTop();
                var left = $('#body').scrollLeft();
                $('.tcbox').css({
                    top: $(window).height() * 0.2 + top,
                    left:$(window).height() * 0.5 + left
                }).draggable().show();
                $('[name=dicCode]').selectautofill('sys/dic/dicSelects',{headers:{'JMS-TOKEN':jmstoken}, data:{dicDicName:'Department'}});
            }
        };
        actions[action]();
    }
    else{
        return false;
    }
});

//关闭
$('.tcbox').on('click','.tc_close',function(){
    $('.tcbox').hide();
    $('#poForm')[0].reset();
    flag=0;
});

//保存
$('.tcbox').on('click','.submit',function(){
    if(!validateForm($(this).parents('form'))) return;

    $.saveSteps(JSON.stringify({
        id : $('[name=id]').val()
    ,   name : $('[name=name]').val()
    ,   dic: { id: $('[name=dicCode]').val() }
    ,   forcastDays : $('[name=forcastDays]').val()
    ,   lastedDays : $('[name=lastedDays]').val()
    ,   form : $('[name=form]').val()
    ,   descr : $('[name=descr]').val()
    }), init);
    $('.tcbox .tc_close').trigger('click');
});

//表单验证
$("form").each(function(i,k) {
    $(k).bootstrapValidator();
});
function validateForm(elForm){
    var data = $(elForm).data('bootstrapValidator');
    data.validate();
    return data.isValid();
}
</script>
