<div class="cont">
    <div class="r-header-body">
        <h2>权限设置</h2>
    </div>
    <form>
    	<div>
    		<label>姓名：<select id="name"></select></label>
    	</div>  	
    	<h5 style="padding:15px 0px 10px;">区域分配</h5>
    	<table id="tableRoleLocation" width="330px" cellpadding="0" cellspacing="0" style="float:left"><thead>
            <tr><th style="text-align: center;">ID</th>
    		<th style="text-align: center;">地域</th>
            <th style="text-align: center;">权限</th></tr>
            </thead>
    	</table>
    	
    	<h5 style="padding:15px 0px 10px;">页面访问权限</h5>
    	<table id="tablePermission" class="tabletxt" width="300px" cellpadding="0" cellspacing="0" style="float:left">
    		<thead>
            <tr>
            <th style="text-align: center;">ID</th>
            <th style="text-align: center;">页面名</th>
            <th style="text-align: center;">权限</th>
            </tr></thead>
    	</table>
    	<p style="padding:15px 0px;width: 330px;text-align: center;"><button type="button" class="btn btn-primary submit">保存</button></p>
    </form>
</div>

<script type="text/javascript">

$('#name').change(init);

$('#name').selectautofill('sys/user/userSelects',{headers:{'JMS-TOKEN':jmstoken}},function(data){
    setTimeout("$('#name').trigger('change')",300);
});


function init(){

    $('#tableRoleLocation').DataTable( {
                "ordering": false,
                "bDestroy": true,
                "processing": true,
                "serverSide": true,
                "stateSave": true,
                "stateDuration": -1,
                "ajax": {
                "type": 'POST',
                        "url": $clientURL+"sys/role/locationTable",
                        "dataType": "json",
                "headers":{'JMS-TOKEN':jmstoken},
                "data": {'roleId':$('#name').val()}
                    },
                    
                "language": {
                                "url": "js/datatable/chinese.json"
                           },
              
                dom: "t",
            pageLength:"50",
            initComplete: function(){
                $('#tableRoleLocation').html(
                    $('#tableRoleLocation').html().replace(/<td>有<\/td>/ig,'<td><input type="checkbox" checked/></td>')
                );
                $('#tableRoleLocation').html(
                    $('#tableRoleLocation').html().replace(/<td>无<\/td>/ig,'<td><input type="checkbox"/></td>')
                );
    }
    });

     $('#tablePermission').DataTable( {
                "ordering": false,
                "bDestroy": true,
                "processing": true,
                "serverSide": true,
                "stateSave": true,
                "stateDuration": -1,
                "ajax": {
                "type": 'POST',
                        "url": $clientURL+"sys/role/pageTable",
                        "dataType": "json",
                "headers":{'JMS-TOKEN':jmstoken},
                "data": {'roleId':$('#name').val()}
                    },

                "language": {
                                "url": "js/datatable/chinese.json"
                           },
              
                dom: "t",
            pageLength:"50",
            initComplete: function(){
                $('#tablePermission').html(
                    $('#tablePermission').html().replace(/<td>有<\/td>/ig,'<td><input type="checkbox" checked/></td>')
                );
                $('#tablePermission').html(
                    $('#tablePermission').html().replace(/<td>无<\/td>/ig,'<td><input type="checkbox"/></td>')
                );
    }
    });
}

    //保存
    $('.submit').on('click',function(){

     var data = {
           idRole : $('#name').val()/1
        ,  locationList : []
        ,  pageList:[]
        };

        $('#tableRoleLocation td:nth-child(3) input').each(function(i,k){
            if(k.checked){
                data.locationList.push({idLocation: $(k).parents('td').siblings().eq(0).text()});
            }
        });
        $('#tablePermission td:nth-child(3) input').each(function(i,k){
            if(k.checked){
                data.pageList.push({idPage: $(k).parents('td').siblings().eq(0).text()});
            }
        });

        $.savePermission(JSON.stringify(data),init);

    });
</script>

