<div class="cont">
    <div class="r-header-body">
        <h2>子区域</h2>
    </div>
    <table id="tableSYS" class="tabletxt" cellspacing="0" width="300px">
        <thead>
            <tr>
                <th>主区域</th>
                <th>子区域</th>
            </tr>
        </thead>
        <tbody>
        	<tr role="row" class="odd">
        		<td>江苏无锡</td>
        		<td>江阴xxx县</td>
        	</tr>
        	<tr role="row" class="even">
        		<td>上海</a></td>
        		<td>徐汇区肇家浜890号</td>
        	</tr>
        	<tr role="row" class="odd">
        		<td>江苏常州</td>
        		<td>XXX街道</td>
        	</tr>
        </tbody>
    </table>
</div>