<!--主模板-->
<script type="text/template" id="mainContent">
    <div class="index_cont">
		<div class="top_banner">
            <img src="images/WechatIMG9.jpg" height="750px" id="bg" style="position:absolute;left: 0;
    right: 0px;
    top: 0px;
    bottom: 0px;
    height: 374px;
    width: 1286px;"/>
            
        </div>
		<div class="home_content" style="position: absolute;left:67px;top:21px;">
            <h1 style="height: 100px;width: 230px;background: url(images/WechatIMG13.jpg) no-repeat;background-size:100%;float: left"></h1>
			<p style="font-size:40px;line-height: 80px;text-align: center; color:green;float: left;">
            恺.创新生活 
            达.绿色中国
            </p>
		</div>
	</div>
    <div class="tcbox container-fluid" id="nullAlert">
        <div class="tcbox_cont row">

            <div class="body-head-title">
            </div>
            <input type="button" class="tc_close" onClick="javascript:hideObj('#nullAlert');">
            <div class="col-xs-12 mar-top-20px">
                <div class="form-group">
                    <label id="info"></label>
                </div>
            </div>
        </div>
    </div>
</script>
<script type="text/javascript">

    function showObj(objid){
        $(objid).show();

    }
    function hideObj(objid){
        $(objid).hide();
    }

        var app={
            init:function(){
                $("#body").html($('#mainContent').html());
//              this.bindEvents();
            },
            nullAlertShow:function(information){
                var top = $('#body').scrollTop();
                $('#nullAlert').css({
                    top: $(window).height() * 0.2 + top
                }).show();
                $('#info').empty();
//              $('#info').append(information);
				$('#info').append("加载中...");
            }
        };
        app.init();
</script>