body{

}
.container{
	width: 880px;
  padding: 0;
	position: relative;
}

/*----------header----------*/
header{

}

/*----------main----------*/
main{

}

/*----------footer----------*/
footer{

}

/*----------customize----------*/