@charset "utf-8";body{font-family:"Microsoft YaHei",Geneva,Arial,Helvetica,sans-serif !important;font-size:10pt;}
button,dd,dl,dt,li,ol,p,ul{margin:0;padding:0;border:0;list-style:none}
img{vertical-align:middle}
textarea{border:1px solid #ccc;padding:5px;vertical-align:top;width:500px}
input[type=button]{border:0}
input[type=text]{border:1px solid #ccc;height:28px;line-height:28px;border-radius:5px;padding:0 5px;box-shadow:0 1px 1px rgba(0,0,0,.075) inset;color:#555;outline:0}
input[type=text]:focus{border-color:#66afe9;outline:0;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);height:28px;line-height:28px}
input{background-color:expression((this.readOnly && this.readOnly == true)? "#eee":"")}
input[readonly]{background:#efefef}
input[readonly]:focus{box-shadow:none}
#draggable1{cursor:move}
.ui-layout-pane{background:#fff;border:0;padding:0;overflow-y:auto}
.ui-layout-content{padding:0;position:relative;overflow:auto}
.layout-child-container,.layout-content-container{padding:0;overflow:hidden}
.layout-child-container{border:0}
.layout-scroll{overflow:auto}
.layout-hide{display:none}
.ui-layout-resizer{background:#ddd;border:0}
.ui-layout-resizer-dragging,.ui-layout-resizer-open-hover{background:#C4E1A4}
.ui-layout-resizer-dragging{border:1px solid #BBB}
.ui-layout-resizer-north-dragging,.ui-layout-resizer-south-dragging{border-width:1px 0}
.ui-layout-resizer-east-dragging,.ui-layout-resizer-west-dragging{border-width:0 1px}
.ui-layout-resizer-dragging-limit{background:#E1A4A4}
.ui-layout-resizer-closed-hover{background:#EBD5AA}
.ui-layout-resizer-sliding{opacity:.1;filter:alpha(opacity=10)}
.ui-layout-resizer-sliding-hover{opacity:1;filter:alpha(opacity=100)}
.ui-layout-resizer-north-sliding-hover{border-bottom-width:1px}
.ui-layout-resizer-south-sliding-hover{border-top-width:1px}
.ui-layout-resizer-west-sliding-hover{border-right-width:1px}
.ui-layout-resizer-east-sliding-hover{border-left-width:1px}
.ui-layout-toggler{border:1px solid #BBB;background-color:#BBB}
.ui-layout-resizer-hover .ui-layout-toggler{opacity:.6;filter:alpha(opacity=60)}
.ui-layout-resizer-hover .ui-layout-toggler-hover,.ui-layout-toggler-hover{background-color:#FC6;opacity:1;filter:alpha(opacity=100)}
.ui-layout-toggler-north,.ui-layout-toggler-south{border-width:0 1px}
.ui-layout-toggler-east,.ui-layout-toggler-west{border-width:1px 0}
.ui-layout-resizer-sliding .ui-layout-toggler{display:none}
.ui-layout-toggler .content{color:#666;font-size:12px;font-weight:700;width:100%;padding-bottom:.35ex}
.ui-layout-mask{border:none!important;padding:0!important;margin:0!important;overflow:hidden!important;position:absolute!important;opacity:0!important;filter:Alpha(Opacity="0")!important}
.ui-layout-mask-inside-pane{top:0!important;left:0!important;width:100%!important;height:100%!important}
.ui-layout-center{border:0;z-index:0}
#footer{background:#d6d6d6;color:#585858;font-size:14px;line-height:30px;text-align:center}
.header{height:55px;background:#374370;position:fixed;width:100%;z-index:0;line-height:55px;color:#fff;font-size:10pt;font-weight:bold;}
.logo{width:160px;float:left;padding:6px 0 0 20px}
.header .menu{width:auto;float:right;padding-right:75px;position:relative;}
.header .logininfo{width:auto;float:left;padding-left:300px;position:relative;}
.header .menu>ul>li{float:left;margin-left:35px}
.header .menu .item>p a{color:#fff}
.header .menu .item>p .aw{display:block;background:url(../images/top/ico_l2-4a.png) no-repeat 100% 50%;padding-right:18px}
.in_menu{width:143px;border:1px solid #e5e7e9;position:absolute;top:55px;right:4px;background:#fff;display:none;z-index:1000}
li:hover .in_menu{display:block}
.in_menu p{border-bottom:1px solid #eff1f3;text-align:left;margin:0;padding:0}
.in_menu p.nobb{border-bottom:none}
.in_menu p a{display:block;line-height:24px;text-align:left;color:#222933;text-indent:10px;font-size:12px}
.in_menu p a.on,.in_menu p a:hover{background:#f8fafc;color:#00a9ff;text-decoration:none}
.menu-sub{width:70px;float:left;cursor:pointer;text-align:center}
.menu-sub.selected{border:1px solid #bbb;border-radius:5px}
.menu-img{border-radius:50%;width:55%}
.menu-fieldset{padding:10px 0 10px 10px;border:1px solid #ccc;width:90%;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;-ms-border-radius:5px;text-align:left}
.menu-legend{border:0;display:block;width:auto;padding:0;margin-bottom:0;font-size:14px;line-height:inherit;color:#333;text-align:left}
.img_logo{border-radius:50%;width:200px;height:150px}
.none{display:none}
.hidden{visibility:hidden}
.font-12px{font-size:12px}
.btn-login{width:100%;height:30px;text-align:center;background:#1BB933;color:#fff;border:none;border-radius:5px;cursor:pointer}
.btn-reg{width:100%;height:30px;text-align:center;background:#0af;color:#fff;border:none;border-radius:5px;cursor:pointer}
.height50{height:50px}
.input-div{height:50px!important}
.ct{padding:0 50px}
.hd{width:100%;text-align:center;font-size:18px;font-weight:400;color:#777}
.select option{padding:0}
.select-div select{width:320px;height:30px;margin-right:60px;margin-left:30px}
.input-css{width:320px!important;height:30px;border:1px solid #dcdcdc!important;border-radius:3px;margin-left:30px}
.help-block{margin-left:32px}
.checkbox2{padding-top:8px;padding-left:30px}
.checkbox2 label{color:#AFAFAF;font-weight:400}
.error-box{width:100%;margin:0 auto;padding:0;height:30px;line-height:30px;text-align:center;font-size:12px;background:#ffc7c7;color:#e60049;margin-top:16px}
.sousuo{display:inline-block;float:left;margin-right:10px}
.ss-input{float:left;width:170px;height:30px;border:solid 1px #dfe3e9;border-radius:5px 0 0 5px;background:#fff;padding-left:10px;overflow:hidden}
.ss-input input{border:none;line-height:30px;height:30px}
.sousuo a{float:left;display:inline-block;width:80px;height:30px;line-height:30px;text-decoration:none;background:#f4f7fa;border-radius:0 5px 5px 0;border:1px solid #dfe3e9;border-left:none;background:#f4f7fa;overflow:hidden;text-align:center;color:#afafaf;vertical-align:middle}
.sousuo a:hover{background:#00a9ff;border-color:#00a9ff;color:#fff;text-decoration:none}
.sousuo .icon-ss-bg{display:inline-block;width:16px;height:16px;background:url(../images/icon_ss.png) no-repeat;overflow:hidden;margin-right:6px;vertical-align:middle}
.sousuo a:hover .icon-ss-bg{background:url(../images/icon_ss.png) 0 -16px no-repeat}
.btn-group-left{float:left;margin-right:20px}
.button-bin,.button-edit,.button-finish,.button-po-auto,.button-print,.button-sytle1{display:inline-block;height:20px;padding:0 10px;color:#fff;text-decoration:none;background:#0af;font-size:12px;line-height:20px;border-radius:5px}
.button-bin:hover,.button-edit:hover,.button-finish:hover,.button-po-auto:hover,.button-print:hover,.button-sytle1:hover{background:#0091ff;color:#fff;text-decoration:none}
.button-sytle1{height:30px;padding:0 15px;font-size:14px}
.button-delete,.button-sytle2{display:inline-block;height:30px;padding:0 15px;color:#fff;text-decoration:none;background:#d9534f;font-size:14px;line-height:30px;border-radius:5px}
.button-bin,.button-delete,.button-edit,.button-finish,.button-po-auto,.button-print{height:20px;padding:0 10px;line-height:20px;margin:0 3px;font-size:12px}
.button-delete:hover,.button-sytle2:hover{background:#c9302c;color:#fff;text-decoration:none}
.right-list{float:right}
.main-body{padding:20px}
.table-ul-div{border:1px solid #e7e9ed;min-width:1040px}
.table-ul-div .table-ul-th{height:38px;border-bottom:1px solid #e7e9ed;background:#F8FAFC}
.table-ul-div .table-ul-th li{float:left;list-style:none;color:#7f8fad;font-size:14px;font-weight:700;border-right:1px solid #e7e9ed;line-height:38px;padding-left:20px}
.li-th-1{width:10%}
.li-th-2{width:15%}
.li-th-3,.li-th-4,.li-th-5,.li-th-6,.li-th-7{width:10%}
.li-th-8{width:25%;border:none!important;min-width:250px!important}
.table-ul-tr{border-bottom:1px solid #e7e9ed;height:48px;line-height:48px}
.table-ul-tr li{float:left;padding-left:20px;border-right:1px solid #e7e9ed}
.r-header-body{padding:5px 10px;background:#f4f7fa;border:solid 1px #dfe3e9;width:100%;clear:both;float:left;margin-bottom:5px}
.r-header-body label{width:auto;float:left;color:#666;line-height:28px;margin-bottom:0}
.border-none{outline:0!important;box-shadow:none!important;border:none!important}
.margin-right-10{margin-right:10px}
.body-head-title{height:30px;line-height:30px;color:#f4f7fa;font-size:14px;background:#88b5ed;border-bottom:1px solid #dfe3e9;margin:0 10px}
.body-head-title .h-title{margin-left:15px;cursor:pointer;padding:0 5px}
.body-head-title .h-title b{color:#fff}
.input-w-160{width:130px!important;text-align:right;font-weight:400}
.input-w-300{width:500px!important}
.input-w-3{width:180px!important}
.input-w-2{width:120px!important}
.mar-top-20px{margin-top:10px!important}
.a-upload{display:inline-block;overflow:hidden;width:196px;height:210px;background:#f7f7f7;border:1px solid #c7c7c7;position:relative;border-radius:5px;margin-top:10px}
.a-upload:hover{background:url(../images/wuliao.png) #e9e9e9 center center no-repeat;border:1px solid #9f9f9f}
.a-upload input{position:absolute;font-size:600px;right:0;top:0;opacity:0;filter:alpha(opacity=0);cursor:pointer}
.a-upload img{position:absolute;top:50%;left:50%;margin-top:-58px;margin-left:-64px;border:none}
.bg-img{background:url(../images/wuliao.png) #f7f7f7 center center no-repeat}
.select-cs1{height:30px;border:1px solid #ccc;border-radius:5px;width:260px;vertical-align:top}
.inherit{display:inline!important}
.foot-btn-box{width:100%;height:80px;border-top:1px solid #dfe3e9;background:#f4f7fa;margin-top:20px;text-align:center;padding-top:20px}
.help-block{text-align:right!important}
.radio-w{width:30px!important;margin:10px!important}
.radio-font label{font-weight:400;margin-left:5px;margin-right:30px;cursor:pointer}
.title-box{width:100%;height:38px;line-height:38px;color:#7f8fad;border-bottom:1px solid #e1e1e8;border-radius:5px;margin:10px auto 0 auto}
.form-box{width:90%;margin:0 auto}
.cont{padding:5px 10px 0 10px}
.tablist{width:100%;float:left;clear:both;margin:0}
.tablist li{width:auto;padding:3px 10px;float:left;background:#f4f7fa;color:#666;margin-right:2px;cursor:pointer;border-top-left-radius:5px;border-top-right-radius:5px}
.tablist li.cur{background:#78b4fd;color:#fff;font-weight:700}
table th{white-space:nowrap}
th:last-child{border-right:0}
.display{width:99.98%}
.dataTables_empty{min-height:350px}
.print_box{border:1px solid #ddd;margin:34px 10px 0 10px;height:300px}
.matlist{width:100%;float:left;clear:both;position:relative}
.matlist dt{width:60px;float:left;text-align:center;height:28px;line-height:28px}
.matlist dd{width:auto;float:left;line-height:28px;height:28px}
#matlist dd input[type=text]{width:70px;line-height:28px;height:28px}
#matlist dd input[type=text]:focus{line-height:28px;height:28px}
#matlist select{width:auto}
#matlist a.button-sytle1{margin-left:5px;font-size:20px;font-weight:700;cursor:pointer;font-family:Verdana;width:40px;padding:0;text-align:center}
#matlist dl dd a{height:30px;line-height:28px;vertical-align:top}
.link-title{line-height:30px}
.link-title span{padding:0 5px}
#matlist .new-income-list-nav li,#matlist-ul li{width:auto;float:left;display:inline-table;padding:0 6px;margin-right:4px;min-width:70px;text-align:left}
.dataTable td .button-sytle1{height:20px;padding:0 10px}
.tc_close{width:13px;height:13px;background:url(../images/close.png) no-repeat;transition:all .5s ease-in-out 0s;-webkit-transition:all .5s ease-in-out 0s;border:0}
.tcbox,.tcboxPassword{width:400px;padding-bottom:10px;z-index:1001;display:none;overflow:hidden;background:#fff;border-radius:5px;position:absolute;border:6px solid #eee;left:32%;top:20%;box-shadow:0 0 10px rgba(0,0,0,.5)}
.tcbox_cont{position:relative}
.tcbox_cont .tc_close{position:absolute;right:10px;top:8px}
.aligncenter{text-align:center;padding:20px 0 10px 0;clear:both}
.tcbox_cont .body-head-title{margin:0;background:#0af}
.tcbox_cont .h-title{margin-left:8px;font-weight:700}
.input-w-80{font-weight:100;width:80px;text-align:right;padding-right:10px}
#MCateForm input,#MCateForm textarea{width:220px}
#tcbox-pcpplist{width:550px;left:25%}
#tcbox-pcpplist label{width:90px;text-align:right;font-weight:100}
#tcbox-pcpplist input[type=date],#tcbox-pcpplist input[type=text],#tcbox-pcpplist select{width:150px}
.pwoDetail{border:1px solid #ddd}
.pwoDetail th{padding:5px 0;text-align:center;background:#fbfbfb}
.pwoDetail td{padding:4px 0;border:1px solid #ddd;border-collapse:collapse}
.pwoDetail input,.pwoDetail input[readonly],.pwoDetail select{background:0 0;box-shadow:none;line-height:22px;border-radius:0;border:1px solid #eee}
.pwoDetail select{width:157px}
.mbr_cont{margin:10px;border:1px solid #ddd;border-bottom:0}
.mbr_cont thead th{background:#fff;text-align:center;font-size:16px;padding:5px 0;border-bottom:0}
.mbr_cont thead{font-weight:700}
.mbr_cont td{border:1px solid #ddd}
.mbr_boxmid{min-height:400px}
.mbr_cont tbody th{text-align:center;border:0;padding:4px 0}
.mbr_cont td{padding:2px 0 2px 10px;font-size:12px}
.mbr_cont tr td:last-child{border-right:0}
.mbr_cont input[type=text]{border:0;box-shadow:none;border-bottom:1px solid #ccc;border-radius:0}
.datetime{width:auto;float:left}
.datetime label{float:left;line-height:28px;padding-right:5px;font-weight:100;padding-left:75px}
.datetime .date{width:158px;float:right}
.changerep_cont table{margin:8px 0 8px 41px;border:1px solid #ddd}
.changerep_cont table th{padding:5px;text-align:center}
.changerep_cont #matlist{margin-left:40px}
.changerep_cont #matlist input[type=text]{width:auto}
.changerep_cont #matlist dl{margin:5px 0}
input.error,select.error,textarea.error{border-color:#a94442;color:#a94442;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);box-shadow:inset 0 1px 1px rgba(0,0,0,.075)}
input.error:focus,select.error:focus,textarea.error:focus{border-color:#843534;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483;box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483}
.bootstrap-datetimepicker-widget table td{text-indent:0}
.aligncenter .enclosure{position:relative;width:80%;height:100px;color:#e1e1e8;border:1px solid #e1e1e8;margin:0 auto 20px;overflow-y:scroll}
.aligncenter .enclosure .dz-preview.dz-image-preview{background:0 0!important}
.aligncenter .enclosure .dz-error-mark,.aligncenter .enclosure .dz-success-mark{display:none!important}
.aligncenter .enclosureList{text-align:left;width:80%;margin:0 auto 10px}
.aligncenter .enclosureItem{line-height:2em;overflow:hidden}
.aligncenter .enclosureItem a.close{float:right;font-weight:700}
.aligncenter .dropUrl{display:inline-block;width:100px;height:40px;line-height:40px;text-align:center}
.tcbox_cont .body-head-title{margin:0;background:#0af}
.tcbox_cont .h-title{margin-left:8px;font-weight:700}
.input-w-80{font-weight:100;width:80px;text-align:right;padding-right:10px}
#MCateForm input,#MCateForm textarea{width:220px}
.multipleSelect option{display:none}
#employeeForm .action-txt a,#matlist .action-txt a{width:auto;font-size:14px;line-height:30px;padding:0 10px}
#body-center{position:absolute!important}
@media screen and (-ms-high-contrast:active),(-ms-high-contrast:none){　　　　 *{　　　　　　box-sizing:content-box;　　　　　　-moz-box-sizing:inherit;　　　　　　-webkit-box-sizing:inherit}
}
.help-block{width:auto;text-align:left}
#matlist .help-block{text-align:center;width:auto;float:left;margin:5px}
#drawId{width:100%;padding:10px 10px;height:auto;min-height:auto;border:2px dashed rgba(0,0,0,.3);text-align:center}
#drawId:hover{background:0 0;background-color:rgba(0,0,0,.1)}
#drawId .dz-preview{width:100%;margin:0;height:auto;min-height:auto}
#drawId .dz-details{position:static;opacity:1;padding:10px 0}
#drawId .dz-filename{overflow:hidden}
#drawId .dz-filename span[data-dz-name]{float:left;font-weight:700;width:70%;height:21px;padding:0;margin:0;border:0;text-align:left;text-overflow:ellipsis;background-color:transparent;overflow:hidden;cursor:pointer}
#drawId .dz-filename a{cursor:pointer}
#drawId .dz-filename span[data-dz-size]{float:right;padding:0;margin:0;height:21px;border:0;background-color:transparent}
#drawId .dz-filename span[data-dz-remove]{float:right;padding:0 6px;margin:0 0 0 2px;height:21px;border:0;background-color:transparent}
#drawId .dz-preview.dz-image-preview{background-color:transparent}
.matlist button{text-align:center}
#tcbox-pcpplist01{width:700px;left:25%}
#tcbox-pcpplist01 label{width:90px;text-align:right;font-weight:100}
#tcbox-pcpplist01 input[type=date],#tcbox-pcpplist01 input[type=text],#tcbox-pcpplist01 select{width:100px}
.checkPlan{border:1px solid #ddd}
.checkPlan th{padding:5px 0;text-align:center;background:#fbfbfb}
.checkPlan td{border:1px solid #ddd;border-collapse:collapse;text-align:center}
.sparePartHistory table{margin:8px 0 8px 134px!important;border:1px solid #ddd}
.sparePartHistory #matlist{margin-left:134px!important}
#ncrForm table td .img{overflow:hidden;text-align:center}
#ncrForm table td .img img{max-height:300px}
.body-head-title .h-title-selected{margin-left:15px;cursor:pointer;padding:0 5px;border:1px solid #00a2ea;background:#F90}
.kpi{border:1px solid #ddd}
.kpi th{padding:5px 0;text-align:center;background:#fbfbfb}
.kpi td{padding:4px 0;border:1px solid #ddd;border-collapse:collapse;height:30px}
.kpi input,.pwoDetail input[readonly],.pwoDetail select{background:0 0;box-shadow:none;line-height:22px;border-radius:0;border:1px solid #eee}
.kpi select{width:157px}
.btn-link.selected,.btn-link.selected:hover{background:#00A2EA;color:#fff;border-radius:5px}
.filter .btn.active{background:#00A2EA;color:#fff;border-color:#00A2EA}
.menu_left{height:100%;color:#fff;background-color:#2b333e}
.menu_left ul{display:block}
.menu_left ul li span{cursor:pointer}
.menu_left>ul>li>span{display:block;height:42px;line-height:42px;font-size:16px;padding-left:25px;background-color:#222933}
.menu_left>ul>li{border-bottom:1px solid #2b333e}
.menu_left ul.child>li>span{display:block;line-height:36px;font-size:14px;padding-left:40px}
.menu_left ul.child>li.active{background-color:#02a9ff;color:#b3e2fa}

.top_banner img{width: 100%;}
.tabletxt{border-right:1px solid #dfe3e9;border-bottom: 1px solid #dfe3e9;}
.tabletxt tr th,.tabletxt tr td{border-left:1px solid #dfe3e9;border-top:1px solid #dfe3e9;font-size:14px;line-height: 16px;height: 16px;padding:3px;text-align: center;}

.r-header-body h2{display:inline;font-size:18px;line-height:30px;}
