/*----------pages.css----------*/
.logo{
  width: 80px;
  height: 40px;
}
.ui-table1{
  font-family: Arial, 黑体;
  /*font-family: Arial;*/
  position: relative;
}
.ui-table1 >table{
  border: 1px solid #000;
  width: 100%;
}
.ui-table1.no-border >table{
  border: none;
}
.ui-table1 >table >tbody{

}
.ui-table1 >table >tbody >tr{
  border-bottom: 1px solid #000;
}
.ui-table1.no-border >table >tbody >tr{
  border-bottom: none;
}
.ui-table1 >table >tbody >tr >td{
  border-right: 1px solid #000;
  padding: 5px;
  color: #000;
}
.ui-table1.style1 >table >tbody >tr >td{
  color: #808080;
}
.ui-table1.no-border >table >tbody >tr >td{
  border-right: none;
}
.ui-table1 >table >tbody >tr >td[colspan='1']{
  width: 10%;
}
.ui-table1 >table >tbody >tr >td[colspan='2']{
  width: 20%;
}
.ui-table1 >table >tbody >tr >td[colspan='3']{
  width: 30%;
}
.ui-table1 >table >tbody >tr >td[colspan='4']{
  width: 40%;
}
.ui-table1 >table >tbody >tr >td[colspan='5']{
  width: 50%;
}
.ui-table1 >table >tbody >tr >td[colspan='6']{
  width: 60%;
}
.ui-table1 >table >tbody >tr >td[colspan='7']{
  width: 70%;
}
.ui-table1 >table >tbody >tr >td[colspan='8']{
  width: 80%;
}
.ui-table1 >table >tbody >tr >td[colspan='9']{
  width: 90%;
}
.ui-table1 >table >tbody >tr >td[colspan='10']{
  width: 100%;
}

.ui-table1 input[type='checkbox']{
  vertical-align: middle;
  margin: 0;
}
.ui-table1 .title1{
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  font-family: 'Times New Roman';
}
.ui-table1 .name{
  font-size: 13px;
}
.ui-table1 div.input-line{
  margin: 0 20px;
}
.ui-table1 span.input-line{
  display: inline-block;
}
.ui-table1 .input-line span{
  display: block;
  border-bottom: 1px dotted #000;
  height: 2em;
  line-height: 2em;
  text-align: left;
}
.ui-table1 .delline{
  background-color: #fff;
  position: absolute;
}
.ui-text{
  margin: 0 20px;
}
.ui-text p{
  font-size: 13px;
  color: #000;
  line-height: 25px;
  text-indent: -2em;
  padding-left: 2em;
}
.ui-text p.nopl{
  padding-left: 0;
  text-indent: 0;
  line-height: 20px;
  font-size: 10px;
}
.ui-table1 .tname{
  font-size: 15px;
  color: #0000ff;
}
.ui-table1 textarea{
  font-size: 15px;
  padding: 0;
  margin: 0;
  border: none;
  resize: none;
  /*width: 100%;*/
  /*height: 100%;*/
  /*text-decoration: underline;*/
}

/*----------customize----------*/

.ui-excel.span64{
  width: 2250px!important;
}
.ui-excel.span46{
  width: 1140px!important;
}
.ui-excel table{
  width: 100%!important;
  border-bottom: 1px solid #000!important;
}
.ui-excel tr{
  border-bottom: 1px solid #000!important;
}
.ui-excel td{
  border-right: 1px solid #000!important;
  padding: 5px!important;
  font-size: 13px!important;
  position: relative!important;
}
.ui-excel.span64 td{
  width: 1.66%!important;
}
.ui-excel.span46 td{
  width: 2.17%!important;
}
.ui-excel.span64 td[colspan='1']{
  width: 1.66%!important;
}
.ui-excel.span64 td[colspan='2']{
  width: 3.32%!important;
}
.ui-excel.span64 td[colspan='3']{
  width: 4.98%!important;
}
.ui-excel.span64 td[colspan='4']{
  width: 6.64%!important;
}
.ui-excel.span64 td[colspan='5']{
  width: 8.30%!important;
}
.ui-excel.span64 td[colspan='6']{
  width: 9.96%!important;
}
.ui-excel.span64 td[colspan='7']{
  width: 11.62%!important;
}
.ui-excel.span64 td[colspan='8']{
  width: 13.28%!important;
}
.ui-excel.span64 td[colspan='9']{
  width: 14.94%!important;
}
.ui-excel.span64 td[colspan='10']{
  width: 16.60%!important;
}
.ui-excel.span64 td[colspan='13']{
  width: 21.68%!important;
}
.ui-excel.span64 td[colspan='24']{
  width: 39.84%!important;
}

.ui-excel.span46 td[colspan='1']{
  width: 2.17%!important;
}
.ui-excel.span46 td[colspan='2']{
  width: 4.34%!important;
}
.ui-excel.span46 td[colspan='3']{
  width: 6.51%!important;
}
.ui-excel.span46 td[colspan='4']{
  width: 8.68%!important;
}
.ui-excel.span46 td[colspan='5']{
  width: 10.85%!important;
}
.ui-excel.span46 td[colspan='6']{
  width: 13.02%!important;
}
.ui-excel.span46 td[colspan='7']{
  width: 15.19%!important;
}
.ui-excel.span46 td[colspan='8']{
  width: 19.53%!important;
}
.ui-excel.span46 td[colspan='9']{
  width: 14.94%!important;
}
.ui-excel.span46 td[colspan='10']{
  width: 21.7%!important;
}
.isplittitle{
  position: absolute!important;
  top: 0!important;;
  left: 0!important;
  width: 100%!important;
  height: 100%!important;
  background: url(../img/iline.png) no-repeat 0 0!important;
  background-size: 100% 100%!important;
}
.isplittitle p{
  height: 40px!important;
  line-height: 40px!important;
  width: 100%!important;
  position: relative!important;
  padding: 0 5px!important;
  text-indent: 0!important;
}

.isplittitle p span{
    position: absolute;
    left: 0;
    width: 100%;
}
.isplittitle p span.pull-right{
    top: 0;
    text-align: right;
    line-height: 26px;
    padding-right: 4px;
}

.isplittitle p span.pull-left{
    bottom: 0;
    text-align: left;
    line-height: 28px;
    padding-left: 4px;
}
/*----------customize----------*/