body{
  font-size: 14px;
  color: #000;
}
.container{
	width: 1024px;
	padding: 0;
	position: relative;
}

/*----------header----------*/
header{

}

/*----------main----------*/
main{

}

/*----------footer----------*/
footer{

}

/*----------customize----------*/